.main-wrapper{
  .my-page{
    &__form{
      margin: 8.75rem auto 4rem;
      max-width: 36.5rem;
    }
  }
}
select{
  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  appearance:none;
}
.nav-datatable{
  .input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu){
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  select{
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
  }
  .form-control, .form-select{
    height: 40px;
    padding:8px;
  }
  .form-select{
    color: $primary;
    padding-left: 16px;
    line-height: 1rem;
  }
  .date{
    .form-control{
      padding-left: 45px;
    }
   
    img{
      position: absolute;
      top: 50%;
      left: 16px;
      transform: translateY(-50%);
    }
  }
}
.main{
  .table{
    thead{
      background-color: #f6f6f6;
    }
    font-size: 12px;
    td, th{
      height: 40px;
      vertical-align: middle;
    }
  }
  .table>:not(:first-child){
    border-top: 1px solid $object-border;
  }
}
.member-detail__content--info{
  .info-item{
    &:nth-last-child(1){
      border: none;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
}
.medical{
  &__content{
    &--patiens{
      background-color: $white;
      padding: 20px;
      box-shadow: 0px 10px 30px rgba(1, 68, 241, 0.1);
      border-radius: 10px;
    }
    .questionare{
      border-radius: 10px;
      box-shadow: 0px 10px 30px rgba(1, 68, 241, 0.1);
      padding: 16px 20px;
      margin-bottom: 16px;
      &__item{
        &--link{
          .form-check-input:checked{
            background-color: $object-alert;
            border-color: $object-alert;
          }
        }
      }
    }
  }
}
.option-content{
  .icon-minus{  
    display: none;
  }
  &__product[aria-expanded="true"]{
    .icon-plus{
      display: none;
    }
    .icon-minus{  
      display: block;
    }
  }
}
.update-img-medical{
  width:140px;
  height:140px;
  object-fit: cover;
  border-radius: 8px;
}
.btn-upload{
  position: relative;
  input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    opacity: 0;
    cursor: pointer;
  }
}
.select2-container--default .select2-selection--single .select2-selection__arrow b{
  border-color: $primary transparent transparent transparent;
  border-width: 7px 6px 0 6px;
}
.control-date{
  position: relative;
  .form-control{
    text-align: center;
  }
  .form-control[readonly]{
    background-color: $white;
  }
  .action{
    position: absolute;
    top: 50%;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    transform: translateY(-50%);
    &.prev{
      left: 4px;
    }
    &.next{
      right:4px;
    }
  }
}
.csv-upload{
  overflow: hidden;
  cursor: pointer;
  input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
}
.medical-register{
  .table>:not(caption)>*>*{
    padding: .2rem .5rem;
  }
  .table{
    border-left: 1px solid $bg-blue;
    thead{
      background-color: $bg-blue;
      tr{
        border-bottom: none;
      }
      th{
        padding: .5rem .5rem;
        background-color: $white;
        border-bottom: 1px solid $object-border;
        // box-shadow: inset -1px -1px 0px #E0E0E0;
        border-top: 1px solid transparent;
        .code{
          font-size: 0.625rem;
        }
        &:nth-child(1){
          background-color: transparent;
          border-bottom: 1px solid $bg-blue;
          width: 60px;
        }
      }
    }
    tbody{
      tr{
        border-bottom: none;
        td{
          height: 24px;
          position: relative;
          padding-left: 14px;
          border-bottom: 1px solid $object-border;
          &:before{
            content: '';
            position: absolute;
            width: 3px;
            height: 100%;
            top: 0;
            left: 0;
            background-color: transparent;
          }
          &.possible{
            background-color: rgba($color: $primary, $alpha: .08);
            color: $primary;
            &:before{
              background-color: $primary;
            }
          }
          &.im-possible{
            color: $grey-dark;
            &:before{
              background-color: $object-gray;
            }
          }
          &:nth-child(1){
            background-color: $bg-blue;
            border-bottom: 1px solid $bg-blue;
          }
        }
      }
    }
  }
}