.datepicker {
  width: 24rem;
  margin-top: 12px;
  border-radius: 10px;
  box-shadow: 0px 10px 30px rgba(1, 68, 241, 0.1);
  border: none;
  .datepicker-days{
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    .table-condensed{
      td, th{
        text-align: center;
        height: 50px;
        width: 50px;
        cursor: pointer;
      }
      td{
        border: 1px solid $object-border;
        &.old{
          color: $grey;
        }
        &.new{
          color: $grey;
        }
      }
      
    }
  }
}