.calendar {
	overflow: hidden;
}
.ui-datepicker-header {
	color: $black;
  font-size: 1.25rem;
  margin-bottom: 1rem;
  display: flex;
  position: relative;
}
.ui-datepicker-prev,
.ui-datepicker-next {
	cursor: pointer;
}
.ui-datepicker-prev {
	order: 2;
	margin-right: 1rem;
	&:after {
		transform: rotate(45deg);
		margin: 11px 0px 0px 6px;
	}
}
.ui-datepicker-next {
	order: 3;
	margin-right: 12px;
	&:after {
		transform: rotate(-135deg);
		margin: 11px 0px 0px 5px;
	}
}
.ui-datepicker-prev:after,
.ui-datepicker-next:after {
	font-size: 16px;
	color: $black;
	// content: '';
	// position: absolute;
	// display: block;
	// width: 5px;
	// top: 0;
	// height: 5px;
	// border-left: 2px solid #b0aead;
	// border-bottom: 2px solid #b0aead;
}
.ui-icon{
	display: none;
}
.ui-datepicker-prev:before{
	content: url('../img/icon-chevorn-left.png');
}
.ui-datepicker-next:before{
	content: url('../img/icon-chevorn-right.png');
	position: absolute;
	right: 2px;
}
.ui-datepicker-prev:after{
	content: '前月';
}
.ui-datepicker-next:after{
	content: '翌月';
}
.ui-datepicker-prev:hover,
.ui-datepicker-next:hover,
.ui-datepicker-prev:hover:after,
.ui-datepicker-next:hover:after {
	border-color: $primary;
	color: $primary;
	transition: all .3s ease;
}
.ui-datepicker-title {
	flex-grow: 1;
}
.ui-datepicker-calendar {
	width: 100%;
	text-align: center;
  border-color: $object-border;
  tbody, td, tfoot, th, thead, tr{
    border-width: 1px;
  }
	thead {
		border-top: transparent;
		border-left: transparent;
		border-right: transparent;
		tr {
			th {
				border-width: 0;
				span {
					display: block;
					width: 40px;
					color: $black;
					padding: 10px;
					font-size: 12px;
					margin: auto;
				}
			}
		}
	}
}
.ui-state-default {
	display: block;
	text-decoration: none;
	line-height: 46px;
	font-size: 12px;
  color: $black;
	&:hover {
		background: rgba(0,0,0,0.02);
	}
}
.ui-state-highlight {
	color: #8dd391;
}
.ui-state-active {
	color: $white;
  background-color: $primary;
}
.ui-datepicker-unselectable {
	.ui-state-default {
		color: #eee;
		border: 2px solid transparent;
	}
}
