.footer{
  background-color: $primary-dark;
  padding: 2rem 0;
  color: $white;
  text-align: center;
  &__logo{
    margin-bottom: 1.875rem;
  }
  &__menu{
    margin-bottom: 1.875rem;
    list-style: none;
    &--link{
      display: inline-block;
      padding-left: 1.25rem;
      padding-right: 1.25rem;
      a{
        color: $white;
        font-weight: 500;
        font-size: 12px;
        }
    }
  }
  &__contact{
    font-weight: 500;
    font-size: 9px;
    margin-bottom: 1.25rem;
  }
  &__reserved{
    font-weight: 500;
    font-size: 9px;
  }
}
@media  (max-width:767.77px){
  .footer{
    &__menu{
      &--link{
        display: block;

      }
    }

  }
}
@media (min-width:768px){
  .footer{
    padding: 3.75rem 0;
  }
}