.header{
  .navbar{
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    background-color: $white;
  }
  .navbar-nav{
    .nav-item{
      .nav-link{
          color: $black;
          font-weight: 700;
          padding: .75rem 0;
      }
    }
  }
  .navbar-light {
    .navbar-toggler{
      border:none;
      color: $primary-light;
      .navbar-toggler-icon{
        background-image: none;
        img{
          margin-top: 4px;
        }
      }
    }
  }
  .navbar-collapse{
    margin-top: 1.25rem;
  }
  .collapse{
    &__header{
      margin-bottom: 50px;
    }
  }
  &.register{
    // background-image: url("../img/bg_register.png");
    .navbar-brand{
      margin: auto;
    }
    .navbar{
      background-color: transparent;
    }
    .navbar-toggler, .navbar-collapse{
      display: none!important;
    }
  }
}
.bg-underground{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
.menu-is-open{
  &:after{
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: $black, $alpha: .4);
    position: absolute;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }
}
@media (max-width: 991.77px){
  .header{
    .navbar-collapse{
      margin-top: 0;
      height: 100%!important;
    }
  }
  .navbar-collapse{
    background: $white;
    padding: 20px 24px;
    width: 280px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 700;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition: all .3s ease;
    transition: all .25s ease;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    visibility: hidden;
    &.show{
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    visibility: visible;
    -webkit-overflow-scrolling: touch;
    }
    .navbar-nav{
      .nav-item{
        .nav-link{
          padding: 22px 0;
          border-bottom: 1px solid $object-border;
        }
      }
    }
    .icon-toggle{
      padding: 12px;
    }
  }
}
@media (min-width: 992px){
  .navbar-collapse{
    justify-content: flex-end;
  }
  .header{
    .navbar-collapse{
      margin-top: 0;
    }
    .navbar-nav{
      .nav-item{
        .nav-link{
          padding: 0.5rem 1rem;
        }
      }
    }
  }
}