.profile-drug{
  .modal-body{
    // background-color: $primary-dark;
    // border-radius: 20px;
    padding: 0;
    border: 4px solid $primary-dark;
    overflow: hidden;
  }
  .modal-content{
    border-radius: 24px;
  }
  .chemical{
    .row>*{
      padding-left: 0;
      padding-right: 0;
    }
    .row{
      margin-left: 0;
      margin-right: 0;
    }
    &__header{
      background-color: $primary-dark;
      height: auto;
      padding: 1.25rem;
      width: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__content{
      padding: 1.25rem;
      background-color: $white;
      flex: 1;
      .img-product{
        width: 60px;
        height: 60px;
        border-radius: 10px;
        -o-object-fit: cover;
            object-fit: cover;
      }
      .tag{
        padding: 2px;
        background-color: rgba($color: $primary, $alpha: .08);
        font-size: 18px;
      }
      .tab{
        padding: 6px;
        width: 100%;
        color: $white;
        text-align: center;
        line-height: 1rem;
      }
      .description{
        font-size: .875rem;
      }
      &--item{
        margin-bottom: 1rem;
      }
    }
    &__price{
      font-size: 1.5rem;
      font-weight: 700;
      color: $primary;
    
      .value{
        color: $black;
      }
      .count{
        color: $grey-dark;
        font-size: 1rem;
      }
    }
    .chemical-box{
      position: relative;
      &:before{
        content: "";
        position: absolute;
        height: 1px;
        width: 100%;
        background-color: #EEEEEE;
      }
      &:nth-child(1){
        &:before{
          content: none;
        }
      }
    }
  }
  .modal-footer{
    border-top: 0;
    margin-top: 1.25rem;
    .btn{
      background-color: $white;
      color: $primary;
      border-color: transparent;
      padding: 1.375rem 3.75rem;
      transition: .3s;
      &:hover{
        background-color: $primary;
        color: $white;
      }
    }
  }
}
.profile-top{
    &__title{
      font-size: 1.5rem;
      margin-bottom: 1.875rem;
    }
    &__content{
        background-color: #fafafa;
        padding: 12px;
        border-radius: 10px;
        margin-bottom: 1.875rem;
    }
    .btn{
      width: 160px;
      padding: .75rem;
      height: 46px;
      font-size: .875rem;
      line-height: .875rem;
    }
}

@media (min-width:992px){
  .profile-drug{
    .chemical{
      &__header{
        height: 4.375rem;
        padding: 1.25rem;
        text-align: center;
        width: auto;
      }
      &__content{
        .img-product{
          width: 80px;
          height: 80px;
          border-radius: 10px;
        }
        .tag{
          font-size: 18px;
        }
        .description{
          font-size: 1rem;
        }
        &--item{
          margin-bottom: 1.25rem;
        }
    }
      .chemical-box{
        &:before{
          content: "";
          position: absolute;
          height: 100%;
          width: 1px;
          background-color: #EEEEEE;
        }
      }
    }
  }
}