.my-page{
  &__form{
    max-width: 100%;
    margin: 1.5rem;
    &.reset-ok{
      text-align: center;
    }
    &--sub{
      font-weight: 500;
      font-size: 0.875rem;
      color: $grey;
    }
    &--timeline{
      margin-bottom: 2rem;
      background-color: $white;
      padding: 1.25rem;
      border-radius: 10px;
      box-shadow: 0px 10px 30px rgba(1, 68, 241, 0.1);
      z-index: 0;
      position: relative;
      .progressbar {
        li {
          // float: left;
          width: calc(100% / 4);

          img{
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
          }
        }
        
      }
    }
    hr{
      margin: 20px 0;
      opacity: 1;
      background-color:$object-border;
    }
  }
  &__title{
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 32px;
    color: $black;
    margin-bottom: 2rem;
  }
  &__description{
    font-size: 1.25rem;
    font-weight: 500;
  }
  &__forgot{
    margin-bottom: 2.75rem;
  }
  .form-label{
    font-weight: 500;
    font-size: 16px;
    color: $black;
    margin-bottom: 0.625rem;
  }
  .btn-primary{
    padding: 1.375rem 3.75rem;
    color: $white;
    font-weight: 700;
    font-size: 16px;
    border-radius: 5rem;
    background-color: $primary;
    border: $primary;
    &.disabled{
      background-color: $object-gray;
      border: $object-gray;
      transition: .3s;
    }
  }
  .btn-outline-primary{
    padding: 1.375rem 2.5rem;
  }
  .bmi-note{
    font-weight: 500;
    font-size: .75rem;
    color: #777777;
  }
  &__info-register{
    padding: 1.25rem 1.25rem;
    background-color: $white;
    border-radius: 10px;
    margin-bottom: 1.25rem;
    .infomation{
      margin-bottom: 16px;
      padding-bottom: 16px;
      border-bottom: 1px solid $object-border;
      &:nth-last-child(1){
        margin-bottom: 0;
      }
    }
  }
  .btn-bg-primary{
    color: $primary;
  }
  &.error-register{
    .registration{
      background-color: #Fff;
      border-radius: 20px;
      padding: 40px;
      text-align: center;
    }

  }
}
@media (max-width:767.77px){
  .my-page{
    &__form{
      margin-top: 40px;
    }
    &.error-register{
      .registration{
        background-color: #Fff;
        border-radius: 20px;
        padding: 30px 24px;
        text-align: center;
        img{
          width: 100px;
        }
      }
  
    }
  }
}
@media (min-width:576px) {}

@media (min-width:768px) {
  .my-page{
    &__form{
      margin: 3.75rem auto 4rem;
      max-width: 32.5rem;
      &--timeline{
        padding:1.75rem;
        margin-bottom: 3rem;
      }
    }
    &__title{
      font-size: 1.75rem;
      color: $black;
      margin-bottom: 2.5rem;
    }
    &__description{
      font-size: 1.5rem;
    }
    &__forgot{
      margin-bottom: 3.25rem;
    }
    .form-label{
      font-size: 18px;
    }
    .btn-primary, .btn-outline-primary{
      padding: 1rem 3.75rem;
    }
    &__info-register{
      padding: 1.875rem 2.5rem;
    }
  }
  
}

@media (min-width:992px) {}

@media (min-width:1200px) {}