.progressbar {
  counter-reset: step;
  padding: 0;
  max-width: 100%;
  display: flex;
  &.icon{
    li{
      &:before, &:after{
        content: none;
      }
    }
  }
  li {
    // float: left;
    list-style: none;
    position: relative;
    text-align: center;
    width: calc(100% / 5);
    font-size: 0.563rem;
    font-weight: 400;
    a{
      color: #777777;
    }
    &.active, &.complete{
      a{
        color: $primary;
      }
    }
    &:before {
      background: $object-gray;
      // border: 2px solid #bebebe;
      border-radius: 50%;
      color: #bebebe;
      content: url(../img/check.png);
      counter-increment: step;
      display: block;
      font-weight: 700;
      height: 24px;
      line-height: 30px;
      margin: 0 auto 10px;
      text-align: center;
      width: 24px;
    }

    &:after {
      background: $object-border;
      content: '';
      height: 3px;
      left: -50%;
      position: absolute;
      top: 15px;
      width: 100%;
      z-index: -1;
    }

    &:first-child:after {
      content: none;
    }

    &.active:after, &.complete:after {
      background: $primary;
    }

    &.active:before {
      background: $primary-white;
      border-color: $primary-white;
      color: #fff;
      content: url(../img/check-done.png);
    }
    &.complete:before {
      background: $primary;
      border-color: $primary;
      color: #fff;
    }
    // DFE4F2

    &.active {
      color: $primary;
      font-weight: 700;
    }
    &.complete{
      color: $primary;
    }
  }
}
.sale-off{
  background-color: rgba($color: $sub, $alpha: .08);
  padding: .625rem 1.25rem;
  border-radius: 4px;
}
.title{
  font-weight: 500;
    font-size: 1.5rem;
    line-height: 32px;
    color: $black;
    margin-bottom: 2rem;
}
.tab-panel{
 padding: 0;
 .profile__spacing{
   margin-left: 0;
   margin-right: 0;
 }
}
.profile{
  &__content{
    margin: 2rem 0;
    &--timeline{
      margin-bottom: 1.5rem;
      background-color: $white;
      padding: 1.25rem .75rem;
      border-radius: 10px;
      box-shadow: 0px 10px 30px rgba(1, 68, 241, 0.1);
      z-index: 0;
      position: relative;
    }
    &--info{
      .tab-pane{
        &__content{
          border-radius: 0;
        }
      }
      .nav{
        margin-bottom: 0;
        .nav-item{
          // margin-right: .625rem;
          margin-top: auto;
          .nav-link{
            border-radius: 20px 20px 0 0;
            padding: 10px;
            background-color: $primary-white;
            color: $primary;
            font-size: .875rem;
            transition: .3s;
            
            &.active{
              color: $black;
              font-weight: 700;
              background-color: $primary;
              padding: .75rem;
              font-size: .875rem;
              width: 7rem;
              background-color: $white;
              white-space: nowrap;
            }
          }
          &:nth-last-child(1){
            margin-right: 0;
          }
        }
      }
    }
    .option-content{
      &__title{
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $white;
        padding: 1.325rem 1.25rem;
        margin-bottom: 1.25rem;
        h3{
          font-size: 1.25rem;
        }
      }
      &__choose{
        background-color: #FAFAFA;
        border: 1px solid $object-border;
        border-radius: 8px;
        margin-bottom: .75rem;
      }
      .collapse{
        padding:  0.75rem  0.75rem 1rem;
        .card{
          border-radius: 0 0 8px 8px;
          background-color: transparent;
        }
      }
      &__product{
        // background-color: #FAFAFA;
        padding:  0.75rem  0.75rem 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        // margin-bottom: .625rem;

        &.sub-item{
          margin-bottom: .625rem;
          background-color: $white;
          &:nth-last-child(1){
            margin-bottom: 0;
          }
        }
        &.active{
          background-color: $white;
          border-color: $primary;
        }
        .icon-toggle{
          &[aria-expanded='false']{
            .icon-minus{
              display: none;
            }
          }
          &[aria-expanded='true']{
            .icon-plus{
              display: none;
            }
          }
        }
        .img-product{
          width: 48px;
          height: 48px;
          -o-object-fit: cover;
             object-fit: cover;
          border-radius: 10px;
          margin-right: 1rem;
        }
        &--tag{
          padding: 6px 10px;
          color: $primary;
          background-color: $white;
          border-radius: 3px;
        }
        &--info{
          font-weight: 500;
          .title{
            font-size: 1rem;
            line-height:1.125rem;
            margin-bottom: 6px;
            span{
              padding: 4px 6px;
              font-size: 0.75rem;
              background-color: rgba($color: $sub, $alpha: .08);
              border-radius: 4px;
            }
          }
          p{
            font-size: 0.75rem;
            color: $grey;
          }
        }
        &--price{
          .value{
            font-size: 1.25rem;
            font-weight: 700;
          }
        }
        .form-check-input{
          width: 24px;
          height: 24px;
        }
      }
      &__list{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: .625rem;
        .img-product{
          width: 36px;
          height: 36px;
          border-radius: 4px;
          margin-right: .75rem;
          }
          &--title{
            font-size: 0.875rem;
            margin-bottom: 4px;
          }
          .title{
            span{
              font-size: .625rem;
              padding-top: 2px;
              padding-bottom: 2px;
            }
          }
      }
      &__cta-add{
        
        padding-bottom: 1rem;
        border-bottom: 1px solid $object-border;
        .btn{
          font-size: 0.875rem;
          padding: .25rem;
          height: 40px;
        }
        &--question{
          font-size: .75rem;
        }
      }
      &__price{
        margin: 1.25rem 0;
        &--link{
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: .475rem;
          font-weight: 500;
          font-size: .875rem;
          label{
            font-size: .75rem;
          }
          &.total{
            font-weight: 700;
            label{
              font-size: .875rem;

            }
          }
          &:nth-last-child(1){
            margin-bottom: 0;
          }
        }
      }
      &__note{
        label{
          text-align: center;
          font-size: .75rem;
        }
        .btn{
          height: 40px;
          padding: .25rem;
        }
      }
      .btn-bg-primary{
        padding: .625rem;
        font-size: .875rem;
        margin-top: .75rem;
        height: 34px;
        line-height: 2px;
      }
      .form-control{
        &.discount{
          background-color: #F6F6F6;
          font-size: .875rem;
          height: 34px;
          padding: .625rem;;
        }
      }
      .btn-primary{
        font-weight: 700;
        height: 40px;
        padding: .25rem;
      }
      .item-price{
        padding-bottom: 1rem;
        border-bottom: 1px solid $object-border;
      }
    }
    .btn{
      &.appointment{
        height: 40px;
        padding: .25rem 3rem;
        white-space: nowrap;
        border-radius: 5rem;
      }
    }
   
  }
  &__spacing{
    margin-left: .75rem;
    margin-right: .75rem;
  }
  .payment-method-mobile{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: $white;
    padding: .75rem 1.5rem 2rem;
    border-top: 1px solid $object-border;
  }
  .treatment{
    .treatment__content-item{
      overflow: auto;
      &::-webkit-scrollbar {
        display: none;
      }
    }
    &__list{
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      &--item{
        border: 1px solid;
        border-color: $object-border;
        border-radius: 4px;
        background-color: #fafafa;
        margin-right: 8px;
        margin-bottom: 8px;
        &.empty{
          background-color: $object-border;
        }
        &.active{
          background-color: $white;
          border-color: $primary;
          color: $primary;
        }
        .form-check{
          display: inline-block;
          padding-left: 0;
          padding-right: 0;
          padding: 8px;
          height: 30px;
          width: 120px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 0;
          .form-check-input{
            float: none;
            margin-left: 0;
            margin-right: 0;
            margin-left: 12px;
            width: .875rem;
            height: .875rem;
          }
          .form-check-label{
            color: $black;
            font-size: 14px;
            line-height: 14px;
          }
        }
      }
    }
    &__cta{
      margin-top: 1rem;
     .btn{
      padding: .75rem 1.5rem;
     }
    }
    &__time{
      &::-webkit-scrollbar {
        display: none;
      }
    }
    .calendar{
      margin-bottom: 1.5rem;
    }
  }
}
.profile__content{
  .btn{
    padding: 1rem 2rem;
  }
}
.question{
  .card{
    margin-bottom: 12px;
  }
  &__content{
    font-weight: 500;
    
  }
  &__title{
    margin-bottom: 1.25rem;
    font-size: 1rem;
  }
  &__item{
    padding: 12px 20px;
    background-color: #fafafa;
    border: 1px solid;
    border-color: $object-border;
    display: flex;
    align-items: center;
    transition: .3s;
    border-radius: 4px;
    margin-bottom: 12px;
    &:nth-last-child(1){
      margin-bottom: 0;
    }
    &--img{
      margin-right: .625rem;
      display: block;
      &.active{
        display: none;
      }
    }
    &.active{
      background-color: $white;
      border-color: $primary;
      .question__item--img{
        display: none;
        &.active{
          display: block;
        }
      }
    }
    p{
      line-height: .875rem;
      font-size: .875rem;
    }
    .control__indicator{
      top: 0;
    }
    .control--radio{
      line-height: .875rem;
      font-size: .875rem;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
}
.reservation{
  &__content{
    &--item{
      padding: 1rem 0;
      border-bottom: 1px solid;
      border-color: $object-border;
    }
  }
  &__check{
    .form-check{
      display: flex;
      align-items: center;
      .form-check-input{
        width: 24px;
        height: 24px;
      }
    }
  }
  &__icon-check{
    width: 100px;
    height: 100px;
  }
}
.badge{
  padding: 6px 8px;
  font-size: 12px;
  &.small{
    padding: 4px 6px;
    font-size: 12px;
    font-weight: 400;
  }
  &.light-sub{
    background-color: rgba($color: $sub, $alpha: .08);
  }
  &.light-grey{
    background-color: rgba($color: $grey, $alpha: .08);
  }
  &.light-alert{
    background-color: rgba($color: $object-alert, $alpha: .08);
  }
}
.medical-detail{
  &__content{
    .card{
      background-color: #fafafa;
      border-radius: 10px;
      border: none;
    }
    &--item{
      border-bottom: 1px solid $object-border;
      &:nth-last-child(1){
        border: none;
      }
      .info-card{
        border-radius: 8px;
        background-color: rgba($color: $primary, $alpha: .08);
      }
    }
  }
}
.drug-contract{
  &__content{
    margin-bottom: 30px;
    &--header{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: .75rem;
      .date-contract{
        left: 0;
        position: absolute;
        padding-left: 1.5rem;
        padding: .625rem 1.25rem;
        border-radius: 4px;
        background-color: rgba($color: $sub, $alpha: .08);
      }
      .date-info{
        text-align: right;
        p{
          line-height: .75rem;
        }
      }
    }
    &--list{
      padding: 1.5rem;
    }
  }
}
.contract-list{
  border-bottom: 1px solid $object-border;
 &__product{
   img{
     width: 48px;
     height: 48px;
     object-fit: cover;
     border-radius: 4px;
   }
 }
 .badge{
   padding: .625rem .75rem;
   border-radius: 4px;
 }
}
.member-detail{
  &__content{
    margin-bottom: 30px;
    &--header{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 0;
      border-bottom: 1px solid $object-border;
      margin-bottom: 10px;
      .btn{
        padding: 8px 30px!important;
      }
    }
    &--info{
      border-radius: 10px;
      .info-item{
        padding-bottom: 1rem;
        border-bottom: 1px solid $object-border;
        margin-bottom: 1rem;
      }
      .question__item{
        background-color: $white;
      }
    }
  }
}
@media (max-width:991.77px){
  .treatment{
    padding: 0;
    .card{
      border: none;
      border-radius: 0;
    }
  }
  .drug-contract{
    &__content{
      &--header{
        .date-info{
          margin-top: 2.5rem;
        }
        .date-label{
          p{
            margin-top: 3.5rem;
          }
        }
      }
      &--list{
        padding: 1.5rem;
      }
    }
  }
  .contract-list {
    .badge{
     font-size: .625rem;
     padding: 6px;
    }
  }
  .profile{
    &__content{
      &--timeline{
        .progressbar.icon{
          margin-bottom: 12px!important;
        }
      }
      .option-content__product{
        &--info {
          .title{
            font-size: 14px;
            span{
              padding: 4px;
              font-size: 8px;
            }
          }
        }
        &--price{
          .value{
            font-size: 14px;
          }
        }
      }
      &--info{
        .option-content{
          &.mobile-item{
            box-shadow: none;
            border: none!important;
            padding: 0;
            margin-top: 20px;
          }
          &__note{
            padding-top: 24px;
            border-bottom: 1px solid $object-border;
          }
        }
      }
    }
  }
  .member-detail{
    &__content{
      &--header{
        border-bottom: none;

      }
    }
  }
  .no-form-edit{
    .member-detail__content--info{
      padding: 0!important;
      background-color: $white!important;
    }
  }
}
@media (max-width:767.77px){
  .profile{
    &__content{
      &--info{
        .nav{
          flex-wrap: nowrap;
          .nav-item{
            width: 100%;
            .nav-link{
              width: 100%;
              &.active{
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}
@media (min-width:768px) {
  .title{
    font-size: 2rem;
    color: $black;
    margin-bottom: 2.5rem;
  }
  .profile{
    &__content{
      margin: 3.75rem 0 4rem;
      &--timeline{
        margin-bottom: 2.5rem;
        padding: 1.875rem 6.25rem;
      }
      &--info{
        .tab-pane{
          &__content{
            border-radius: 0 1.25rem 1.25rem 1.25rem;
          }
        }
        .nav{
          .nav-item{
            // margin-right: .625rem;
            .nav-link{
              padding: 0.75rem 1rem;
              padding: 0.625rem 1.25rem;
              font-size: 1rem;
              width: 8.75rem;
              &.active{
                padding: 1rem .75rem;
                font-size: 1.125rem;
                width: 10rem;
              }
            }
          }
        }
      }
      .option-content{
        &__cta-add{
          margin-top: 1.25rem;
        }
        .item-price{
          padding-bottom: 0;
          border-bottom: none;
        }
      }
    }
    &__spacing{
      margin-left: 3.125rem;
      margin-right: 3.125rem;
    }
  }
  .progressbar{
    li{
      font-size: 12px;
      &:before {
        height: 32px;
        line-height: 32px;
        width:32px
      }
    }
  }
  .tab-panel{
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    .profile__spacing{
      margin-left: 3.125rem;
      margin-right: 3.125rem;
    }
  }
  .treatment{
    &__cta{
      margin-top: 0;
      .btn{
        padding: 1.375rem 3.75rem;
      }
    }
  }
  .profile__content{
    .btn{
      padding: 1.375rem 3.75rem;
    }
  }
}

@media (min-width:992px){
  .profile{
    &__content{
      &--info{
        .nav{
          .nav-item .nav-link{
            // width: 5.625rem;
          }
        }
      }
    }
  }
  .treatment{
    .card, 
    &__time{
      height: 29rem;
      overflow-x:hidden;
      overflow-y:auto;
    }
    .calendar {
      position: sticky;
      top: 0;
      margin-bottom: 0;
    }
  }
  .question{
   .card{
    margin-bottom: 1.25rem;
   }
    &__title{
      font-size: 1.25rem;
    }
  }
  .reservation{
    &__icon-check{
      width: 120px;
      height: 120px;
    }
  }
  .reservation-complete{
    .card{
      background-color: transparent;
    }
  }
  .drug-contract{
    &__content{
      &--header{
        margin-bottom: .75rem;
        .date-contract{
          padding-left: 3rem;
        }
      }
      &--list{
        padding: 1.875rem;
      }
    }
  }
  .member-detail{
    &__content{
      &--header{
        padding-bottom: 1rem;
        border-bottom: 1px solid $object-border;
        margin-bottom: 1rem;
      }
    }
  }
}