.navbar-vertical.navbar-expand-lg>[class*=container] {
  align-items: stretch;
  flex-direction: column;
  min-height: 100%;
  padding-left: 0;
  padding-right: 0;
}
.navbar{
  border-radius: 0 20px 20px 0;
  box-shadow: 0 0 0 0 transparent!important;
  display: block;
  max-width: 270px;
  overflow-y: auto;
  transition: all .2s ease-in-out;
  width: 100%;
  z-index: 1000;
  .navbar-divider{
    margin: 0.75rem 1.5rem;
    opacity: 1;
    background-color: $object-border;
  }
  .navbar-brand{
    padding: 0.75rem 1.5rem;
  }
}
.navbar-vertical.navbar-expand-lg .navbar-collapse{
  align-items: stretch;
  display: flex;
  flex: 1;
  flex-direction: column;
  opacity: 1;
}
.navbar-nav {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}
.navbar-vertical .navbar-nav>.nav-item {
  margin-top: 2px;
}
.navbar-vertical .navbar-nav .nav-link{
  align-items: center;
  display: flex;
  font-size: .875rem;
  font-weight: 500;
  padding: 0.75rem 1.5rem;
  white-space: nowrap;
  margin-bottom: 8px;
}
.role-user{
   .navbar-nav .nav-link{
    margin: 0.75rem 1.5rem;
    justify-content: center;
    background-color: #F1F4FB;
    color: $primary-dark;
    font-weight: 700;
    border-radius: 2px;
   }
}
@media (min-width: 992px){
  .navbar-vertical.navbar-expand-lg .navbar-nav {
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
  }
}
