.profile-top-table{
  .table{
    font-size: 12px;
    td{
      vertical-align: middle;
      .link-access{
        word-break: break-word;
      }
    }
    thead{
      tr{
        background-color: #F6F6F6;
      }
    }
    &>:not(:first-child){
      border-top: 1px solid $object-border;
    }
  }
}
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
  .profile-top-table{
    .table{
      &>:not(:first-child){
        border-top: none
      }
    }
    .table-bordered>:not(caption)>*>*{
      border-width: 1px;
    }
    .table{
      font-weight: 500;
      tr{
        border-radius: 10px;
        td{
          &:nth-child(1){
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            &:before{
            border-top-left-radius: 10px;
            }
          }
          &:nth-last-child(2){
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            &:before{
            }
          }
          &:nth-last-child(1){
            display: none
          }
        }
        &:after{
          content: "詳細";
          width: 30px;
          height: 100%;
          background-color: $primary-white;
          position: absolute;
          z-index: 1;
          right: 0;
          top: 0;
          color: $primary;
          padding: 8px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
        }
      }
      .table-action{
        position: absolute;
        padding: 4x;
        width: 30px;
        height: 100%;
        background-color: $primary-white;
        color: $primary;
      }
    }
    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr { 
      display: block; 
    }
    
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr { 
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    
    tr { border: 1px solid $object-border; 
      margin-bottom: 8px;
      position: relative;
    }
    
    td { 
      /* Behave  like a "row" */
      border: none;
      border: .3px solid #eee; 
      position: relative;
      padding-left: 36%!important; 
      padding-right: 40px!important; 
  
    }
    
    td:before { 
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 6px;
      left: 6px;
      width: 33%; 
      padding-right: 10px; 
      white-space: nowrap;
      height: 100%;
      top: 0;
      left: 0;
      padding-left: 12px;
      padding-top: 8px;
      background-color: #f6f6f6;
    }
    
    
    /*
    Label the data
    */
    td:nth-of-type(1):before { content: "診療ID"; }
    td:nth-of-type(2):before { content: "ステータス"; }
    td:nth-of-type(3):before { content: "予約日時"; }
    td:nth-of-type(4):before { content: "選択薬品"; }
    td:nth-of-type(5):before { content: "ZoomURL"; }
    // td:nth-of-type(6):before { content: "Secret Alias"; }
  }
}