@import 'modules/register';
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

// @media (max-width: 1600px) {
//     .container {
//         width: 1600px;
//         max-width: 100%;
//     }
// }
//---------------------K edit */
@media (max-width:767.77px) {
    .my-page{
        &__form{
            &.registration{
                max-width: 100%;
                margin: auto;
                position: absolute;
                top: 40%;
                width: 85%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            .px-mb-20{
                .btn-primary{
                    padding-left: 20px;
                    padding-right: 20px;
                }
            }
        }
    }
    .my-page{
        &__form{
          .row{
            margin-left: -5px;
            margin-right: -5px;
          }
          .row>*{
            padding-left: 5px;
            padding-right: 5px;
          }
        }
    }
    .tab-panel{
          .row{
            margin-left: -5px;
            margin-right: -5px;
          }
          .row>*{
            padding-left: 5px;
            padding-right: 5px;
          }
    }
    .progressbar{
        &.icon{
            margin-bottom: 32px!important;
            li{
                img{
                    height: 24px;
                }
            }
        }
    }
    .invalid-feedback{
        font-size: .675rem;
    }
}

@media (min-width:576px) {}

@media (min-width:768px) {}

@media (min-width:992px) {}

@media (min-width:1200px) {}