<header>
    <div class="d-flex align-items-center justify-content-between">
      <h3 class="fz-24 font-semi mb-4 pb-3 mb-md-4 mt-5">
        決済一覧
      </h3>
      <button class="btn btn-primary px-4">新規登録</button>
    </div>
  </header>
  <div class="main">
      <table class="table table-bordered mb-0 bg-white">
        <thead>
          <tr>
            <th scope="col">決済ID</th>
            <th scope="col">決済ステータス</th>
            <th scope="col">注文日</th>
            <th scope="col">薬品名</th>
            <th scope="col">決済ID</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>IDXXXXXXXXX</td>
            <td class=""><span class="sub">山田太郎</span></td>
            <td>2022/1/1</td>
            <td>薬品名テキスト</td>
            <td>IDXXXXXXXXX</td>
            <td class="text-center"><span class="primary">詳細</span></td>
          </tr>
          <tr>
            <td>IDXXXXXXXXX</td>
            <td class=""><span class="sub">山田太郎</span></td>
            <td>2022/1/1</td>
            <td>薬品名テキスト</td>
            <td>IDXXXXXXXXX</td>
            <td class="text-center"><span class="primary">詳細</span></td>
          </tr>
          <tr>
            <td>IDXXXXXXXXX</td>
            <td class=""><span class="sub">山田太郎</span></td>
            <td>2022/1/1</td>
            <td>薬品名テキスト</td>
            <td>IDXXXXXXXXX</td>
            <td class="text-center"><span class="primary">詳細</span></td>
          </tr>
          <tr>
            <td>IDXXXXXXXXX</td>
            <td class=""><span class="sub">山田太郎</span></td>
            <td>2022/1/1</td>
            <td>薬品名テキスト</td>
            <td>IDXXXXXXXXX</td>
            <td class="text-center"><span class="primary">詳細</span></td>
          </tr>
          <tr>
            <td>IDXXXXXXXXX</td>
            <td class=""><span class="sub">山田太郎</span></td>
            <td>2022/1/1</td>
            <td>薬品名テキスト</td>
            <td>IDXXXXXXXXX</td>
            <td class="text-center"><span class="primary">詳細</span></td>
          </tr>
          <tr>
            <td>IDXXXXXXXXX</td>
            <td class=""><span class="sub">山田太郎</span></td>
            <td>2022/1/1</td>
            <td>薬品名テキスト</td>
            <td>IDXXXXXXXXX</td>
            <td class="text-center"><span class="primary">詳細</span></td>
          </tr>
          <tr>
            <td>IDXXXXXXXXX</td>
            <td class=""><span class="sub">山田太郎</span></td>
            <td>2022/1/1</td>
            <td>薬品名テキスト</td>
            <td>IDXXXXXXXXX</td>
            <td class="text-center"><span class="primary">詳細</span></td>
          </tr>
        </tbody>
      </table>
  </div>