<header>
    <h3 class="fz-24 font-semi mb-4 pb-3 mb-md-4 mt-5">
      医師新規登録
    </h3>
</header>
<div class="main">
  <div class="member-detail__content--info bg-white p-4 p-lg-5">
    <fieldset >
      <legend class="fz-20 font-semi mb-4"> 医師ID：XXXXXXXXXX</legend>

      <div class="mb-4 pb-md-2">
        <label for="" class="form-label">氏名</label>
        <input type="text"  class="form-control bg-light" placeholder="メールアドレスを入力してください。">
      </div>

      <div class="mb-4 pb-md-2">
        <label for="" class="form-label">メールアドレス</label>
        <input type="text"  class="form-control bg-light" placeholder="メールアドレス">
      </div>
      
      <div class="mb-4 pb-md-2">
        <label for="" class="form-label">パスワード</label>
        <input type="text"  class="form-control bg-light" placeholder="パスワードを入力してください。">
      </div>
      <!-- 姓名（姓） -->
      <div class="row">
        <div class="col-md-6">
          <div class="mb-4">
            <label for="" class="form-label">権限</label>
            <select class="js-example-placeholder-single js-states form-control">
              <option>1</option>
              <option>1</option>
              <option>1</option>
              <option>1</option>
              <option>1</option>
            </select>
          </div>
        </div>
      </div>
    </fieldset>
    
  </div>
  <div class="text-center profile__content ">
    <button type="submit" class="btn btn-primary boder-ra-5">新規登録する</button>
  </div>
</div>