<div class="modal fade profile-top" id="changeSave" aria-hidden="true" aria-labelledby="changeSaveLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered justify-content-center flex-column ">
    <div class="modal-content border-ra-20 ">
      <div class="modal-body text-center p-4">
          <h3 class="profile-top__title font-weight-bold mb-4">決済確認</h3>
          <p class="font-semi fz-18 mb-4">決済完了してよろしいでしょうか？</p>
          <div class="d-flex align-items-center justify-content-center">
            <button class="btn btn-outline-primary boder-ra-5 me-2" data-bs-target="#topDetail" data-bs-toggle="modal">戻る</button>
            <button class="btn btn-primary boder-ra-5" data-bs-target="#topDetail" data-bs-toggle="modal">決済する</button>
          </div>
      </div>
    </div>
  </div>
</div>