<header>
    <div class="d-flex align-items-center justify-content-between">
      <h3 class="fz-24 font-semi mb-4 pb-3 mb-md-4 mt-5">
        薬品一覧
      </h3>
      <button class="btn btn-primary px-4">新規登録</button>
    </div>
  </header>
<div class="profile__content mt-0">
    <div class="profile__content--info">
      <ul class="nav nav-pills">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="home-tab" 
          data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" 
          aria-controls="home" aria-selected="true">ダイエット</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="profile-tab" data-bs-toggle="tab" 
          data-bs-target="#profile" type="button" role="tab" aria-controls="profile"
            aria-selected="false">ピル</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="messages-tab" 
          data-bs-toggle="tab" data-bs-target="#messages" type="button" role="tab"
          aria-controls="messages" aria-selected="false">カテゴリ名</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="messages-tab" 
            data-bs-toggle="tab" data-bs-target="#messages2" type="button" role="tab"
            aria-controls="messages2" aria-selected="false">カテゴリ名</button>
          </li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content option-content">
        <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <div class="card card-body no-border p-4 tab-pane__content" >
                <!-- Optionchoose -->
                <div class="option-content__choose p-2">
                    <div class="option-content__product" data-bs-toggle="collapse" 
                    href="#collapseOption" role="button" aria-expanded="false" aria-controls="collapseOption">
                     <p class="font-semi fz-16 mb-0">ジャディアンス</p>
                      <div class="d-flex align-items-center">
                        <img src="../assets/img/ic-plus.png" class="icon-plus" alt="">
                        <img src="../assets/img/ic-minus.png" class="icon-minus" alt="">
                      </div>
                    </div>
                    <div class="collapse" id="collapseOption">
                      <div class="option-content__product  sub-item border br-ra-4px" >
                          <div class="option-content__product--info">
                            <h3 class="title mb-0">リベルサス <span>3mg</span></h3>
                          </div>
                          <div class="d-flex align-items-center">
                            <p class="option-content__product--price mb-0 me-2">¥<span class="value primary mx-1">3,000</span>/月</p>
                            <button class="btn btn-bg-alert text-nowrap py-1 px-3 me-1">
                                削除
                            </button>
                            <button class="btn btn-bg-sub text-nowrap py-1 px-3 me-1">
                                一時停止
                            </button>
                            <button class="btn btn-bg-primary text-nowrap py-1 px-3 mt-0">
                                編集
                            </button>
                          </div>
                          
                      </div>
                    <div class="option-content__product  sub-item border br-ra-4px" >
                        <div class="option-content__product--info">
                            <h3 class="title mb-0">リベルサス <span>3mg</span></h3>
                        </div>
                        <div class="d-flex align-items-center">
                            <p class="option-content__product--price mb-0 me-2">¥<span class="value primary mx-1">3,000</span>/月</p>
                            <button class="btn btn-bg-alert text-nowrap py-1 px-3 me-1">
                                削除
                            </button>
                            <button class="btn btn-bg-sub text-nowrap py-1 px-3 me-1">
                                一時停止
                            </button>
                            <button class="btn btn-bg-primary text-nowrap py-1 px-3 mt-0">
                                編集
                            </button>
                        </div>
                    </div>
                    <div class="option-content__product  sub-item border br-ra-4px" >
                        <div class="option-content__product--info">
                            <h3 class="title mb-0">リベルサス <span>3mg</span></h3>
                        </div>
                        <div class="d-flex align-items-center">
                            <p class="option-content__product--price mb-0 me-2">¥<span class="value primary mx-1">3,000</span>/月</p>
                            <button class="btn btn-bg-alert text-nowrap py-1 px-3 me-1">
                                削除
                            </button>
                            <button class="btn btn-bg-sub text-nowrap py-1 px-3 me-1">
                                一時停止
                            </button>
                            <button class="btn btn-bg-primary text-nowrap py-1 px-3 mt-0">
                                編集
                            </button>
                        </div>
                    </div>
                    </div>
                </div>
                <!-- Optionchoose --> 
                <div class="option-content__choose p-2">
                    <div class="option-content__product" data-bs-toggle="collapse" 
                    href="#collapseOption2" role="button" aria-expanded="false" aria-controls="collapseOption2">
                     <p class="font-semi fz-16 mb-0">リベルサス</p>
                      <div class="d-flex align-items-center">
                        <img src="../assets/img/ic-plus.png" class="icon-plus" alt="">
                        <img src="../assets/img/ic-minus.png" class="icon-minus" alt="">
                      </div>
                    </div>
                    <div class="collapse" id="collapseOption2">
                      <div class="option-content__product  sub-item border br-ra-4px" >
                          <div class="option-content__product--info">
                            <h3 class="title mb-0">リベルサス <span>3mg</span></h3>
                          </div>
                          <div class="d-flex align-items-center">
                            <p class="option-content__product--price mb-0 me-2">¥<span class="value primary mx-1">3,000</span>/月</p>
                            <button class="btn btn-bg-alert text-nowrap py-1 px-3 me-1">
                                削除
                            </button>
                            <button class="btn btn-bg-sub text-nowrap py-1 px-3 me-1">
                                一時停止
                            </button>
                            <button class="btn btn-bg-primary text-nowrap py-1 px-3 mt-0">
                                編集
                            </button>
                          </div>
                          
                      </div>
                    <div class="option-content__product  sub-item border br-ra-4px" >
                        <div class="option-content__product--info">
                            <h3 class="title mb-0">リベルサス <span>3mg</span></h3>
                        </div>
                        <div class="d-flex align-items-center">
                            <p class="option-content__product--price mb-0 me-2">¥<span class="value primary mx-1">3,000</span>/月</p>
                            <button class="btn btn-bg-alert text-nowrap py-1 px-3 me-1">
                                削除
                            </button>
                            <button class="btn btn-bg-sub text-nowrap py-1 px-3 me-1">
                                一時停止
                            </button>
                            <button class="btn btn-bg-primary text-nowrap py-1 px-3 mt-0">
                                編集
                            </button>
                        </div>
                    </div>
                    <div class="option-content__product  sub-item border br-ra-4px" >
                        <div class="option-content__product--info">
                            <h3 class="title mb-0">リベルサス <span>3mg</span></h3>
                        </div>
                        <div class="d-flex align-items-center">
                            <p class="option-content__product--price mb-0 me-2">¥<span class="value primary mx-1">3,000</span>/月</p>
                            <button class="btn btn-bg-alert text-nowrap py-1 px-3 me-1">
                                削除
                            </button>
                            <button class="btn btn-bg-sub text-nowrap py-1 px-3 me-1">
                                一時停止
                            </button>
                            <button class="btn btn-bg-primary text-nowrap py-1 px-3 mt-0">
                                編集
                            </button>
                        </div>
                    </div>
                    </div>
                </div>
                <!-- Optionchoose --> 
                <div class="option-content__choose p-2">
                    <div class="option-content__product" data-bs-toggle="collapse" 
                    href="#collapseOption3" role="button" aria-expanded="false" aria-controls="collapseOption3">
                        <p class="font-semi fz-16 mb-0">薬品名</p>
                        <div class="d-flex align-items-center">
                        <img src="../assets/img/ic-plus.png" class="icon-plus" alt="">
                        <img src="../assets/img/ic-minus.png" class="icon-minus" alt="">
                        </div>
                    </div>
                    <div class="collapse" id="collapseOption3">
                        <div class="option-content__product  sub-item border br-ra-4px" >
                            <div class="option-content__product--info">
                            <h3 class="title mb-0">リベルサス <span>3mg</span></h3>
                            </div>
                            <div class="d-flex align-items-center">
                            <p class="option-content__product--price mb-0 me-2">¥<span class="value primary mx-1">3,000</span>/月</p>
                            <button class="btn btn-bg-alert text-nowrap py-1 px-3 me-1">
                                削除
                            </button>
                            <button class="btn btn-bg-sub text-nowrap py-1 px-3 me-1">
                                一時停止
                            </button>
                            <button class="btn btn-bg-primary text-nowrap py-1 px-3 mt-0">
                                編集
                            </button>
                            </div>
                            
                        </div>
                    <div class="option-content__product  sub-item border br-ra-4px" >
                        <div class="option-content__product--info">
                            <h3 class="title mb-0">リベルサス <span>3mg</span></h3>
                        </div>
                        <div class="d-flex align-items-center">
                            <p class="option-content__product--price mb-0 me-2">¥<span class="value primary mx-1">3,000</span>/月</p>
                            <button class="btn btn-bg-alert text-nowrap py-1 px-3 me-1">
                                削除
                            </button>
                            <button class="btn btn-bg-sub text-nowrap py-1 px-3 me-1">
                                一時停止
                            </button>
                            <button class="btn btn-bg-primary text-nowrap py-1 px-3 mt-0">
                                編集
                            </button>
                        </div>
                    </div>
                    <div class="option-content__product  sub-item border br-ra-4px" >
                        <div class="option-content__product--info">
                            <h3 class="title mb-0">リベルサス <span>3mg</span></h3>
                        </div>
                        <div class="d-flex align-items-center">
                            <p class="option-content__product--price mb-0 me-2">¥<span class="value primary mx-1">3,000</span>/月</p>
                            <button class="btn btn-bg-alert text-nowrap py-1 px-3 me-1">
                                削除
                            </button>
                            <button class="btn btn-bg-sub text-nowrap py-1 px-3 me-1">
                                一時停止
                            </button>
                            <button class="btn btn-bg-primary text-nowrap py-1 px-3 mt-0">
                                編集
                            </button>
                        </div>
                    </div>
                    </div>
                </div>
                <!-- button-modal -->
                <a class="btn btn-primary" data-bs-toggle="modal" href="#exampleModalToggle" role="button">Open first modal</a>
                <a class="btn btn-primary" data-bs-toggle="modal" href="#exampleModalToggle2" role="button">Open second modal</a>
                 <!-- end-button-modal -->
        </div>
        </div>
        <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">alo 222</div>
        <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab">...</div>
        <div class="tab-pane" id="settings" role="tabpanel" aria-labelledby="settings-tab">...</div>
      </div>
  </div>
</div>