<header>
    <div class="d-flex align-items-center justify-content-between">
      <h3 class="fz-24 font-semi mb-4 pb-3 mb-md-4 mt-5">
        問診票新規登録
      </h3>
    </div>
</header>
<div class="medical">
    <div class="medical__content mb-4 mb-lg-5">
        <div class="member-detail__content--info bg-white p-4 p-lg-5">
            <h3 class="fz-20 font-semi mb-4">問診ID：XXXXXXXX</h3>
            <div class="mb-4">
                <label for="" class="form-label fz-16">質問内容</label>
                <input type="text"  class="form-control bg-light" placeholder="">
            </div>
            <div class="d-flex align-items-center">
                <label for="" class="mb-0 fz-16 font-semi me-3">選択肢</label>
                <img src="../assets/img/icon-check-alert.png" class="me-1" alt="">
                <p class="mb-0 fz-12 font-semi obj-alert">チェックした選択肢はNG回答に設定されます</p>
            </div>
            <div class="questionare__item mt-4">
                <div class="questionare__item--link d-flex align-items-center mb-2">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    </div>
                    <input type="text"  class="form-control bg-light" value="質問内容テキストが入ります。">
                </div>
                <div class="questionare__item--link d-flex align-items-center mb-2">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    </div>
                    <input type="text"  class="form-control bg-light" value="質問内容テキストが入ります。">
                </div>
                <div class="questionare__item--link d-flex align-items-center mb-2">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    </div>
                    <input type="text"  class="form-control bg-light" value="質問内容テキストが入ります。">
                </div>
                <button class="btn btn-bg-primary d-flex align-items-center justify-content-center mt-2 px-3">
                    <img src="../assets/img/icon-plus-primary.png" class="me-2" alt="">
                    紐付ける問診票を追加
                </button>
            </div>
        </div>

        <div class="profile__content text-center">
            <button class="btn btn-outline-secondary boder-ra-5 me-3" >登録内容を削除</button>
            <button class="btn btn-primary boder-ra-5" >内容を変更する</button>
        </div>
    </div>
</div>