<header>
  <div class="d-flex align-items-center justify-content-between">
    <h3 class="fz-24 font-semi mb-4 pb-3 mb-md-4 mt-5">
      医師一覧
    </h3>
    <button class="btn btn-primary px-4">新規登録</button>
  </div>
</header>
<div class="main">
    <table class="table table-bordered mb-0 bg-white">
      <thead>
        <tr>
          <th scope="col">医師ID</th>
          <th scope="col">医師名</th>
          <th scope="col">メールアドレス</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>IDXXXXXXXXX</td>
          <td class=""><span class=" sub">山田太郎</span></td>
          <td>abcdefg@hijk.com</td>
          <td>
            <div class="d-flex align-items-center">
              <button class="btn btn-bg-primary w-100 me-2" data-bs-toggle="modal" href="#changeMedical" role="button">
                削除
              </button>
              <button class="btn btn-bg-alert w-100">
              編集
              </button>
            </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>IDXXXXXXXXX</td>
          <td class=""><span class=" sub">山田太郎</span></td>
          <td>abcdefg@hijk.com</td>
          <td>
            <div class="d-flex align-items-center">
              <button class="btn btn-bg-primary w-100 me-2" data-bs-toggle="modal" href="#changeMedical" role="button">
                削除
              </button>
              <button class="btn btn-bg-alert w-100">
              編集
              </button>
            </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>IDXXXXXXXXX</td>
          <td class=""><span class=" sub">山田太郎</span></td>
          <td>abcdefg@hijk.com</td>
          <td>
            <div class="d-flex align-items-center">
              <button class="btn btn-bg-primary w-100 me-2" data-bs-toggle="modal" href="#changeMedical" role="button">
                削除
              </button>
              <button class="btn btn-bg-alert w-100">
              編集
              </button>
            </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>IDXXXXXXXXX</td>
          <td class=""><span class=" sub">山田太郎</span></td>
          <td>abcdefg@hijk.com</td>
          <td>
            <div class="d-flex align-items-center">
              <button class="btn btn-bg-primary w-100 me-2" data-bs-toggle="modal" href="#changeMedical" role="button">
                削除
              </button>
              <button class="btn btn-bg-alert w-100">
              編集
              </button>
            </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>IDXXXXXXXXX</td>
          <td class=""><span class=" sub">山田太郎</span></td>
          <td>abcdefg@hijk.com</td>
          <td>
            <div class="d-flex align-items-center">
              <button class="btn btn-bg-primary w-100 me-2" data-bs-toggle="modal" href="#changeMedical" role="button">
                削除
              </button>
              <button class="btn btn-bg-alert w-100">
              編集
              </button>
            </div>
            </div>
          </td>
        </tr>
     
      </tbody>
    </table>
</div>