  <header>
    <h3 class="fz-24  font-semi mb-3 pb-3 mb-md-4 mt-5">
      診療日登録
    </h3>
    <p class="grey fz-12 font-semi">※注釈テキストが入ります。注釈テキストが入ります。注釈テキストが入ります。</p>
</header>
<nav class="nav-datatable mb-4">
  <div class="row">
      <div class="col-md-3">
        <div class="input-group date" id="datepicker">
          <input type="text" class="form-control" id="date"/>
          <span class="input-group-append"></span>
          <img src="../assets/img/icon-calendar.png" alt="">
        </div>
      </div>
      <div class="col-md-2">
        
        <div class="control-date d-flex">
          <a href="#" class="action prev">
            <img src="../assets/img/icon-chevorn-left.png" alt="">
          </a>
          <input type="text" class="form-control" value="Today" readonly>
          <a href="#" class="action next">
            <img src="../assets/img/icon-chevorn-right.png" alt="">
          </a>
        </div>
        
        <!-- <img src="..assets/img/icon-chevorn.png" class="icon-select" alt=""> -->
      </div>
      <div class="col-md-5 ms-auto">
        <div class="d-flex align-items-center justify-content-end">
          <div class="position-relative csv-upload">
            <input type="file">
            <button class="btn btn-bg-primary ms-2 fw-bold">CSVアップロード</button>
          </div>
        </div>
      </div>
  </div>
</nav>
<div class="main medical-register">
    <table class="table table-bordered mb-0 bg-white">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col" class="text-center">
            <p class="code mb-2 grey font-semi">
              ID:XXXXXXXXXX
            </p>
            <h3 class="mb-0 font-semi fz-14">
              山田太郎
            </h3>
          </th>
          <th scope="col" class="text-center">
            <p class="code mb-2 grey font-semi">
              ID:XXXXXXXXXX
            </p>
            <h3 class="mb-0 font-semi fz-14">
              山田太郎
            </h3>
          </th>
          <th scope="col" class="text-center">
            <p class="code mb-2 grey font-semi">
              ID:XXXXXXXXXX
            </p>
            <h3 class="mb-0 font-semi fz-14">
              山田太郎
            </h3>
          </th>
          <th scope="col" class="text-center">
            <p class="code mb-2 grey font-semi">
              ID:XXXXXXXXXX
            </p>
            <h3 class="mb-0 font-semi fz-14">
              山田太郎
            </h3>
          </th>
          <th scope="col" class="text-center">
            <p class="code mb-2 grey font-semi">
              ID:XXXXXXXXXX
            </p>
            <h3 class="mb-0 font-semi fz-14">
              山田太郎
            </h3>
          </th>
          <th scope="col" class="text-center">
            <p class="code mb-2 grey font-semi">
              ID:XXXXXXXXXX
            </p>
            <h3 class="mb-0 font-semi fz-14">
              山田太郎
            </h3>
          </th>
          <th scope="col" class="text-center">
            <p class="code mb-2 grey font-semi">
              ID:XXXXXXXXXX
            </p>
            <h3 class="mb-0 font-semi fz-14">
              山田太郎
            </h3>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>10:00</td>
          <td class="possible">診療可能</td>
          <td class="possible">診療可能</td>
          <td class="im-possible">診療可能</td>
          <td class="possible">診療可能</td>
          <td class="possible">診療可能</td>
          <td class="im-possible">診療可能</td>
          <td class="im-possible">診療可能</td  >
        </tr>
        <tr>
          <td>10:15</td>
          <td class="possible">診療可能</td>
          <td class="possible">診療可能</td>
          <td class="im-possible">診療可能</td>
          <td class="possible">診療可能</td>
          <td class="possible">診療可能</td>
          <td class="im-possible">診療可能</td>
          <td class="im-possible">診療可能</td  >
        </tr>
        <tr>
          <td>10:30</td>
          <td class="possible">診療可能</td>
          <td class="possible">診療可能</td>
          <td class="im-possible">診療可能</td>
          <td class="possible">診療可能</td>
          <td class="possible">診療可能</td>
          <td class="im-possible">診療可能</td>
          <td class="im-possible">診療可能</td  >
        </tr>
        <tr>
          <td>10:45</td>
          <td class="possible">診療可能</td>
          <td class="possible">診療可能</td>
          <td class="im-possible">診療可能</td>
          <td class="possible">診療可能</td>
          <td class="possible">診療可能</td>
          <td class="im-possible">診療可能</td>
          <td class="im-possible">診療可能</td  >
        </tr>
        <tr>
          <td>11:00</td>
          <td class="possible">診療可能</td>
          <td class="possible">診療可能</td>
          <td class="im-possible">診療可能</td>
          <td class="possible">診療可能</td>
          <td class="possible">診療可能</td>
          <td class="im-possible">診療可能</td>
          <td class="im-possible">診療可能</td  >
        </tr>
        <tr>
          <td>11:15</td>
          <td class="possible">診療可能</td>
          <td class="possible">診療可能</td>
          <td class="im-possible">診療可能</td>
          <td class="possible">診療可能</td>
          <td class="possible">診療可能</td>
          <td class="im-possible">診療可能</td>
          <td class="im-possible">診療可能</td  >
        </tr>
        <tr>
          <td>11:30</td>
          <td class="possible">診療可能</td>
          <td class="possible">診療可能</td>
          <td class="im-possible">診療可能</td>
          <td class="possible">診療可能</td>
          <td class="possible">診療可能</td>
          <td class="im-possible">診療可能</td>
          <td class="im-possible">診療可能</td  >
        </tr>
        <tr>
          <td>11:45</td>
          <td class="possible">診療可能</td>
          <td class="possible">診療可能</td>
          <td class="im-possible">診療可能</td>
          <td class="possible">診療可能</td>
          <td class="possible">診療可能</td>
          <td class="im-possible">診療可能</td>
          <td class="im-possible">診療可能</td  >
        </tr>
        <tr>
          <td>12:00</td>
          <td class="possible">診療可能</td>
          <td class="possible">診療可能</td>
          <td class="im-possible">診療可能</td>
          <td class="possible">診療可能</td>
          <td class="possible">診療可能</td>
          <td class="im-possible">診療可能</td>
          <td class="im-possible">診療可能</td  >
        </tr>
        <tr>
          <td>12:15</td>
          <td class="possible">診療可能</td>
          <td class="possible">診療可能</td>
          <td class="im-possible">診療可能</td>
          <td class="possible">診療可能</td>
          <td class="possible">診療可能</td>
          <td class="im-possible">診療可能</td>
          <td class="im-possible">診療可能</td  >
        </tr>
        <tr>
          <td>12:30</td>
          <td class="possible">診療可能</td>
          <td class="possible">診療可能</td>
          <td class="im-possible">診療可能</td>
          <td class="possible">診療可能</td>
          <td class="possible">診療可能</td>
          <td class="im-possible">診療可能</td>
          <td class="im-possible">診療可能</td  >
        </tr>

      </tbody>
    </table>
</div>