<header>
    <h3 class="fz-24 font-semi mb-4 pb-3 mb-md-4 mt-5">
      医師新規登録
    </h3>
</header>
<div class="medical">
  <div class="medical__content mb-4 mb-lg-5">
      <div class="member-detail__content--info bg-white p-4 p-lg-5">
          <h3 class="fz-20 font-semi mb-4">問診ID：XXXXXXXX</h3>
          <div class="mb-4">
            <label for="" class="form-label fz-16">氏名</label>
            <input type="text"  class="form-control bg-light" placeholder="メールアドレスを入力してください。">
          </div>
          <div class="mb-4">
            <label for="" class="form-label fz-16">メールアドレス</label>
            <input type="text"  class="form-control bg-light" placeholder="メールアドレスを入力してください。">
          </div>
          <div class="mb-4">
            <label for="" class="form-label fz-16">パスワード</label>
            <input type="text"  class="form-control bg-light" placeholder="パスワードを入力してください。">
          </div>
          <div class="mb-4">
            <label for="" class="form-label fz-16">パスワード</label>
            <div class="row"> 
              <div class="col-lg-6">
                <select class="js-example-placeholder-single js-states form-control">
                  <option>1</option>
                  <option>1</option>
                  <option>1</option>
                  <option>1</option>
                  <option>1</option>
                </select>
              </div>
            </div>
          </div>
      </div>
      <div class="profile__content text-center">
        <button class="btn btn-primary boder-ra-5" >新規登録する</button>
    </div>
    </div>
  </div>
