<header>
    <h3 class="fz-24 font-semi mb-4 pb-3 mb-md-4 mt-5"> 薬品新規登録 </h3>
</header>
<div class="medical">
    <div class="medical__content mb-4 mb-lg-5">
        <div class="member-detail__content--info bg-white p-4 p-lg-5">
            <div class="info-item">
                <div class="row align-items-center">
                    <div class="col-3">
                    <label for="" class="mb-0 fz-16 font-semi grey">薬品画像</label>
                    </div>
                    <div class="col-9">
                       <div class="d-flex align-items-center">
                           <img src="../assets/img/img-upload-placholder.png" class="me-3 update-img-medical" alt="">
                           <button class="btn btn-bg-primary btn-upload text-nowrap py-2 px-4">
                            <input type="file">
                            画像を設定
                            </button>
                       </div>
                    </div>
                </div>
            </div>
            <div class="info-item">
            <div class="row align-items-center">
                <div class="col-3">
                    <label for="" class="mb-0 fz-16 font-semi grey">薬品分類</label>
                </div>
                <div class="col-9">
                    <input type="text"  class="form-control bg-light" placeholder="">
                </div>
            </div>
            </div>
            <div class="info-item">
                <div class="row align-items-center">
                    <div class="col-3">
                    <label for="" class="mb-0 fz-16 font-semi grey">効能カテゴリー</label>
                    </div>
                    <div class="col-9">
                        <input type="text"  class="form-control bg-light" placeholder="">
                    </div>
                </div>
            </div>
            <div class="info-item">
                <div class="row align-items-center">
                    <div class="col-3">
                    <label for="" class="mb-0 fz-16 font-semi grey">薬品名</label>
                    </div>
                    <div class="col-9">
                        <input type="text"  class="form-control bg-light" placeholder="">
                    </div>
                </div>
            </div>
            <div class="info-item">
                <div class="row align-items-center">
                    <div class="col-3">
                    <label for="" class="mb-0 fz-16 font-semi grey">薬品</label>
                    </div>
                    <div class="col-9">
                        <input type="text"  class="form-control bg-light" placeholder="">
                    </div>
                </div>
            </div>
            <div class="info-item">
                <div class="row align-items-center">
                    <div class="col-3">
                    <label for="" class="mb-0 fz-16 font-semi grey">使用頻度</label>
                    </div>
                    <div class="col-9">
                        <input type="text"  class="form-control bg-light" placeholder="">
                    </div>
                </div>
            </div>
            <div class="info-item">
                <div class="row align-items-center">
                    <div class="col-3">
                    <label for="" class="mb-0 fz-16 font-semi grey">効能</label>
                    </div>
                    <div class="col-9">
                        <input type="text"  class="form-control bg-light" placeholder="">
                    </div>
                </div>
            </div>
            <div class="info-item">
                <div class="row align-items-center">
                    <div class="col-3">
                    <label for="" class="mb-0 fz-16 font-semi grey">メリット</label>
                    </div>
                    <div class="col-9">
                        <input type="text"  class="form-control bg-light" placeholder="">
                    </div>
                </div>
            </div>
            <div class="info-item">
                <div class="row align-items-center">
                    <div class="col-3">
                    <label for="" class="mb-0 fz-16 font-semi grey">デメリット</label>
                    </div>
                    <div class="col-9">
                        <input type="text"  class="form-control bg-light" placeholder="">
                    </div>
                </div>
            </div>
            <div class="info-item">
                <div class="row align-items-center">
                    <div class="col-3">
                        <label for="" class="mb-0 fz-16 font-semi grey">量</label>
                    </div>
                    <div class="col-9">
                        <div class="d-flex align-items-center">
                            <input type="text"  class="form-control bg-light" placeholder="">
                            <label for="" class="mb-0 fz-16 font-semi ms-2 grey">mg</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="info-item">
                <div class="row align-items-center">
                    <div class="col-3">
                        <label for="" class="mb-0 fz-16 font-semi grey">金額（1ヶ月あたり）</label>
                    </div>
                    <div class="col-9">
                        <div class="d-flex align-items-center">
                            <input type="text"  class="form-control bg-light" placeholder="">
                            <label for="" class="mb-0 fz-16 font-semi ms-2 grey">円</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="info-item">
                <div class="row align-items-center">
                    <div class="col-3">
                        <label for="" class="mb-0 fz-16 font-semi grey">金額（1ヶ月あたり）</label>
                    </div>
                    <div class="col-9">
                        <div class="d-flex align-items-center">
                            <select class="form-select bg-light" aria-label="Default select example">
                                <option selected>選択してください。</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                              </select>
                           <a href="#" class="ms-3 p-2"><img src="../assets/img/icon-close-grey.png" alt=""></a>
                        </div>
                        <button class="btn btn-bg-primary d-flex align-items-center justify-content-center mt-2 px-3">
                            <img src="../assets/img/icon-plus-primary.png" class="me-2" alt="">
                            紐付ける問診票を追加
                        </button>
                    </div>
                </div>
            </div>
        </div>
    <div class="profile__content text-center">
        <button class="btn btn-primary boder-ra-5" data-bs-toggle="modal" href="#changeSave" role="button">新規登録する</button>
    </div>
</div>