<header>
    <h3 class="fz-24 font-semi mb-4 pb-3 mb-md-4 mt-5">
        決済詳細
    </h3>
</header>
<div class="medical">
    <div class="medical__content mb-4 mb-lg-5">
        <div class="member-detail__content--info bg-light p-4 p-lg-5">
            <div class="info-item">
                <div class="row">
                    <div class="col-3">
                    <label for="" class="mb-0 fz-16 font-semi grey">診療ID</label>
                    </div>
                    <div class="col-9">
                    <p class="mb-0 fz-16 font-semi">IDXXXXXXXXX</p>
                    </div>
                </div>
            </div>
            <div class="info-item">
                <div class="row">
                    <div class="col-3">
                    <label for="" class="mb-0 fz-16 font-semi grey">決済ID</label>
                    </div>
                    <div class="col-9">
                    <p class="mb-0 fz-16 font-semi">IDXXXXXXXXX</p>
                    </div>
                </div>
            </div>
            <div class="info-item">
                <div class="row">
                    <div class="col-3">
                        <label for="" class="mb-0 fz-16 font-semi grey">決済ステータス</label>
                    </div>
                    <div class="col-9">
                        <p class="mb-0 fz-16 font-semi sub">決済済み</p>
                    </div>
                </div>
            </div>
            <div class="info-item">
                <div class="row">
                    <div class="col-3">
                    <label for="" class="mb-0 fz-16 font-semi grey">姓名</label>
                    </div>
                    <div class="col-9">
                        <p class="mb-0 fz-16 font-semi ">山田太郎</p>
                    </div>
                </div>
            </div>
            <div class="info-item">
                <div class="row">
                    <div class="col-3">
                    <label for="" class="mb-0 fz-16 font-semi grey">ユーザーID</label>
                    </div>
                    <div class="col-9">
                    <p class="mb-0 fz-16 font-semi primary">XXXXXXXXXX</p>
                    </div>
                </div>
            </div>
            <div class="info-item">
                <div class="row">
                    <div class="col-3">
                    <label for="" class="mb-0 fz-16 font-semi grey">電話番号</label>
                    </div>
                    <div class="col-9">
                    <p class="mb-0 fz-16 font-semi text-end text-lg-start">090-111-2222</p>
                    </div>
                </div>
            </div>
            <div class="info-item">
                <div class="row align-items-center">
                    <div class="col-3">
                    <label for="" class="mb-0 fz-16 font-semi grey">選択薬品</label>
                    </div>
                    <div class="col-9">
                        <div class="info-item">
                            <div class="d-flex align-items-end justify-content-between">
                                <div class="">
                                    <label for="" class="mb-1 fz-14 d-block font-semi"><span class="grey me-2">薬の種類</span>リベルサス</label>
                                    <span class="d-inline-block badge light-sub sub small">
                                        3mg
                                    </span>
                                
                                </div>
                                <p class="mb-0 fz-16 font-semi text-end text-lg-start">¥X,XXX円</p>
                            </div>
                        </div>
                        <div class="info-item">
                            <div class="d-flex align-items-end justify-content-between">
                                <div class="">
                                    <label for="" class="mb-1 fz-14 d-block font-semi"><span class="grey me-2">薬の種類</span>薬品名が入ります。薬品名が入ります。</label>
                                    <span class="d-inline-block badge light-sub sub small">
                                        3mg
                                    </span>
                                
                                </div>
                                <p class="mb-0 fz-16 font-semi text-end text-lg-start">¥X,XXX円</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="info-item">
                <div class="row">
                    <div class="col-3">
                    <label for="" class="mb-0 fz-16 font-semi grey">郵便番号</label>
                    </div>
                    <div class="col-9">
                    <p class="mb-0 fz-16 font-semi ">111-2222</p>
                    </div>
                </div>
            </div>
            <div class="info-item">
                <div class="row">
                    <div class="col-3">
                    <label for="" class="mb-0 fz-16 font-semi grey">住所</label>
                    </div>
                    <div class="col-9">
                    <p class="mb-0 fz-16 font-semi ">住所テキストが入ります。住所テキストが入ります。</p>
                    </div>
                </div>
            </div>
        <div class="info-item">
            <div class="row">
                <div class="col-3">
                <label for="" class="mb-0 fz-16 font-semi grey">注文日</label>
                </div>
                <div class="col-9">
                <p class="mb-0 fz-16 font-semi text-end text-lg-start">2022/2/1</p>
                </div>
            </div>
        </div>
        <div class="info-item">
            <div class="row">
                <div class="col-3">
                <label for="" class="mb-0 fz-16 font-semi grey">決済日</label>
                </div>
                <div class="col-9">
                <p class="mb-0 fz-16 font-semi text-end text-lg-start">2022/2/1</p>
                </div>
            </div>
        </div>
        <div class="info-item">
            <div class="row">
                <div class="col-3">
                <label for="" class="mb-0 fz-16 font-semi grey">次回発送日</label>
                </div>
                <div class="col-9">
                <p class="mb-0 fz-16 font-semi text-end text-lg-start">2022/2/10</p>
                </div>
            </div>
        </div>
        <div class="info-item">
            <div class="row">
                <div class="col-3">
                <label for="" class="mb-0 fz-16 font-semi grey">クーポン割引</label>
                </div>
                <div class="col-9">
                <p class="mb-0 fz-16 font-semi text-end text-lg-start">-¥500</p>
                </div>
            </div>
        </div>
        <div class="info-item">
            <div class="row">
                <div class="col-3">
                <label for="" class="mb-0 fz-16 font-semi grey">住所</label>
                </div>
                <div class="col-9">
                <p class="mb-0 fz-16 font-semi text-end text-lg-start">住所テキストが入ります。住所テキストが入ります。</p>
                </div>
            </div>
        </div>
        <div class="info-item">
            <div class="row">
                <div class="col-3">
                <label for="" class="mb-0 fz-16 font-semi grey">セット割引額</label>
                </div>
                <div class="col-9">
                <p class="mb-0 fz-16 font-semi text-end text-lg-start">-¥3,000円</p>
                </div>
            </div>
        </div>
        <div class="info-item">
            <div class="row">
                <div class="col-3">
                <label for="" class="mb-0 fz-16 font-semi grey">合計決済金額</label>
                </div>
                <div class="col-9">
                <p class="mb-0 fz-16 font-semi text-end text-lg-start">¥X,XXX円</p>
                </div>
            </div>
        </div>
        <div class="info-item">
            <div class="row">
                <div class="col-3">
                <label for="" class="mb-0 fz-16 font-semi grey">StripeトランザクションID</label>
                </div>
                <div class="col-9">
                <p class="mb-0 fz-16 font-semi text-end text-lg-start">XXXXXXXXXX</p>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="profile__content text-center">
        <button class="btn btn-outline-primary bg-white boder-ra-5">戻る</button>

      </div>
</div>
<!-- @@include admin-modal-change-medical.html -->
<!-- @@include admin-modal-change-medical-save.html -->

