<header>
    <h3 class="fz-24 font-semi mb-4 pb-3 mb-md-4 mt-5">
        アナリティクス
    </h3>
</header>
<div class="medical">
    <div class="medical__content mb-4 mb-lg-5">
        <div class="member-detail__content--info bg-white p-4 p-lg-5">
            <h3 class="fz-20 font-semi mb-4">CSV出力情報選択</h3>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            ユーザー情報
                        </label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            ユーザー情報
                        </label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            医師情報
                        </label>
                    </div>
                </div>
            </div>
            <hr class="border opacity-100">
            <div class="mb-0">
                <label for="" class="form-label fz-16">出力期間</label>
                <div class="d-flex align-items-center justify-content-between">
                    <select class="form-select bg-light" aria-label="Default select example">
                        <option selected>選択してください。</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                    <span class="mx-3">~</span>
                    <select class="form-select bg-light" aria-label="Default select example">
                        <option selected>選択してください。</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="profile__content text-center">
        <button class="btn btn-primary boder-ra-5">CSV出力</button>

      </div>
</div>