<div class="modal fade profile-top" id="changeMedical" aria-hidden="true" aria-labelledby="changeMedicalLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered justify-content-center flex-column ">
    <div class="modal-content border-ra-20 profile__content m-0">
      <div class="modal-body text-center p-4">
          <h3 class="profile-top__title font-weight-bold mb-4">薬品を変更</h3>
          <div class="option-content__choose">
            <div class="option-content__product" data-bs-toggle="collapse" 
            href="#collapseOption" role="button" aria-expanded="false" aria-controls="collapseOption">
             <p class="font-semi fz-16 mb-0">ジャディアンス</p>
              <div class="d-flex align-items-center">
                <img src="../assets/img/ic-plus.png" class="icon-plus" alt="">
                <img src="../assets/img/ic-minus.png" class="icon-minus" alt="">
              </div>
            </div>
            <div class="collapse" id="collapseOption">
              <div class="option-content__product  sub-item">
                  <div class="option-content__product--info">
                    <h3 class="title mb-0">リベルサス <span>3mg</span></h3>
                  </div>
                  <div class="d-flex align-items-center">
                    <p class="option-content__product--price mb-2">¥<span class="value primary mx-1">3,000</span>/月</p>
                    <div class="form-check me-0 ms-3">
                      <input class="form-check-input mt-0 me-0" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                    </div>
                </div>
              </div>
              <div class="option-content__product  sub-item">
                <div class="option-content__product--info me-3 me-md-0">
                  <h3 class="title mb-0">リベルサス <span>3mg</span></h3>
                </div>
                <div class="d-flex align-items-center">
                  <p class="option-content__product--price mb-2">¥<span class="value primary mx-1">3,000</span>/月</p>
                  <div class="form-check me-0 ms-3">
                    <input class="form-check-input mt-0 me-0" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                  </div>
              </div>
            </div>
            <div class="option-content__product  sub-item">
              <div class="option-content__product--info">
                <h3 class="title mb-0">リベルサス <span>3mg</span></h3>
              </div>
              <div class="d-flex align-items-center">
                <p class="option-content__product--price mb-2">¥<span class="value primary mx-1">3,000</span>/月</p>
                <div class="form-check me-0 ms-3">
                  <input class="form-check-input mt-0 me-0" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                </div>
            </div>
          </div>
            </div>
          </div>
          <!-- Optionchoose --> 
          <div class="option-content__choose">
            <div class="option-content__product" data-bs-toggle="collapse" 
            href="#collapseOption2" role="button" aria-expanded="false" aria-controls="collapseOption2">
              <p class="font-semi fz-16 mb-0">ジャディアンス</p>
              <div class="d-flex align-items-center">
                <img src="../assets/img/ic-plus.png" class="icon-plus" alt="">
                <img src="../assets/img/ic-minus.png" class="icon-minus" alt="">
              </div>
            </div>
            <div class="collapse" id="collapseOption2">
              <div class="option-content__product  sub-item">
                  <div class="option-content__product--info">
                    <h3 class="title mb-0">リベルサス <span>3mg</span></h3>
                  </div>
                  <div class="d-flex align-items-center">
                    <p class="option-content__product--price mb-2">¥<span class="value primary mx-1">3,000</span>/月</p>
                    <div class="form-check me-0 ms-3">
                      <input class="form-check-input mt-0 me-0" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                    </div>
                </div>
              </div>
              <div class="option-content__product  sub-item">
                <div class="option-content__product--info">
                  <h3 class="title mb-0">リベルサス <span>3mg</span>    <span class="badge bg-sub white small">
                    契約中の薬品
                </span></h3>
                </div>
                <div class="d-flex align-items-center">
                  <p class="option-content__product--price mb-2">¥<span class="value primary mx-1">3,000</span>/月</p>
                  <div class="form-check me-0 ms-3">
                    <input class="form-check-input mt-0 me-0" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                  </div>
              </div>
            </div>
            <div class="option-content__product  sub-item">
              <div class="option-content__product--info">
                <h3 class="title mb-0">リベルサス <span>3mg</span></h3>
              </div>
              <div class="d-flex align-items-center">
                <p class="option-content__product--price mb-2">¥<span class="value primary mx-1">3,000</span>/月</p>
                <div class="form-check me-0 ms-3">
                  <input class="form-check-input mt-0 me-0" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                </div>
            </div>
          </div>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-center">
            <button class="btn btn-danger boder-ra-5 me-2" data-bs-target="#topDetail" data-bs-toggle="modal">キャンセル</button>
            <button class="btn btn-outline-primary boder-ra-5" data-bs-target="#topDetail" data-bs-toggle="modal">戻る</button>
          </div>
      </div>
    </div>
  </div>
</div>