<header>
    <h3 class="fz-24 font-semi mb-4 pb-3 mb-md-4 mt-5">
    診療詳細
    </h3>
</header>
<div class="medical">
    <div class="medical__content mb-4 mb-lg-5">
        <h3 class="fz-20 fw- mb-3">診療情報</h3>
        <div class="member-detail__content--info bg-light p-4 p-lg-5">
            <div class="info-item">
                <div class="row">
                    <div class="col-3">
                    <label for="" class="mb-0 fz-16 font-semi grey">診療ID</label>
                    </div>
                    <div class="col-9">
                    <p class="mb-0 fz-16 font-semi">IDXXXXXXXXX</p>
                    </div>
                </div>
            </div>
            <div class="info-item">
            <div class="row">
                <div class="col-3">
                    <label for="" class="mb-0 fz-16 font-semi grey">ZoomURL</label>
                </div>
                <div class="col-9">
                    <p class="mb-0 fz-16 font-semi primary">ZoomURLZoomURLZoomURLZoomURLZoomURL</p>
                </div>
            </div>
        </div>
        <div class="info-item">
            <div class="row">
                <div class="col-3">
                <label for="" class="mb-0 fz-16 font-semi grey">電話番号</label>
                </div>
                <div class="col-9">
                    <p class="mb-0 fz-16 font-semi">090-111-2222　電話診療可能</p>
                </div>
            </div>
        </div>
        <div class="info-item">
            <div class="row">
                <div class="col-3">
                <label for="" class="mb-0 fz-16 font-semi grey">ステータス</label>
                </div>
                <div class="col-9">
                <p class="mb-0 fz-16 font-semi sub">診察前</p>
                </div>
            </div>
        </div>
        <div class="info-item">
            <div class="row">
                <div class="col-3">
                <label for="" class="mb-0 fz-16 font-semi grey">予約日時</label>
                </div>
                <div class="col-9">
                <p class="mb-0 fz-16 font-semi text-end text-lg-start">2022年4月1日（土）14:00~14:30</p>
                </div>
            </div>
        </div>
        <div class="info-item">
            <div class="row align-items-center">
                <div class="col-3">
                <label for="" class="mb-0 fz-16 font-semi grey">選択薬品</label>
                </div>
                <div class="col-9">
                    <div class="info-item">
                        <div class="row">
                            <div class="col-8">
                            <div class="d-flex align-items-end justify-content-between">
                                <div class="">
                                    <label for="" class="mb-1 fz-14 d-block font-semi">選択薬品</label>
                                    <span class="d-block badge light-sub sub small">
                                        3mg
                                    </span>
                                </div>
                                <p class="mb-0 fz-16 font-semi text-end text-lg-start">¥X,XXX円</p>
                            </div>
                            </div>
                            <div class="col-4 d-flex align-items-center">
                            <button class="btn btn-bg-primary d-flex align-items-center justify-content-center w-100 me-2" data-bs-toggle="modal" href="#changeMedical" role="button">
                                <img src="../assets/img/icon-reload.png" class="me-1" alt="">
                                薬品を変更
                                </button>
                            <button class="btn btn-bg-alert d-flex align-items-center justify-content-center w-100 me-2">
                                <img src="../assets/img/icon-trash.png" class="me-1" alt="">
                                薬品を削除
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="info-item">
                        <div class="row">
                            <div class="col-8">
                            <div class="d-flex align-items-end justify-content-between">
                                <div class="">
                                    <label for="" class="mb-1 fz-14 d-block font-semi">選択薬品</label>
                                    <span class="d-block badge light-sub sub small">
                                        3mg
                                    </span>
                                </div>
                                <p class="mb-0 fz-16 font-semi text-end text-lg-start">¥X,XXX円</p>
                            </div>
                            </div>
                            <div class="col-4 d-flex align-items-center">
                            <button class="btn btn-bg-primary d-flex align-items-center justify-content-center w-100 me-2" data-bs-toggle="modal" href="#changeMedical" role="button">
                                <img src="../assets/img/icon-reload.png" class="me-1" alt="">
                                薬品を変更
                                </button>
                            <button class="btn btn-bg-alert d-flex align-items-center justify-content-center w-100 me-2">
                                <img src="../assets/img/icon-trash.png" class="me-1" alt="">
                                薬品を削除
                                </button>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-bg-primary d-flex align-items-center justify-content-center">
                        <img src="../assets/img/icon-plus-primary.png" class="me-2" alt="">
                        薬品を追加
                    </button>
                </div>
            </div>
        </div>
        <div class="info-item">
            <div class="row">
                <div class="col-3">
                <label for="" class="mb-0 fz-16 font-semi grey">クーポン割引</label>
                </div>
                <div class="col-9">
                    <div class="row align-items-end">
                        <div class="col-10">
                            <div class="d-flex align-items-center">
                                <input type="text" class="form-control me-3 h-auto py-2" disabled value="123456789">
                                <button class="btn btn-bg-primary text-nowrap py-2">
                                クーポンコードを適用
                                </button>
                            </div>
                        </div>
                        <div class="col-2">
                            <p class="mb-0 fz-16 font-semi text-end">
                                -¥500</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="info-item">
            <div class="row">
                <div class="col-3">
                <label for="" class="mb-0 fz-16 font-semi grey">セット割引額</label>
                </div>
                <div class="col-9">
                <p class="mb-0 fz-16 font-semi text-end text-lg-start">-¥3,000円</p>
                </div>
            </div>
        </div>
        <div class="info-item">
            <div class="row">
                <div class="col-3">
                <label for="" class="mb-0 fz-16 font-semi grey">合計決済金額</label>
                </div>
                <div class="col-9">
                <p class="mb-0 fz-16 font-semi text-end text-lg-start">¥X,XXX円</p>
                </div>
            </div>
        </div>
        <div class="info-item">
            <div class="row align-items-center">
                <div class="col-3">
                <label for="" class="mb-0 fz-16 font-semi grey">決済情報</label>
                </div>
                <div class="col-9">
                <p class="mb-2 fz-16 font-semi text-end text-lg-start">カード番号：************5432</p>
                <p class="mb-2 fz-16 font-semi text-end text-lg-start">有効期限　：2025/01</p>
                <p class="mb-2 fz-16 font-semi text-end text-lg-start">名義人　　：YAMADA TARO</p>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="medical__content mb-4 mb-lg-5">
        <h3 class="fz-20 fw- mb-3">診療メモ</h3>
        <div class="member-detail__content--info bg-light p-4 p-lg-5">
            <p class="mb-0 fz-16 font-semi">
                1/1 160cm 75kg 目標体重60kg <br/>
                既往歴なし　内服なし　アレルギーなし　現在食事内容は・・・ <br/>
                GLP-1とSGLT2iについて説明し同意を得た。 <br/>
                リベルサス3mg ジャディアンス10mg処方 <br/>
                <br/> <br/>
                3/1　特に副作用なく経過 <br/>
                現在65kg <br/>
                リベルサス7mgへ増量、ジャディアンス25mgへ変更 <br/>
                <br/> <br/>
                5/1　少し日中低血糖起こす様になった。ジャディアンス10mgへ減量　 <br/>
                みたいな流れがわかるように
            </p>
        </div>
    </div>
    <div class="medical__content mb-4 mb-lg-5">
        <h3 class="fz-20 fw- mb-3">会員情報</h3>
        <div class="member-detail__content--info bg-light p-4 p-lg-5">
            <div class="info-item">
                <div class="row">
                    <div class="col-3">
                    <label for="" class="mb-0 fz-16 font-semi grey">姓名</label>
                    </div>
                    <div class="col-9">
                    <p class="mb-0 fz-16 font-semi">山田 太郎</p>
                    </div>
                </div>
            </div>
        <div class="info-item">
            <div class="row">
                <div class="col-3">
                <label for="" class="mb-0 fz-16 font-semi grey">姓名</label>
                </div>
                <div class="col-9">
                    <p class="mb-0 fz-16 font-semi">山田 太郎</p>
                </div>
            </div>
        </div>
        <div class="info-item">
            <div class="row">
                <div class="col-3">
                <label for="" class="mb-0 fz-16 font-semi grey">セイメイ</label>
                </div>
                <div class="col-9">
                <p class="mb-0 fz-16 font-semi sub">ヤマダ タロウ</p>
                </div>
            </div>
        </div>
        <div class="info-item">
            <div class="row">
                <div class="col-3">
                    <label for="" class="mb-0 fz-16 font-semi grey">性別</label>
                </div>
                <div class="col-9">
                    <p class="mb-0 fz-16 font-semi text-end text-lg-start">男性</p>
                </div>
            </div>
        </div>
        <div class="info-item">
            <div class="row">
                <div class="col-3">
                    <label for="" class="mb-0 fz-16 font-semi grey">生年月日</label>
                </div>
                <div class="col-9">
                    <p class="mb-0 fz-16 font-semi text-end text-lg-start">1990年1月1日</p>
                </div>
            </div>
        </div>
        <div class="info-item">
            <div class="row">
                <div class="col-3">
                <label for="" class="mb-0 fz-16 font-semi grey">電話番号</label>
                </div>
                <div class="col-9">
                <p class="mb-0 fz-16 font-semi text-end text-lg-start">090-111-2222</p>
                </div>
            </div>
        </div>
        <div class="info-item">
            <div class="row">
                <div class="col-3">
                <label for="" class="mb-0 fz-16 font-semi grey">住所</label>
                </div>
                <div class="col-9">
                <p class="mb-0 fz-16 font-semi text-end text-lg-start">東京都世田谷区XXXXXXXXXX</p>
                </div>
            </div>
        </div>
        <div class="info-item">
            <div class="row">
                <div class="col-3">
                <label for="" class="mb-0 fz-16 font-semi grey">身長</label>
                </div>
                <div class="col-9">
                <p class="mb-0 fz-16 font-semi text-end text-lg-start">170cm</p>
                </div>
            </div>
        </div>
        <div class="info-item">
            <div class="row">
                <div class="col-3">
                <label for="" class="mb-0 fz-16 font-semi grey">体重</label>
                </div>
                <div class="col-9">
                <p class="mb-0 fz-16 font-semi text-end text-lg-start">65kg</p>
                </div>
            </div>
        </div>
        <div class="info-item">
            <div class="row">
                <div class="col-3">
                <label for="" class="mb-0 fz-16 font-semi grey">BMI</label>
                </div>
                <div class="col-9">
                <p class="mb-0 fz-16 font-semi text-end text-lg-start">20</p>
                </div>
            </div>
        </div>
       
        </div>
    </div>
    <div class="medical__content mb-4 mb-lg-5">
        <h3 class="fz-20 fw- mb-3">問診情報</h3>
        <div class="member-detail__content--info bg-light p-4 p-lg-5">
            <div class="info-item">
                <div class="row">
                    <div class="col-3">
                    <label for="" class="mb-0 fz-16 font-semi grey">問診票質問1</label>
                    </div>
                    <div class="col-9">
                    <p class="mb-0 fz-16 font-semi">回答テキスト回答テキスト回答テキスト</p>
                    </div>
                </div>
            </div>
            <div class="info-item">
                <div class="row">
                    <div class="col-3">
                    <label for="" class="mb-0 fz-16 font-semi grey">問診票質問2</label>
                    </div>
                    <div class="col-9">
                    <p class="mb-0 fz-16 font-semi">回答テキスト回答テキスト回答テキスト</p>
                    </div>
                </div>
            </div>
            <div class="info-item">
                <div class="row">
                    <div class="col-3">
                    <label for="" class="mb-0 fz-16 font-semi grey">問診票質問3</label>
                    </div>
                    <div class="col-9">
                    <p class="mb-0 fz-16 font-semi">回答テキスト回答テキスト回答テキスト</p>
                    </div>
                </div>
            </div>
            <div class="info-item">
                <div class="row">
                    <div class="col-3">
                    <label for="" class="mb-0 fz-16 font-semi grey">問診票質問4</label>
                    </div>
                    <div class="col-9">
                    <p class="mb-0 fz-16 font-semi">回答テキスト回答テキスト回答テキスト</p>
                    </div>
                </div>
            </div>
       
        </div>
    </div>
    <div class="medical__content mb-4 mb-lg-5">
        <h3 class="fz-20 fw- mb-3">該当患者の診療一覧</h3>
        <div class="row">
            <div class="col-md-3">
                <div class="medical__content--patiens">
                    <p class="mb-2 fz-14 font-semi">診療ID：XXXXXXX</p>
                    <div class="d-flex align-items-end justify-content-between mb-2">
                        <span class="badge light-grey black">診療後</span>
                        <p class="mb-0 fz-12 grey font-semi">2022/03/31</p>
                    </div>
                    <button class="btn btn-bg-primary text-center w-100 text-nowrap py-2">
                        詳細を見る
                    </button>
                </div>
            </div>
            <div class="col-md-3">
                <div class="medical__content--patiens">
                    <p class="mb-2 fz-14 font-semi">診療ID：XXXXXXX</p>
                    <div class="d-flex align-items-end justify-content-between mb-2">
                        <span class="badge light-grey black">診療後</span>
                        <p class="mb-0 fz-12 grey font-semi">2022/03/31</p>
                    </div>
                    <button class="btn btn-bg-primary text-center w-100 text-nowrap py-2">
                        詳細を見る
                    </button>
                </div>
            </div>
            <div class="col-md-3">
                <div class="medical__content--patiens">
                    <p class="mb-2 fz-14 font-semi">診療ID：XXXXXXX</p>
                    <div class="d-flex align-items-end justify-content-between mb-2">
                        <span class="badge light-alert obj-alert">キャンセル</span>
                        <p class="mb-0 fz-12 grey font-semi">2022/03/31</p>
                    </div>
                    <button class="btn btn-bg-primary text-center w-100 text-nowrap py-2">
                        詳細を見る
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="profile__content text-center">
        <button class="btn btn-outline-primary me-3 boder-ra-5">戻る</button>
        <button class="btn btn-primary boder-ra-5" data-bs-toggle="modal" href="#changeSave" role="button">診療完了</button>
        <p class="primary mt-3 mb-0">
            診療をキャンセル
        </p>
      </div>
</div>
<!-- @@include admin-modal-change-medical.html -->
<!-- @@include admin-modal-change-medical-save.html -->

