<header>
  <div class="container">
    <h3 class="fz-24 font-semi mb-4 pb-3 mb-md-4 mt-5">
      契約中の薬品
    </h3>
  </div>
</header>
<nav class="nav-datatable mb-4">
  <div class="row">
      <div class="col-md-3">
        <div class="input-group date" id="datepicker">
          <input type="text" class="form-control" id="date"/>
          <span class="input-group-append"></span>
          <img src="../assets/img/icon-calendar.png" alt="">
        </div>
      </div>
      <div class="col-md-3">
        <select class="form-select fz-14" aria-label="Default select example">
          <option selected>担当医を選択</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
        <!-- <img src="..assets/img/icon-chevorn.png" class="icon-select" alt=""> -->
      </div>
      <div class="col-md-5 ms-auto">
        <div class="d-flex align-items-center justify-content-end">
          <div class="position-relative date">
            <input type="text" class="form-control fz-14" placeholder="診療ID検索" />
            <img src="../assets/img/icon-search-primary.png" alt="">
          </div>
          <button class="btn btn-bg-primary ms-2">検索</button>
        </div>
      </div>
  </div>
</nav>
<div class="main">
    <table class="table table-bordered mb-0 bg-white">
      <thead>
        <tr>
          <th scope="col">診療ID</th>
          <th scope="col">診療ステータス</th>
          <th scope="col">診療日時</th>
          <th scope="col">名前</th>
          <th scope="col">担当医</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>IDXXXXXXXXXXX</td>
          <td class=""><span class=" sub">診療前</span></td>
          <td>2022/1/1(土) 12:00~</td>
          <td>山田太郎</td>
          <td>田中一郎医師</td>
        </tr>
        <tr>
          <td>IDXXXXXXXXXXX</td>
          <td class=""><span class=" sub">診療前</span></td>
          <td>2022/1/1(土) 12:00~</td>
          <td>山田太郎</td>
          <td>田中一郎医師</td>
        </tr>
        <tr>
          <td>IDXXXXXXXXXXX</td>
          <td class=""><span class=" sub">診療前</span></td>
          <td>2022/1/1(土) 12:00~</td>
          <td>山田太郎</td>
          <td>田中一郎医師</td>
        </tr>
        <tr>
          <td>IDXXXXXXXXXXX</td>
          <td class=""><span class=" sub">診療前</span></td>
          <td>2022/1/1(土) 12:00~</td>
          <td>山田太郎</td>
          <td>田中一郎医師</td>
        </tr>
      </tbody>
    </table>
</div>