<header>
    <div class="d-flex align-items-center justify-content-between">
      <h3 class="fz-24 font-semi mb-4 pb-3 mb-md-4 mt-5">
        問診票一覧
      </h3>
      <button class="btn btn-primary px-4">新規登録</button>
    </div>
</header>
<div class="medical">
    <div class="medical__content">
        <div class="questionare d-flex align-items-center justify-content-between bg-white">
            <div class="questionare__content ">
                <p class="fz-14 font-semi grey mb-2">問診票ID：XXXXXXXX</p>
                <h3 class="fz-16 font-semi grey mb-0">問診票テキストが入ります。</h3>
            </div>
            <div class="questionare__action">
                <button class="btn btn-bg-alert px-4 py-2 me-2">削除</button>
                <button class="btn btn-bg-primary px-4 py-2">編集</button>
            </div>
        </div>
        <div class="questionare d-flex align-items-center justify-content-between bg-white">
            <div class="questionare__content ">
                <p class="fz-14 font-semi grey mb-2">問診票ID：XXXXXXXX</p>
                <h3 class="fz-16 font-semi grey mb-0">問診票テキストが入ります。</h3>
            </div>
            <div class="questionare__action">
                <button class="btn btn-bg-alert px-4 py-2 me-2">削除</button>
                <button class="btn btn-bg-primary px-4 py-2">編集</button>
            </div>
        </div>
        <div class="questionare d-flex align-items-center justify-content-between bg-white">
            <div class="questionare__content ">
                <p class="fz-14 font-semi grey mb-2">問診票ID：XXXXXXXX</p>
                <h3 class="fz-16 font-semi grey mb-0">問診票テキストが入ります。</h3>
            </div>
            <div class="questionare__action">
                <button class="btn btn-bg-alert px-4 py-2 me-2">削除</button>
                <button class="btn btn-bg-primary px-4 py-2">編集</button>
            </div>
        </div>
        <div class="questionare d-flex align-items-center justify-content-between bg-white">
            <div class="questionare__content ">
                <p class="fz-14 font-semi grey mb-2">問診票ID：XXXXXXXX</p>
                <h3 class="fz-16 font-semi grey mb-0">問診票テキストが入ります。</h3>
            </div>
            <div class="questionare__action">
                <button class="btn btn-bg-alert px-4 py-2 me-2">削除</button>
                <button class="btn btn-bg-primary px-4 py-2">編集</button>
            </div>
        </div>
        <div class="questionare d-flex align-items-center justify-content-between bg-white">
            <div class="questionare__content ">
                <p class="fz-14 font-semi grey mb-2">問診票ID：XXXXXXXX</p>
                <h3 class="fz-16 font-semi grey mb-0">問診票テキストが入ります。</h3>
            </div>
            <div class="questionare__action">
                <button class="btn btn-bg-alert px-4 py-2 me-2">削除</button>
                <button class="btn btn-bg-primary px-4 py-2">編集</button>
            </div>
        </div>
    </div>
</div>