<div class="my-page">
  <form class="my-page__form">
    <fieldset >
      <legend class="my-page__title"> パスワード再設定</legend>
      <div class="mb-4">
        <label for="" class="form-label">新しいパスワード</label>
        <input type="password"  class="form-control" placeholder="パスワードを入力してください。">
      </div>
      <div class="mb-5">
        <label for="" class="form-label">新しいパスワード（確認）</label>
        <input type="password"  class="form-control " placeholder="パスワードを入力してください。">
      </div>
       <div class="text-center">
         <button type="submit" class="btn btn-primary disabled">登録</button>
       </div>
    </fieldset>
  </form>
</div>