<div class="my-page">
  <form class="my-page__form">
    <fieldset >
      <legend class="my-page__title"> パスワード再設定</legend>
      <div class="mb-4">
        <label for="" class="form-label">メールアドレスを入力してください</label>
        <input type="text"  class="form-control" placeholder="メールアドレスを入力してください。">
      </div>
       <div class="text-center">
         <button type="submit" class="btn btn-primary disabled">送信</button>
       </div>
    </fieldset>
  </form>
</div>