<div class="my-page">
  <form class="my-page__form">
    <fieldset >
      <legend class="my-page__title"> ログイン</legend>
      <div class="mb-4">
        <label for="" class="form-label">メールアドレス</label>
        <input type="text"  class="form-control" placeholder="メールアドレスを入力してください。">
      </div>
      <div class="mb-2">
        <label for="" class="form-label">パスワード</label>
        <input type="password"  class="form-control " placeholder="パスワードを入力してください。">
      </div>
       <a href="" class="my-page__forgot d-block">パスワードをお忘れの方</a>
       <div class="text-center">
         <button type="submit" class="btn btn-primary disabled">個人情報登録画面へ</button>
       </div>
    </fieldset>
  </form>
</div>