<div class="my-page">
  <form class="my-page__form reset-ok">
    <fieldset >
      <img src="/assets/img/icon-checked.png" alt="">
      <h3 class="my-page__title">パスワード再設定完了</h3>
      <button class="btn btn-primary">マイページ</button>
    </fieldset>
  </form>
</div>