<nav class="navbar show navbar-vertical navbar-expand-lg px-0 py-3 navbar-light bg-white scrollbar" id="sidebar">
  <div class="container-fluid">
     <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#sidebarCollapse" aria-controls="sidebarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> 
      <a class="navbar-brand d-inline-block py-lg-2 mb-lg-4 me-0" href="/">
         <img src="../assets/img/logo-cms.png" class="w-100" alt="...">
      </a>
      <div class="role-user">
         <ul class="navbar-nav">
            <li class="nav-item">
               <a class="nav-link" href="#sidebar-projects"><img class="me-2" src="../assets/img/icon-user.png" alt=""> admin</a>
            </li>
         </ul>
      </div>
     <div class="collapse navbar-collapse" id="sidebarCollapse">
        <ul class="navbar-nav">
           <li class="nav-item">
              <a class="nav-link" href="#sidebar-projects"><img class="me-2" src="../assets/img/icon-medical-treament.png" alt=""> 診療一覧</a>
           </li>
           <li class="nav-item">
              <a class="nav-link" href="#sidebar-tasks"><img class="me-2" src="../assets/img/icon-schedule.png" alt=""> 診療日登録</a>
           </li>
           <li class="nav-item">
              <a class="nav-link" href="#sidebar-files"><img class="me-2" src="../assets/img/icon-doctor.png" alt=""> 医師一覧</a>
           </li>
           <li class="nav-item">
              <a class="nav-link" href="#sidebar-integrations" ><img class="me-2" src="../assets/img/icon-mediacation.png" alt=""> 薬品一覧</a>
           </li>
           <li class="nav-item">
              <a class="nav-link" href="#sidebar-user" ><img class="me-2" src="../assets/img/icon-history.png" alt=""> 問診票一覧</a>
           </li>
           <li class="nav-item">
              <a class="nav-link" href="#sidebar-settings"><img class="me-2" src="../assets/img/icon-money.png" alt=""> 決済一覧</a>
           <li class="nav-item">
              <a class="nav-link" href="#sidebar-authentication"><img class="me-2" src="../assets/img/icon-chart.png" alt=""> アナリティクス</a>
           </li>
        </ul>
        <hr class="navbar-divider my-4 opacity-70">
        <ul class="navbar-nav">
           <li class="nav-item"><a class="nav-link py-2" href="/docs"><img class="me-2" src="../assets/img/icon-logout.png" alt=""> ログアウト</a></li>
        </ul>
        <div class="mt-auto"></div>
     </div>
  </div>
</nav>