.btn-bg-primary{
  background-color: rgba($color: $primary, $alpha: .08);
  color: $primary;
}
.btn-bg-alert{
  background-color: rgba($color: $object-alert, $alpha: .08);
  color: $object-alert;
}
.btn-bg-sub{
  background-color: rgba($color: $sub, $alpha: .08);
  color: $sub;
}
.btn-danger{
  background-color: $object-alert;
}