$black: #282828;
$white:#ffffff;
$sub:#F05C1C;
$bg-blue:#F1F4FB;
$bg-light:#fafafa;
//primary
$primary:#0144F1;
$primary-light:#97B3FF;
$primary-dark:#58668B;
$primary-white: #DFE4F2;
//object
$grey: #777777;
$grey-dark: #999999;
$object-gray:#CCCCCC;
$object-border:#EEEEEE;
$object-alert:#EE2525;
.black{
  color: $black;
}
.bg-light{
  background-color: $bg-light!important;
}
.grey{
  color: $grey!important;
}
.grey-dark{
  color: $grey-dark!important;
}
.grey-dark-bg{
  background-color: $grey-dark!important;
}
.sub{
  color: $sub!important;
}
.sub-bg{  
  background-color: $sub!important;
}
.bg-sub{  
  background-color: $sub!important;
}
.obj-alert{
  color: $object-alert!important;
}
.primary{
  color: $primary!important;
}
.primary-dark{
  color: $primary-dark!important;
}
.primary-dark-bg{
  background-color: $primary-dark!important;
}
.white{
  color: $white;
}
.bg-border{
  background-color: $object-border!important;
}
.bg-danger{
  background-color: $object-alert;
}
a{
  text-decoration: none;
  &:hover{
    transition: .3s;
    color: $primary;
  }
}
.btn-primary-light-mb{
  background-color: rgba($color: $primary, $alpha: .08);
  color: $primary;
  padding: 10px 30px;
  white-space: nowrap;
  font-size: 14px;
}
.btn-error{
  background-color: rgba($color: $object-alert, $alpha: .08);
  color: $object-alert;
  padding: 22px 88px;
  white-space: nowrap;
  font-size: 16px;
  border-radius: 40px;
}
body{
  background-color: $bg-blue;
  color: $black;
}