body{
  font-family: 'Noto Sans JP', sans-serif;
}
.fz-12{
  font-size: 0.75rem!important;
}
.fz-14{
  font-size: 0.875rem!important;
}
.fz-14-rs{
  font-size: 0.875rem!important;
}
.fz-16{
  font-size: 1rem!important;
}
.fz-18{
  font-size: 1.125rem!important;
}
.fz-20{
  font-size: 1.25rem!important;
}
.fz-24{
  font-size: 1.5rem!important;
}
.mb-3-5{
  margin-bottom: 1.25rem!important;
}
.pb-3-5{
  padding-bottom: 1.25rem!important;
}
.font-semi{
  font-weight: 500;
}
@media (max-width:767.77px){
  .fz-14-rs{
    font-size: 0.75rem!important;
  }
  .fz-16{
    font-size: .875rem!important;
  }
  .fz-20{
    font-size: 1rem!important;
  }
  .fz-24{
    font-size: 1rem!important;
  }
  .mb-3-5{
    margin-bottom: 1rem!important;
  }
  .pb-3-5{
    padding-bottom: 1rem!important;
  }
  .p-4{
    padding: 1.25rem!important;
  }
}