.form-control{
    background-color: $white;
    border: 1px solid $object-border;
    border-radius: 4px;
    height: 3.75rem;
    padding: 1.25rem;
    &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color:    #999999;
    }
    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
       color:    #999999;
       opacity:  1;
    }
    &::-moz-placeholder { /* Mozilla Firefox 19+ */
       color:    #999999;
       opacity:  1;
    }
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
       color:    #999999;
    }
    &::-ms-input-placeholder { /* Microsoft Edge */
       color:    #999999;
    }
    
    &::placeholder { /* Most modern browsers support this now. */
       color:    #999999;
    }
    &:focus{
        border-color: $primary;
        box-shadow: none;
    }
}
.form-control.is-invalid{
    background-image: none;
    background-color: rgba($color: $object-alert, $alpha: .08);
}
.form-select.is-invalid{
    background-image: none!important;
    background-color: rgba($color: $object-alert, $alpha: .08);
}
.form-select{
    background-color: $white;
    border: 1px solid $object-border;
    border-radius: 4px;
    height: 3.75rem;
    padding: 1rem;
}
.form-check-input{
    width: 1.25rem;
    height: 1.25rem;
    border: 1px solid $object-border;
    margin-right: 1rem;
}
.border-ra-0{
    border-radius: 0;
}
.boder-ra-5{
    border-radius: 5rem;
}
.border-ra-5{
    border-radius: 5rem;
}
.br-ra-4px{
    border-radius: 4px;
}
.border-ra-20{
    border-radius: 1.25rem;
}
.border{
    border: 1px solid $object-border!important;
}
.no-border{
    border: none!important;
}
.shadow-blue{
    box-shadow: 0px 10px 30px rgba(1, 68, 241, 0.1);
}
// .valid-feedback, .invalid-feedback{
//     position: absolute;
//     bottom: 0;
// }
.wrapper-select{
    // height: 150px;
    width: 100%;
    .form-select{
        height: auto    ;
    }
}
.form-select.is-invalid:not([multiple]):not([size]), .form-select.is-invalid:not([multiple])[size="1"], .was-validated .form-select:invalid:not([multiple]):not([size]), .was-validated .form-select:invalid:not([multiple])[size="1"]{
    padding-right: 16px;
}
.select2-container--default .select2-selection--single{
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 4px;
    height: 3.75rem;
    padding: 1rem;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    padding: 0;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    top: 50%;
    right: 13px;
    width: 20px;
    transform: translateY(-50%);
}
.control {
	display: block;
	position: relative;
	padding-left: 32px;
    padding-top: 3px;
	cursor: pointer;
	font-size: 18px;
	input {
		position: absolute;
		z-index: -1;
		opacity: 0;
		&:checked {
			& ~ .control__indicator {
				background: $primary;
				&:after {
					display: block;
				}
			}
		}
		&:disabled {
			& ~ .control__indicator {
				background: #ccc;
				opacity: 0.6;
				pointer-events: none;
			}
		}
	}
}
.control__indicator {
	position: absolute;
	top: 2px;
	left: 0;
	height: 24px;
	width: 24px;
	background: #fff;
    border: 1px solid $object-border;
	&:after {
		content: '';
		position: absolute;
		
	}
}
.control--radio {
	.control__indicator {
		border-radius: 50%;
		&:after {
            left: 9px;
            top: 4px;
            width: 5px;
            height: 11px;
			border: solid $object-border;
			border-width: 0 2px 2px 0;
			transform: rotate(45deg);
		}
	}
	input {
		&:disabled {
			& ~ .control__indicator {
				&:after {
					background: #7b7b7b;
                    
				}
			}
		}
	}
}
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
    transition: .3s;
	background: $bg-light;
}
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
	background: #083fcd;
}
.control--checkbox {
	.control__indicator {
		&:after {
            left: 9px;
            top: 3px;
            width: 6px;
            height: 12px;
			border: solid $object-border;
			border-width: 0 2px 2px 0;
			transform: rotate(45deg);
		}
	}
	input {
		&:disabled {
			& ~ .control__indicator {
				&:after {
					border-color: #7b7b7b;
				}
			}
		}
	}
}

@media (max-width: 991.77px){
    .form-check-input{
        margin-right: 10px;
    }
}