@import 'css3-mixins';
@import 'fonts';
@import 'color';
@import 'icon';
@import 'input';
@import 'reset';
@import 'button';
@mixin size($w, $h) {
    width: $w;
    height: $h;
}
html, body{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
}
footer{
    margin-top: auto;
}