<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script>
  $(function() {
  $( "#datepicker" ).datepicker({ firstDay: 1});
});
</script>

<script>
  $(".navbar-toggler").click(function(){
    $("body").addClass("menu-is-open");
  });
  $(".icon-toggle").click(function(){
    $("body").removeClass("menu-is-open");
  });
</script>
<script>
  $(".js-example-placeholder-single").select2({
    placeholder: {
    id: '-1', // the value of the option
    text: '例）'
    },
 });  
</script>
<footer class="footer">
    <div class="container">
        <div class="footer__logo">
          <img src="/assets/img/logo-white.png" alt="">
        </div>
        <ul class="footer__menu">
          <li class="footer__menu--link">
            <a href="">T-medicalについて</a>
          </li>
          <li class="footer__menu--link">
            <a href="">お問い合わせ</a>
          </li>
          <li class="footer__menu--link">
            <a href="">利用規約</a>
          </li>
          <li class="footer__menu--link">
            <a href="">プライバシーポリシー</a>
          </li>
          <li class="footer__menu--link">
            <a href="">特定商取引法に基づく表記</a>
          </li>
        </ul>
        <div class="footer__contact">
          <p class="mb-0">〒104-0031 東京都中央区京橋3-1-1東京スクエアガーデン14F
           </p>
           <p class="mb-0"> 03-6820-1425 / info@t-medical.clinic</p>
        </div>
        <p class="footer__reserved">
          Copyright 2022 T-medical.clinic. All Rights Reserved.
        </p>
    </div>
</footer>