<div class="header">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="../assets/img/logo.png" class="logo" alt="">
      </a>
      <a href="#" class="ms-auto d-block d-md-none me-2">
        <img src="../assets/img/icon-menu-user-24.png" class="logo" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
          <img src="../assets/img/icon-hamburger.png" alt="">
        </span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="collapse__header d-flex align-items-center justify-content-between d-lg-none">
          <img src="../assets/img/logo.png" class="logo" alt="">
          <img src="../assets/img/icon-close-menu.png" class="icon-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        </div>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">
                <img src="../assets/img/icon-menu-medical.png" class="me-2" alt="">
                T-medicalについて
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <img src="../assets/img/icoon-menu-plan.png" class="me-2" alt="">
              料金プラン
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <img src="../assets/img/icon-menu-chat.png" class="me-2" alt="">
              よくあるご質問
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link">
              <img src="../assets/img/icon-menu-calendar.png" class="me-2" alt="">
              診療予約
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>  
