<div class="modal fade profile-drug" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered justify-content-center flex-column modal-xl">
    <div class="modal-content">
      <div class="modal-body chemical border-ra-20">
        <div class="row">
          <div class="col-12 col-lg-4 chemical-box d-flex flex-row flex-lg-column">
            <div class="chemical__header">
              <h3 class="mb fz-20 font-weight-bold white">お薬の種類</h3>
            </div> 
            <div class="chemical__content">
                <div class="d-flex align-items-center mb-2">
                    <img src="../assets/img/img-product.png" class="img-product  me-3" alt="">
                    <div class="chemical__content--info">
                      <div class="tag">リベルサス</div>
                      <p class="mb-0 fz-14">GLP-1内服薬</p>
                    </div>
                </div>
                  <div class="tab w-100 primary-dark-bg mb-2">1日1回内服</div>
                  <p class="description mb-0">
                    効果的に痩せたいが、自己注射に抵抗がある方向け
                  </p>
            </div>
          </div>
          <div class="col-lg-4 chemical-box d-flex flex-row flex-lg-column">
            <div class="chemical__header">
              <h3 class="mb fz-20 font-weight-bold white">お薬の特徴</h3>
            </div> 
            <div class="chemical__content">
              <div class="tab w-100 sub-bg mb-2">1日1回内服</div>
              <p class="description mb-3-5">
                <img src="../assets/img/icon-checked-organ.png" class="me-1" alt="">  錠剤のため、手軽に投与可能
                </p>
                <div class="tab w-100 grey-dark-bg mb-2">デメリット</div>
                <p class="description mb-2">
                <img src="../assets/img/icon-checked-grey.png" class="me-1" alt="">  毎日服用する必要あり
                </p>
                <p class="description mb-0">
                <img src="../assets/img/icon-checked-grey.png" class="me-1" alt="">  内服後30分間は飲食できない
                </p>
            </div>
          </div>
          <div class="col-lg-4 chemical-box d-flex flex-row flex-lg-column">
            <div class="chemical__header">
              <h3 class="mb fz-20 font-weight-bold white">料金</h3>
            </div> 
            <div class="chemical__content">
              <div class="d-flex align-items-center justify-content-between chemical__content--item">
                <p class="description mb-0 fz-14">
                  3mg(30錠)
                </p>
                <div class="chemical__price">
                  <span class="value">¥</span>
                    14,900
                  <span class="count">/月</span>
                </div>
              </div>
              <div class="d-flex align-items-center justify-content-between chemical__content--item">
                <p class="description mb-0 fz-14">
                  3mg(30錠)
                </p>
                <div class="chemical__price">
                  <span class="value">¥</span>
                    14,900
                  <span class="count">/月</span>
                </div>
              </div>
              <div class="d-flex align-items-center justify-content-between chemical__content--item">
                <p class="description mb-0 fz-14">
                  3mg(30錠)
                </p>
                <div class="chemical__price">
                  <span class="value">¥</span>
                    14,900
                  <span class="count">/月</span>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    
    </div>
      <div class="modal-footer">
        <button class="btn btn-primary boder-ra-5" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">戻る</button>
      </div>
  </div>
</div>