<div class="medical-detail">
  <h3 class="fz-24 font-semi mb-3-5">診療詳細</h3>
  <div class="medical-detail__content border-ra-20">
      <div class="card card-body p-4">
        <div class="medical-detail__content--item mb-3-5 pb-3-5">
          <div class="row">
            <div class="col-4">
                <label for="" class="mb-0 grey fz-16 font-semi">ステータス</label>
            </div>
            <div class="col-8">
              <p class="mb-0 fz-16 text-end text-md-start font-semi"><span class="badge light-alert obj-alert">診療前</span></p>
            </div>
          </div>
        </div>
        <div class="medical-detail__content--item mb-3-5 pb-3-5">
          <div class="row">
            <div class="col-4">
                <label for="" class="mb-0 grey fz-16 font-semi">予約日時</label>
            </div>
            <div class="col-8">
              <p class="mb-0 fz-16 text-end text-md-start font-semi">2022年2月5日（土）14:00~14:30</p>
            </div>
          </div>
        </div>
        <div class="medical-detail__content--item mb-3-5 pb-3-5">
          <div class="row">
            <div class="col-4">
                <label for="" class="mb-0 grey fz-16 font-semi">選択薬品</label>
            </div>
            <div class="col-8">
              <div class="d-flex flex-column flex-lg-row align-items-lg-center align-items-end justify-content-between mb-2">
                <p class="mb-0 fz-16 text-end text-md-start font-semi">薬品名が入ります <span class="badge light-sub black small me-2">7mg</span></p>
                <p class=" mb-0 fz-18 font-semi">¥X,XXX</p>
              </div>
              <div class="d-flex flex-column flex-lg-row align-items-lg-center align-items-end justify-content-between mb-2">
                <p class="mb-0 fz-16 text-end text-md-start font-semi">薬品名が入ります <span class="badge light-sub black small me-2">7mg</span></p>
                <p class=" mb-0 fz-18 font-semi">¥X,XXX</p>
              </div>
            </div>
          </div>
        </div>
        <div class="medical-detail__content--item mb-3-5 pb-3-5">
          <div class="row">
            <div class="col-4">
                <label for="" class="mb-0 grey fz-16 font-semi">ZoomURL</label>
            </div>
            <div class="col-8">
              <p class="mb-0 fz-16 text-end text-md-start font-semi">ZoomURLZoomURLZoomURLZoomURLZoomURL</p>
            </div>
          </div>
        </div>
        <div class="medical-detail__content--item mb-3-5 pb-3-5">
          <div class="row">
            <div class="col-4">
                <label for="" class="mb-0 grey fz-16 font-semi">電話診療</label>
            </div>
            <div class="col-8">
              <p class="mb-0 fz-16 text-end text-md-start font-semi">可能</p>
            </div>
          </div>
        </div>
        <div class="medical-detail__content--item mb-3-5 pb-3-5">
          <div class="row">
            <div class="col-4">
                <label for="" class="mb-0 grey fz-16 font-semi">決済情報</label>
            </div>
            <div class="col-8">
              <p class="mb-3 fz-16 text-end text-md-start font-semi">クレジットカード</p>
            </div>
          </div>
          <div class="info-card p-3 d-block d-md-none">
            <div class="row">
              <div class="col-4">
                <label for="" class="mb-3 grey fz-14 font-semi">有効期限</label>
              </div>
              <div class="col-8">
                <p class="mb-3 black fz-16 font-semi">2025/01</label>
              </div>
              <div class="col-4">
                <label for="" class="mb-3 grey fz-14 font-semi">有効期限</label>
              </div>
              <div class="col-8">
                <p class="mb-3 black fz-16 font-semi">2025/01</label>
              </div>
              <div class="col-4">
                <label for="" class="mb-3 grey fz-14 font-semi">名義人</label>
              </div>
              <div class="col-8">
                <p class="mb-3 black fz-16 font-semi">YAMADA TARO</label>
              </div>
              <div class="col-4">
                <label for="" class="mb-0 grey fz-14 font-semi">CVC</label>
              </div>
              <div class="col-8">
                <p class="mb-0 black fz-16 font-semi">123</label>
              </div>
            </div>
          </div>
        </div>
        <div class="medical-detail__content--item mb-3-5 pb-3-5">
          <div class="row">
            <div class="col-4">
                <label for="" class="mb-0 grey fz-16 font-semi">決済ステータス</label>
            </div>
            <div class="col-8">
              <p class="mb-0 fz-16 text-end text-md-start font-semi">決済前</p>
            </div>
          </div>
        </div>
        <div class="medical-detail__content--item ">
          <div class="row">
            <div class="col-4">
                <label for="" class="mb-0 grey fz-16 font-semi">予約キャンセル</label>
            </div>
            <div class="col-8">
              <a href="" class="mb-0 fz-16 text-end text-md-start font-semi primary" data-bs-toggle="modal" data-bs-target="#topDetail">キャンセルする</a>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="mt-4 text-center">
    <button class="btn btn-outline-primary boder-ra-5">戻る</button>
  </div>
</div>
<!-- @@include profile-top-modal.html -->