<div class="profile">
  <div class="container">
      <div class="profile__content">
        <div class="d-flex align-items-center justify-content-center mb-4 mb-md-5">
          <legend class="title mb-0"> 診療予約</legend>
          <button class="btn btn-primary appointment">診療予約</button>
        </div>
         
      </div>
  </div>
  <div class="container tab-panel">
    <div class="profile__content mt-0">
        <div class="profile__content--info">
          <ul class="nav nav-pills">
            <li class="nav-item" role="presentation">
              <button class="nav-link " id="home-tab" 
              data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" 
              aria-controls="home" aria-selected="true">診療一覧</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="profile-tab" data-bs-toggle="tab" 
              data-bs-target="#profile" type="button" role="tab" aria-controls="profile"
                aria-selected="false">契約中の薬品</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="messages-tab" 
              data-bs-toggle="tab" data-bs-target="#messages" type="button" role="tab"
              aria-controls="messages" aria-selected="false">会員情報</button>
            </li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane " id="home" role="tabpanel" aria-labelledby="home-tab">
              <div class="card card-body no-border p-4 p-lg-5 tab-pane__content" >
              <!-- @@include profile-top-table.html -->
              </div>
            </div>
            <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
              <div class="card card-body no-border p-4 p-lg-5 tab-pane__content" >
                <!-- @@include profile-drug-contract.html -->
              </div>
            </div>
            <div class="tab-pane active" id="messages" role="tabpanel" aria-labelledby="messages-tab">
              <div class="card card-body no-border p-4 p-lg-5 tab-pane__content" >
                <div class="member-detail">
                  <h3 class="fz-24 font-semi mb-3 mb-md-4">
                    会員情報
                  </h3>
                  <div class="member-detail__content">
                    <div class="member-detail__content--info bg-light p-4 p-lg-5">
                        <div class="info-item">
                            <div class="row align-items-center">
                                <div class="col-lg-3">
                                  <label for="" class="mb-2 mb-lg-0 fz-16 font-semi grey">姓名</label>
                                </div>
                                <div class="col-lg-9">
                                  <div class="row">
                                    <div class="col-6">
                                      <input type="text"  class="form-control" placeholder="" value="山田">
                                    </div>
                                    <div class="col-6">
                                      <input type="text"  class="form-control" placeholder="" value="太郎">
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="info-item">
                          <div class="row align-items-center">
                            <div class="col-lg-3">
                              <label for="" class="mb-2 mb-lg-0 fz-16 font-semi grey">セイメイ</label>
                            </div>
                            <div class="col-lg-9">
                              <div class="row">
                                <div class="col-6">
                                  <input type="text"  class="form-control" placeholder="" value="ヤマダ">
                                </div>
                                <div class="col-6">
                                  <input type="text"  class="form-control" placeholder="" value="タロウ">
                                </div>
                              </div>
                            </div>
                        </div>
                      </div>
                      <div class="info-item">
                        <div class="row align-items-center">
                            <div class="col-lg-3">
                              <label for="" class="mb-2 mb-lg-0 fz-16 font-semi grey">性別</label>
                            </div>
                            <div class="col-lg-9">
                              <div class="d-flex align-items-center justify-content-between">
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                  <label class="form-check-label" for="inlineRadio1">男性</label>
                                </div>
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                  <label class="form-check-label" for="inlineRadio2">女性</label>
                                </div>
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3" >
                                  <label class="form-check-label" for="inlineRadio3">回答しない</label>
                                </div>
                              </div>
                            </div>
                        </div>
                      </div>
                      <div class="info-item">
                        <div class="row align-items-center">
                            <div class="col-lg-3">
                              <label for="" class="mb-2 mb-lg-0 fz-16 font-semi grey">生年月日</label>
                            </div>
                            <div class="col-lg-9">
                              <div class="row">
                                <div class="col-5 d-flex align-items-end">
                                  <select class="form-select" aria-label="Default select example">
                                    <option selected>Open</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                  </select>
                                  <span class="ms-2 grey fz-14">年</span>
                                </div>
                                <div class="col-7">
                                  <div class="row">
                                    <div class="col-6  d-flex align-items-end">
                                      <select class="form-select" aria-label="Default select example">
                                        <option selected>Open</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                      </select>
                                      <span class="ms-2 grey fz-14">年</span>
                                    </div>
                                    <div class="col-6  d-flex align-items-end">
                                      <select class="form-select" aria-label="Default select example">
                                        <option selected>Open</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                      </select>
                                      <span class="ms-2 grey fz-14">年</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </div>
                      </div>
                      <div class="info-item">
                        <div class="row align-items-center">
                            <div class="col-lg-3">
                              <label for="" class="mb-2 mb-lg-0 fz-16 font-semi grey">電話番号</label>
                            </div>
                            <div class="col-lg-9">
                              <input type="text"  class="form-control" placeholder="" value="090-111-2222">
                            </div>
                        </div>
                      </div>
                      <div class="info-item">
                        <div class="row align-items-center">
                            <div class="col-lg-3">
                              <label for="" class="mb-2 mb-lg-0 fz-16 font-semi grey">郵便番号</label>
                            </div>
                            <div class="col-lg-9">
                              <div class="row">
                                <div class="col-lg-6">
                                  <input type="text"  class="form-control" placeholder="" value="111-2222">
                                </div>
                              </div>
                            </div>
                        </div>
                      </div>
                      <div class="info-item">
                        <div class="row align-items-center">
                            <div class="col-lg-3">
                              <label for="" class="mb-2 mb-lg-0 fz-16 font-semi grey">住所</label>
                            </div>
                            <div class="col-lg-9">
                              <input type="text"  class="form-control" placeholder="" value="東京都世田谷区XXXXXXXXXX">
                            </div>
                        </div>
                      </div>
                      <div class="info-item">
                        <div class="row align-items-center">
                            <div class="col-lg-3">
                              <label for="" class="mb-2 mb-lg-0 fz-16 font-semi grey">身長</label>
                            </div>
                            <div class="col-lg-9">
                              <div class="row">
                                <div class="col-lg-6 d-flex align-items-end">
                                  <input type="text"  class="form-control" placeholder="" value="170">
                                  <span class="ms-2 grey">cm</span>
                                </div>
                              </div>
                            </div>
                        </div>
                      </div>
                      <div class="info-item">
                        <div class="row align-items-center">
                            <div class="col-lg-3">
                              <label for="" class="mb-2 mb-lg-0 fz-16 font-semi grey">体重</label>
                            </div>
                            <div class="col-lg-9">
                              <div class="row">
                                <div class="col-lg-6 d-flex align-items-end">
                                  <input type="text"  class="form-control" placeholder="" value="170">
                                  <span class="ms-2 grey">kg</span>
                                </div>
                              </div>
                            </div>
                        </div>
                      </div>
                      <div class="info-item">
                        <div class="row align-items-center">
                            <div class="col-lg-3">
                              <label for="" class="mb-2 mb-lg-0 fz-16 font-semi grey">BMI</label>
                            </div>
                            <div class="col-lg-9">
                                  <input type="text"  class="form-control" placeholder="" value="20">
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="text-center">
                    <button class="btn btn-outline-primary me-3 boder-ra-5">戻る</button>
                    <button class="btn btn-primary boder-ra-5">問診票の記入へ</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>