<div class="profile">
  <div class="container">
    <div class="profile__content">
      <legend class="title"> 診療予約</legend>
      <div class="profile__content--timeline">
        <ul class="progressbar icon">
          <li>
            <a href=""> <img src="../assets/img/icon-profile-1-active.png" alt=""></a>
          </li>
          <li class="">
            <a href=""><img src="../assets/img/icon-profile-2-active.png" alt=""></a>
          </li>
          <li class="">
            <a href=""><img src="../assets/img/icon-profile-3-active.png" alt=""></a>
          </li>
          <li>
            <a href=""><img src="../assets/img/icon-regis-3.png" alt=""></a>
          </li>
          <li>
            <a href=""><img src="../assets/img/icon-regis-4.png" alt=""></a>
          </li>
        </ul>
        <ul class="progressbar mb-0">
          <li class="complete">
            <a href="">薬品選択</a>
          </li>
          <li class="complete">
            <a href="#"> 
              <span class="d-none d-lg-block">診療日/時間選択</span>
              <span class="d-block d-lg-none">診療日選択</span>
            </a>
          </li>
          <li class="active"><a href="">問診票登録</a></li>
          <li><a href="#">予約内容確認</a></li>
          <li><a href="">予約完了</a></li>
        </ul>
      </div>
      <p class="mb-4 fz-20 font-semi">ご希望の診療日と時間を選択してください。</p>
      <div class="question">
        <div class="card card-body no-border p-4 border-ra-20">
          <div class="question__content">
              <h3 class="question__title">
                <img src="../assets/img/icon-search.png" class="me-2" alt="">
                問診票の質問テキストが入ります
              </h3>
              <div class="question__item">
                <label class="control control--radio">
                  選択回答テキストが入ります。選択回答テキストが入ります。
                  <input type="radio" name="radio"/>
                  <div class="control__indicator"></div>
                </label>
                  <!-- <img class="question__item--img" src="../assets/img/icon-check-circle.png" clas alt="">
                  <img class="question__item--img active" src="../assets/img/icon-check-circle-active.png" alt=""> -->
              </div>
              <div class="question__item ">
                <label class="control control--radio">
                  選択回答テキストが入ります。選択回答テキストが入ります。
                  <input type="radio" name="radio" checked="checked"/>
                  <div class="control__indicator"></div>
                </label>
            </div>
            <div class="question__item">
              <label class="control control--radio">
                選択回答テキストが入ります。選択回答テキストが入ります。
                <input type="radio" name="radio" />
                <div class="control__indicator"></div>
              </label>
            </div>
            <p class="mb-0 fz-12 obj-alert">恐れ入りますがテキストテキストテキストテキストテキスト</p>
          </div>
        </div>
        <div class="card card-body no-border p-4 border-ra-20">
          <div class="question__content">
              <h3 class="question__title">
                <img src="../assets/img/icon-search.png" class="me-2" alt="">
                問診票の質問テキストが入ります
              </h3>
              <div class="question__item">
                  <img class="question__item--img" src="../assets/img/icon-check-circle.png" clas alt="">
                  <img class="question__item--img active" src="../assets/img/icon-check-circle-active.png" alt="">
                  <p class="mb-0">選択回答テキストが入ります。選択回答テキストが入ります。</p>
              </div>
              <div class="question__item active">
                <img class="question__item--img" src="../assets/img/icon-check-circle.png" clas alt="">
                <img class="question__item--img active" src="../assets/img/icon-check-circle-active.png" alt="">
                <p class="mb-0">選択回答テキストが入ります。選択回答テキストが入ります。</p>
            </div>
            <div class="question__item">
              <img class="question__item--img" src="../assets/img/icon-check-circle.png" clas alt="">
              <img class="question__item--img active" src="../assets/img/icon-check-circle-active.png" alt="">
              <p class="mb-0">選択回答テキストが入ります。選択回答テキストが入ります。</p>
            </div>
          </div>
        </div>
        <div class="card card-body no-border p-4 border-ra-20">
          <div class="question__content">
              <h3 class="question__title">
                <img src="../assets/img/icon-search.png" class="me-2" alt="">
                問診票の質問テキストが入ります
              </h3>
              <div class="question__item">
                  <img class="question__item--img" src="../assets/img/icon-check-circle.png" clas alt="">
                  <img class="question__item--img active" src="../assets/img/icon-check-circle-active.png" alt="">
                  <p class="mb-0">選択回答テキストが入ります。選択回答テキストが入ります。</p>
              </div>
              <div class="question__item active">
                <img class="question__item--img" src="../assets/img/icon-check-circle.png" clas alt="">
                <img class="question__item--img active" src="../assets/img/icon-check-circle-active.png" alt="">
                <p class="mb-0">選択回答テキストが入ります。選択回答テキストが入ります。</p>
            </div>
            <div class="question__item">
              <img class="question__item--img" src="../assets/img/icon-check-circle.png" clas alt="">
              <img class="question__item--img active" src="../assets/img/icon-check-circle-active.png" alt="">
              <p class="mb-0">選択回答テキストが入ります。選択回答テキストが入ります。</p>
            </div>
          </div>
        </div>
        <div class="text-center mt-3">
          <button class="btn btn-outline-primary me-3 boder-ra-5">戻る</button>
          <button class="btn btn-primary boder-ra-5">問診票の記入へ</button>
        </div>
      </div>
    </div>
  </div>
</div>