<div class="profile">
    <div class="container">
        <div class="profile__content">
            <legend class="title"> 診療予約</legend>
            <div class="profile__content--timeline">
                <ul class="progressbar icon">
                    <li>
                      <a href=""> <img src="../assets/img/icon-profile-1-active.png" alt=""></a>
                    </li>
                    <li class="">
                      <a href=""><img src="../assets/img/icon-profile-2-active.png" alt=""></a>
                    </li>
                    <li class="">
                      <a href=""><img src="../assets/img/icon-profile-3-active.png" alt=""></a>
                    </li>
                    <li>
                      <a href=""><img src="../assets/img/icon-regis-3-active.png" alt=""></a>
                    </li>
                    <li>
                      <a href=""><img src="../assets/img/icon-regis-4.png" alt=""></a>
                    </li>
                  </ul>
                  <ul class="progressbar mb-0">
                    <li class="complete">
                      <a href="">薬品選択</a>
                    </li>
                    <li class="complete">
                        <a href="#"> 
                            <span class="d-none d-lg-block">診療日/時間選択</span>
                            <span class="d-block d-lg-none">診療日選択</span>
                        </a>
                    </li>
                    <li class="complete"><a href="">問診票登録</a></li>
                    <li class="active"><a href="#">予約内容確認</a></li>
                    <li><a href="">予約完了</a></li>
                  </ul>
            </div>
            <p class="mb-3 fz-20 font-semi">予約内容確認</p>
            <div class="reservation">
                <div class="card card-body no-border p-4 px-md-5 border-ra-20">
                    <div class="reservation__content">
                        <div class="reservation__content--item">
                            <div class="row">
                                <div class="col-4">
                                    <label for="" class="mb-0 fz-16 grey-dark font-semi">診療日</label>
                                </div>
                                <div class="col-8">
                                    <p class="mb-0 fz-16 font-semi">2022年2月5日（土）14:00~14:30</p>
                                </div>
                            </div>
                        </div>
                        <div class="reservation__content--item">
                            <div class="row">
                                <div class="col-4">
                                    <label for="" class="mb-0 fz-16 grey-dark font-semi">薬品</label>
                                </div>
                                <div class="col-8">
                                    <p class="mb-0 fz-16 font-semi">リベルサス,3mg,¥3,000/月</p>
                                </div>
                            </div>
                        </div>
                        <div class="reservation__content--item">
                            <div class="row">
                                <div class="col-4">
                                    <label for="" class="mb-0 fz-16 grey-dark font-semi">問診票質問1</label>
                                </div>
                                <div class="col-8">
                                    <p class="mb-0 fz-16 font-semi">選択回答テキストが入ります。</p>
                                </div>
                            </div>
                        </div>
                        <div class="reservation__content--item">
                            <div class="row">
                                <div class="col-4">
                                    <label for="" class="mb-0 fz-16 grey-dark font-semi">問診票質問2</label>
                                </div>
                                <div class="col-8">
                                    <p class="mb-0 fz-16 font-semi">選択回答テキストが入ります。</p>
                                </div>
                            </div>
                        </div>
                        <div class="reservation__content--item">
                            <div class="row">
                                <div class="col-4">
                                    <label for="" class="mb-0 fz-16 grey-dark font-semi">問診票質問3</label>
                                </div>
                                <div class="col-8">
                                    <p class="mb-0 fz-16 font-semi">選択回答テキストが入ります。</p>
                                </div>
                            </div>
                        </div>
                        <div class="reservation__content--item">
                            <div class="row">
                                <div class="col-4">
                                    <label for="" class="mb-0 fz-16 grey-dark font-semi">問診票質問4</label>
                                </div>
                                <div class="col-8">
                                    <p class="mb-0 fz-16 font-semi">選択回答テキストが入ります。</p>
                                </div>
                            </div>
                        </div>
                        <div class="reservation__content--item">
                            <div class="row">
                                <div class="col-4">
                                    <label for="" class="mb-0 fz-16 grey-dark font-semi">問診票質問5</label>
                                </div>
                                <div class="col-8">
                                    <p class="mb-0 fz-16 font-semi">選択回答テキストが入ります。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <div class="reservation__check d-inline-block mt-4">
                        <!-- <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                              Default checkbox
                            </label>
                        </div> -->
                        <label class="control control--checkbox fz-14 font-semi">電話での診療も可能
                            <input type="checkbox" checked="checked"/>
                            <div class="control__indicator"></div>
                          </label>
                    </div>
                    <div class="reservation__cta mt-4">
                        <button class="btn btn-outline-primary me-3 boder-ra-5">戻る</button>
                        <button class="btn btn-primary boder-ra-5">予約を確定する</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>