<div class="profile">
    <div class="container">
        <div class="profile__content">
            <legend class="title"> 診療予約</legend>
            <div class="profile__content--timeline">
              <ul class="progressbar icon">
                <li>
                  <a href=""> <img src="../assets/img/icon-profile-1-active.png" alt=""></a>
                </li>
                <li class="">
                  <a href=""><img src="../assets/img/icon-profile-2-active.png" alt=""></a>
                </li>
                <li class="">
                  <a href=""><img src="../assets/img/icon-profile-3-active.png" alt=""></a>
                </li>
                <li>
                  <a href=""><img src="../assets/img/icon-regis-3-active.png" alt=""></a>
                </li>
                <li>
                  <a href=""><img src="../assets/img/icon-regis-4-active.png" alt=""></a>
                </li>
              </ul>
              <ul class="progressbar mb-0">
                <li class="complete">
                  <a href="">薬品選択</a>
                </li>
                <li class="complete">
                  <a href="#"> 
                    <span class="d-none d-lg-block">診療日/時間選択</span>
                    <span class="d-block d-lg-none">診療日選択</span>
                  </a>
                </li>
                <li class="complete"><a href="">問診票登録</a></li>
                <li class="complete"><a href="#">予約内容確認</a></li>
                <li class="complete"><a href="">予約完了</a></li>
              </ul>
            </div>
            <fieldset class="text-center">
              <p class="mb-4 fz-24 font-semi">ご予約ありがとうございました！</p>
              <img src="/assets/img/icon-checked.png" alt="">
              <p class="mb-2 fz-18 font-semi">当日は<span class="sub">ZOOM、</span>もしくは<span class="sub">電話</span>での診察になります。</p>
              <p class="mb-4 fz-28 font-semi">診療当日にご登録いただいたメールアドレスにURLをお送りいたします。</p>
              <button class="btn btn-primary boder-ra-5">予約詳細</button>
            </fieldset>
        </div>
    </div>
</div>