<div class="member-detail">
  <h3 class="fz-24 font-semi mb-3 mb-md-4">
    会員情報
  </h3>
  <div class="member-detail__content">
    <div class="member-detail__content--header">
        <h5 class="fz-18 font-semi mb-0">個人情報</h5>
        <button class="btn btn-bg-primary fz-14 boder-ra-5">変更</button>
    </div>
    <div class="member-detail__content--info bg-light p-4 p-lg-5">
        <div class="info-item">
            <div class="row">
                <div class="col-4">
                  <label for="" class="mb-0 fz-16 font-semi grey">姓名</label>
                </div>
                <div class="col-8">
                  <p class="mb-0 fz-16 font-semi">山田 太郎</p>
                </div>
            </div>
        </div>
        <div class="info-item">
          <div class="row">
              <div class="col-4">
                <label for="" class="mb-0 fz-16 font-semi grey">セイメイ</label>
              </div>
              <div class="col-8">
                <p class="mb-0 fz-16 font-semi">ヤマダ タロウ</p>
              </div>
          </div>
      </div>
      <div class="info-item">
        <div class="row">
            <div class="col-4">
              <label for="" class="mb-0 fz-16 font-semi grey">性別</label>
            </div>
            <div class="col-8">
              <p class="mb-0 fz-16 font-semi">男性</p>
            </div>
        </div>
      </div>
      <div class="info-item">
        <div class="row">
            <div class="col-4">
              <label for="" class="mb-0 fz-16 font-semi grey">生年月日</label>
            </div>
            <div class="col-8">
              <p class="mb-0 fz-16 font-semi">1990年1月1日</p>
            </div>
        </div>
      </div>
      <div class="info-item">
        <div class="row">
            <div class="col-4">
              <label for="" class="mb-0 fz-16 font-semi grey">電話番号</label>
            </div>
            <div class="col-8">
              <p class="mb-0 fz-16 font-semi text-end text-lg-start">090-111-2222</p>
            </div>
        </div>
      </div>
      <div class="info-item">
        <div class="row">
            <div class="col-4">
              <label for="" class="mb-0 fz-16 font-semi grey">郵便番号</label>
            </div>
            <div class="col-8">
              <p class="mb-0 fz-16 font-semi text-end text-lg-start">111-2222</p>
            </div>
        </div>
      </div>
      <div class="info-item">
        <div class="row">
            <div class="col-4">
              <label for="" class="mb-0 fz-16 font-semi grey">住所</label>
            </div>
            <div class="col-8">
              <p class="mb-0 fz-16 font-semi text-end text-lg-start">東京都世田谷区XXXXXXXXXX</p>
            </div>
        </div>
      </div>
      <div class="info-item">
        <div class="row">
            <div class="col-4">
              <label for="" class="mb-0 fz-16 font-semi grey">身長</label>
            </div>
            <div class="col-8">
              <p class="mb-0 fz-16 font-semi text-end text-lg-start">170cm</p>
            </div>
        </div>
      </div>
      <div class="info-item">
        <div class="row">
            <div class="col-4">
              <label for="" class="mb-0 fz-16 font-semi grey">体重</label>
            </div>
            <div class="col-8">
              <p class="mb-0 fz-16 font-semi text-end text-lg-start">65kg</p>
            </div>
        </div>
      </div>
      <div class="info-item">
        <div class="row">
            <div class="col-4">
              <label for="" class="mb-0 fz-16 font-semi grey">BMI</label>
            </div>
            <div class="col-8">
              <p class="mb-0 fz-16 font-semi text-end text-lg-start">20</p>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="member-detail__content">
    <div class="member-detail__content--header">
        <h5 class="fz-18 font-semi mb-0">問診情報</h5>
        <button class="btn btn-bg-primary fz-14 boder-ra-5">変更</button>
    </div>
    <div class="member-detail__content--info bg-light p-4 p-lg-5">
        <div class="info-item">
            <div class="row">
                <div class="col-4">
                  <label for="" class="mb-0 fz-16 font-semi grey">問診票質問1</label>
                </div>
                <div class="col-8">
                  <p class="mb-0 fz-16 font-semi">回答テキスト回答テキスト回答テキスト</p>
                </div>
            </div>
        </div>
        <div class="info-item">
          <div class="row">
              <div class="col-4">
                <label for="" class="mb-0 fz-16 font-semi grey">問診票質問2</label>
              </div>
              <div class="col-8">
                <p class="mb-0 fz-16 font-semi">回答テキスト回答テキスト回答テキスト</p>
              </div>
          </div>
      </div>
      <div class="info-item">
        <div class="row">
            <div class="col-4">
              <label for="" class="mb-0 fz-16 font-semi grey">問診票質問3</label>
            </div>
            <div class="col-8">
              <p class="mb-0 fz-16 font-semi">回答テキスト回答テキスト回答テキスト</p>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="member-detail__content">
    <div class="member-detail__content--header">
        <h5 class="fz-18 font-semi mb-0">決済情報</h5>
        <button class="btn btn-bg-primary fz-14 boder-ra-5">変更</button>
    </div>
    <div class="member-detail__content--info bg-light p-4 p-lg-5">
        <div class="info-item">
            <div class="row">
                <div class="col">
                  <label for="" class="mb-0 fz-16 font-semi grey">クレジットカード</label>
                </div>
            </div>
        </div>
        <div class="row mb-3">
          <div class="col-4">
            <label for="" class="mb-0 fz-16 font-semi grey">カード番号</label>
          </div>
          <div class="col-8">
            <p class="mb-0 fz-16 font-semi text-end text-lg-start">************5432</p>
          </div>
      </div>
      <div class="row mb-3">
        <div class="col-4">
          <label for="" class="mb-0 fz-16 font-semi grey">有効期限</label>
        </div>
        <div class="col-8">
          <p class="mb-0 fz-16 font-semi text-end text-lg-start">2025/01</p>
        </div>
    </div>
    <div class="row">
      <div class="col-4">
        <label for="" class="mb-0 fz-16 font-semi grey">名義人</label>
      </div>
      <div class="col-8">
        <p class="mb-0 fz-16 font-semi text-end text-lg-start">YAMADA TARO</p>
      </div>
  </div>
    </div>
  </div>
  <div class="member-detail__content">
    <div class="member-detail__content--header">
        <h5 class="fz-18 font-semi mb-0">決済情報</h5>
        <button class="btn btn-bg-primary fz-14 boder-ra-5">変更</button>
    </div>
  </div>
  <div class="text-center">
    <button class="btn btn-outline-primary mb-2 mb-lg-0 w-100 w-lg-auto me-lg-3 boder-ra-5">戻る</button>
    <button class="btn btn-primary w-100 w-lg-auto boder-ra-5">問診票の記入へ</button>
  </div>
</div> 