<div class="profile">
    <div class="container">
      <div class="profile__content mb-0">
          <legend class="title"> 診療予約</legend>
          <div class="profile__content--timeline">
            <ul class="progressbar icon">
              <li>
                <a href=""> <img src="../assets/img/icon-profile-1-active.png" alt=""></a>
              </li>
              <li class="">
                <a href=""><img src="../assets/img/icon-profile-2.png" alt=""></a>
              </li>
              <li class="">
                <a href=""><img src="../assets/img/icon-profile-3.png" alt=""></a>
              </li>
              <li>
                <a href=""><img src="../assets/img/icon-regis-3.png" alt=""></a>
              </li>
              <li>
                <a href=""><img src="../assets/img/icon-regis-4.png" alt=""></a>
              </li>
            </ul>
            <ul class="progressbar mb-0">
              <li class="active">
                <a href="">薬品選択</a>
              </li>
              <li class="">
                <a href="#"> 
                  <span class="d-none d-lg-block">診療日/時間選択</span>
                  <span class="d-block d-lg-none">診療日選択</span>
                </a>
              </li>
              <li class=""><a href="">問診票登録</a></li>
              <li><a href="#">予約内容確認</a></li>
              <li><a href="">予約完了</a></li>
            </ul>
          </div>
          <p class="mb-2  fz-20 font-semi">ご希望の薬品を選択してください</p>
          <p class="fz-14-rs font-semi sub sale-off mb-4 mb-lg-5 d-inline-block">2つ以上の薬品を選択するとセット割引（10%OFF）が適応されます。</p>
      </div>
    </div>
    <div class="container tab-panel">
      <div class="profile__content mt-0">
          <div class="profile__content--info">
            <ul class="nav nav-pills">
              <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" 
                data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" 
                aria-controls="home" aria-selected="true">ダイエット</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" 
                data-bs-target="#profile" type="button" role="tab" aria-controls="profile"
                  aria-selected="false">ピル</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="messages-tab" 
                data-bs-toggle="tab" data-bs-target="#messages" type="button" role="tab"
                aria-controls="messages" aria-selected="false">ジャンル名</button>
              </li>
            </ul>
            <!-- Tab panes -->
            <div class="card card-body no-border p-4 tab-pane__content" >
                <div class="row">
                    <div class="col-lg-8">
                        <div class="tab-content option-content">
                            <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                 <!-- Optionchoose -->
                                <div class="option-content__choose">
                                    <div class="option-content__product" >
                                    <div class="d-flex align-items-center">
                                        <img src="../assets/img/img-product.png" class="img-product" alt="">
                                        <div class="option-content__product--info me-1 me-md-0">
                                        <h3 class="title">ジャディアンス </h3>
                                        <p class="mb-0">好きなものを食べつつ、糖質カットしたい方向け</p>
                                        <label for="" class="option-content__product--tag me-3 mt-2 d-inline-block d-md-none">薬品詳細 <i class="fas fa-angle-right ms-2"></i></label>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <label for="" class="option-content__product--tag me-3 d-none d-md-block" data-bs-toggle="modal" href="#exampleModalToggle" role="button">薬品詳細 <i class="fas fa-angle-right ms-2"></i></label>
                                        <div class="icon-toggle" data-bs-toggle="collapse" 
                                        href="#collapseOption" role="button" aria-expanded="false" aria-controls="collapseOption">
                                            <img src="../assets/img/ic-plus.png" class="icon-plus" alt="">
                                            <img src="../assets/img/ic-minus.png" class="icon-minus" alt="">
                                        </div>
                                    </div>
                                    </div>
                                    <div class="collapse" id="collapseOption">
                                    <div class="option-content__product no-border sub-item">
                                        <div class="option-content__product--info">
                                            <h3 class="title mb-0">リベルサス <span>3mg</span></h3>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <p class="option-content__product--price mb-2">¥<span class="value primary mx-1">3,000</span>/月</p>
                                            <div class="form-check me-0 ms-md-3">
                                            <input class="form-check-input me-0 mt-0" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="option-content__product no-border sub-item">
                                        <div class="option-content__product--info me-1 me-md-0">
                                        <h3 class="title mb-0">リベルサス <span>3mg</span> <span class="bg-danger white fw-bold px-3">一時停止中</span></h3>
                                        </div>
                                        <div class="d-flex align-items-center">
                                        <p class="option-content__product--price mb-2">¥<span class="value primary mx-1">3,000</span>/月</p>
                                        <div class="form-check me-0 ms-md-3">
                                            <input class="form-check-input me-0 mt-0" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                                        </div>
                                    </div>
                                    </div>
                                    <div class="option-content__product no-border sub-item">
                                    <div class="option-content__product--info">
                                        <h3 class="title mb-0">リベルサス <span>3mg</span></h3>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <p class="option-content__product--price mb-2">¥<span class="value primary mx-1">3,000</span>/月</p>
                                        <div class="form-check me-0 ms-md-3">
                                        <input class="form-check-input me-0 mt-0" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                                        </div>
                                    </div>
                                </div>
                                    </div>
                                </div>
                                <!-- Optionchoose --> 
                                <div class="option-content__choose">
                                    <div class="option-content__product" >
                                    <div class="d-flex align-items-center">
                                        <img src="../assets/img/img-product.png" class="img-product" alt="">
                                        <div class="option-content__product--info">
                                        <h3 class="title">ジャディアンス </h3>
                                        <p class="mb-0">好きなものを食べつつ、糖質カットしたい方向け</p>
                                        <label for="" class="option-content__product--tag me-3 mt-2 d-inline-block d-md-none" data-bs-toggle="modal" href="#exampleModalToggle2" role="button">薬品詳細 <i class="fas fa-angle-right ms-2"></i></label>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <label for="" class="option-content__product--tag me-3 d-none d-md-block">薬品詳細 <i class="fas fa-angle-right ms-2"></i></label>
                                        <div class="icon-toggle" data-bs-toggle="collapse" 
                                        href="#collapseOption2" role="button" aria-expanded="false" aria-controls="collapseOption2">
                                            <img src="../assets/img/ic-plus.png" class="icon-plus" alt="">
                                            <img src="../assets/img/ic-minus.png" class="icon-minus" alt="">
                                        </div>
                                    </div>
                                    </div>
                                    <div class="collapse" id="collapseOption2">
                                    <div class="option-content__product no-border sub-item">
                                        <div class="option-content__product--info">
                                            <h3 class="title mb-0">リベルサス <span>3mg</span></h3>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <p class="option-content__product--price mb-2">¥<span class="value primary mx-1">3,000</span>/月</p>
                                            <div class="form-check me-0 ms-md-3">
                                            <input class="form-check-input me-0 mt-0" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="option-content__product no-border sub-item">
                                        <div class="option-content__product--info">
                                        <h3 class="title mb-0">リベルサス <span>3mg</span></h3>
                                        </div>
                                        <div class="d-flex align-items-center">
                                        <p class="option-content__product--price mb-2">¥<span class="value primary mx-1">3,000</span>/月</p>
                                        <div class="form-check me-0 ms-md-3">
                                            <input class="form-check-input me-0 mt-0" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                                        </div>
                                    </div>
                                    </div>
                                    <div class="option-content__product no-border sub-item">
                                    <div class="option-content__product--info">
                                        <h3 class="title mb-0">リベルサス <span>3mg</span></h3>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <p class="option-content__product--price mb-2">¥<span class="value primary mx-1">3,000</span>/月</p>
                                        <div class="form-check me-0 ms-md-3">
                                        <input class="form-check-input me-0 mt-0" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                                        </div>
                                    </div>
                                </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">alo 222</div>
                            <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab">...</div>
                            <div class="tab-pane" id="settings" role="tabpanel" aria-labelledby="settings-tab">...</div>
                        </div>
                    </div>
                    <div class="col-lg-4 d-flex flex-column-reverse flex-lg-column  ">
                        <div class="option-content__note  mb-4">
                            <label for="" class="mb-2 grey d-block">購入する薬品が決まっていない場合は、<br/>
                                薬品を選択せずに医師に相談することができます</label>
                            <button class="btn btn-outline-primary w-100 boder-ra-5">薬品を選択せず予約</button>
                          </div>
                        <div class="card card-body border border-ra-20 shadow-blue option-content mobile-item">
                            <div class="d-flex flex-column-reverse flex-md-column">
                              <div class="d-flex flex-column mt-4 mt-md-0 item-price">
                                <h5 class="option-content__list--title mb-3">選択中の薬品</h5>
                                <!-- item -->
                                <div class="option-content__list">
                                  <div class="d-flex align-items-center">
                                    <img src="../assets/img/img-product.png" class="img-product" alt="">
                                      <div class="option-content__product--info">
                                        <h3 class="option-content__list--title">ジャディアンス </h3>
                                        <div class="title mb-0">
                                          <span>3mg</span>
                                        </div>
                                      </div>
                                  </div>
                                  <div class="d-flex align-items-center">
                                    <h3 class="option-content__list--title mb-0">¥18,900 </h3>
                                    <a href="#" class="ms-3">
                                      <img src="../assets/img/icon-close.png" alt="">
                                    </a>
                                  </div>
                                </div>
                                <!-- item -->
                                <div class="option-content__list">
                                  <div class="d-flex align-items-center">
                                    <img src="../assets/img/img-product.png" class="img-product" alt="">
                                      <div class="option-content__product--info">
                                        <h3 class="option-content__list--title">ジャディアンス </h3>
                                        <div class="title mb-0">
                                          <span>3mg</span>
                                        </div>
                                      </div>
                                  </div>
                                  <div class="d-flex align-items-center">
                                    <h3 class="option-content__list--title mb-0">¥18,900 </h3>
                                    <a href="#" class="ms-3">
                                      <img src="../assets/img/icon-close.png" alt="">
                                    </a>
                                  </div>
                                </div>
                              </div>
                              <div class="option-content__cta-add">
                                  <button class="btn btn-outline-primary d-flex align-items-center w-100 justify-content-center">
                                    メトホルミンを追加
                                    <img src="../assets/img/icon-plus-primary.png" class="ms-3" alt="">
                                  </button>
                                <a href="#" class="option-content__cta-add--question p-2 d-block text-center">メトホルミンとは？</a>
                              </div>
                            </div>
                            <div class="d-flex flex-column mt-4">
                              <h5 class="option-content__list--title mb-3">クーポンコード</h5>
                              <input type="password"  class="form-control discount" placeholder="クーポンコードを入力">
                              <button class="btn btn-bg-primary">適用</button>
                            </div>
                            <div class="payment-method d-none d-md-block">
                              <div class="option-content__price">
                                  <div class="option-content__price--link">
                                      <label for="" class="mb-0">セット割引</label>
                                      <p class="mb-0">-¥3,380</p>
                                  </div>
                                  <div class="option-content__price--link">
                                    <label for="" class="mb-0">クーポン割引</label>
                                    <p class="mb-0">-¥400</p>
                                </div>
                                <div class="option-content__price--link total">
                                  <label for="" class="mb-0">合計</label>
                                  <p class="mb-0">-¥400</p>
                                </div>
                              </div>
                              <button class="btn btn-primary payment boder-ra-5 w-100">
                                診療日の予約へ
                              </button> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
    <div class="payment-method-mobile d-block d-md-none">
      <div class="row">
        <div class="col-6">
            <div class="d-flex align-items-center justify-content-between">
                <label for="" class="mb-0 fz-12">セット割引</label>
                <p class="mb-0 fz-14">-¥3,380</p>
            </div>
            <div class="d-flex align-items-center justify-content-between">
              <label for="" class="mb-0 fz-12">クーポン割引</label>
              <p class="mb-0 fz-14">-¥400</p>
          </div>
          <div class="d-flex align-items-center justify-content-between total">
            <label for="" class="mb-0 fz-12">合計</label>
            <p class="mb-0 fz-16">-¥400</p>
          </div>
        </div>
        <div class="col-6 text-center">
          <button class="btn btn-primary payment fz-14 boder-ra-5 w-100">
            診療日の予約へ
          </button> 
          <p class="mb-0 primary fz-12 mt-2 ">薬品を選択せず予約</p>
        </div>
      </div>
     
    </div>
  </div>
  <!-- @@include profile-modal-chemical-detail.html -->
  <!-- @@include profile-modal-chemical-detail-metho.html -->
  