<div class="modal fade profile-top" id="topDetail" aria-hidden="true" aria-labelledby="topDetailLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered justify-content-center flex-column ">
    <div class="modal-content border-ra-20 ">
      <div class="modal-body text-center p-4">
          <h3 class="profile-top__title font-weight-bold mb-4">キャンセル確認</h3>
          <div class="profile-top__content">
              <p class="fz-16 font-semi">予約日時</p>
              <p class="mb-0 fz-16 font-semi">2022年2月5日（土）14:00~14:30</p>
          </div>
          <p class="font-weight-bold obj-alert">こちらの診療予約をキャンセルしますか？</p>
          <div class="d-flex align-items-center justify-content-center">
            <button class="btn btn-danger boder-ra-5 me-2" data-bs-target="#topDetail" data-bs-toggle="modal">キャンセル</button>
            <button class="btn btn-outline-primary boder-ra-5" data-bs-target="#topDetail" data-bs-toggle="modal">戻る</button>
          </div>
      </div>
    </div>
  </div>
</div>