<div class="drug-contract">
  <h3 class="fz-24 font-semi mb-3 mb-md-4">
    契約中の薬品
  </h3>
  <div class="drug-contract__content">
      <div class="drug-contract__content--header">
          <div class="date-label d-flex align-items-center justify-content-between">
                <h3 class="mb-0 fz-12 sub font-semi date-contract">注文日：2022/2/1</h3>
                <p class="mb-0 fz-12 font-semi d-block d-lg-none">診療ID: <span class="primary">XXXXXXXXXX</span></p>
          </div>
          <div class="date-info">
              <div class="d-flex mb-lg-2 flex-column flex-lg-row">
                  <p class="mb-2 mb-lg-0 fz-12  font-semi me-lg-3">次回配送予定日：2022/2/10</p>
                  <p class="mb-0 fz-12  font-semi">次回決済日：2022/2/10</p>
              </div>
              <p class="mb-0 fz-12 font-semi d-none d-lg-block">診療ID: <span class="primary">XXXXXXXXXX</span></p>
          </div>
      </div>
      <div class="drug-contract__content--list bg-light border-ra-20">
          <div class="contract-list pb-3 mb-3">   
              <div class="row align-items-center">
                <div class="col-lg-2">
                    <div class="contract-list__id d-flex align-items-center justify-content-between">
                        <p class="mb-0">薬品1</p>
                            <span class="fz-12 font-semi badge sub light-sub d-inline-block d-lg-none">契約をキャンセル</span>
                    </div>
                </div>
                <div class="col-lg-7 mt-2 mt-lg-0 pt-1 pt-lg-0">
                        <div class="contract-list__product d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">
                                <img src="../assets/img/img-product.png" class="me-2" alt="">    
                                <div>
                                    <p class="font-semi fz-16 primary mb-1 mb-lg-2">ジャディアンス</p>
                                    <p class="mb-0 badge light-sub black small">10mg</p>
                                </div>
                            </div>
                            <div class="text-end">
                                <p class="fz-18 mb-1 mb-lg-2"><span class="font-semi">¥18,900</span> /月</p>
                                <p class="fz-14 mb-0">セット割引-¥1,890</p>
                            </div>
                        </div>
                </div>
                <div class="col-lg-3 text-end d-none d-lg-block">
                    <a href="#"  type="button" data-bs-toggle="modal" data-bs-target="#cancelContract">
                        <span class="fz-12 font-semi badge sub light-sub">契約をキャンセル</span>
                    </a>
                </div>
              </div>
          </div>
          <div class="contract-list pb-3 mb-3">   
            <div class="row align-items-center">
              <div class="col-lg-2">
                  <div class="contract-list__id d-flex align-items-center justify-content-between">
                      <p class="mb-0">薬品1</p>
                      <span class="fz-12 font-semi badge sub light-sub d-inline-block d-lg-none">契約をキャンセル</span>
                  </div>
              </div>
              <div class="col-lg-7 mt-2 mt-lg-0 pt-1 pt-lg-0">
                      <div class="contract-list__product d-flex align-items-center justify-content-between">
                          <div class="d-flex align-items-center">
                              <img src="../assets/img/img-product.png" class="me-2" alt="">    
                              <div>
                                  <p class="font-semi fz-16 primary mb-1 mb-lg-2">ジャディアンス</p>
                                  <p class="mb-0 badge light-sub black small">10mg</p>
                              </div>
                          </div>
                          <div class="text-end">
                              <p class="fz-18 mb-1 mb-lg-2"><span class="font-semi">¥18,900</span> /月</p>
                              <p class="fz-14 mb-0">セット割引-¥1,890</p>
                          </div>
                      </div>
              </div>
              <div class="col-lg-3 text-end d-none d-lg-block">
                  <span class="fz-12 font-semi badge sub light-sub">契約をキャンセル</span>
              </div>
            </div>
        </div>
        <div class="contract-bill">
            <div class="d-flex align-items-center justify-content-between mb-2">
                <p class="fz-16 mb-0 font-semi">セット割引合計</p>
                <p class="fz-18 mb-0 fw-bold">-¥3,380</p>
            </div>
            <div class="d-flex align-items-center justify-content-between mb-2">
                <p class="fz-16 mb-0 font-semi">クーポン割引</p>
                <p class="fz-18 mb-0 fw-bold">-¥400</p>
            </div>
            <div class="contract-bill__total d-flex align-items-center justify-content-between mb-2 pt-2">
                <p class="fz-16 mb-0 font-semi">クーポン割引</p>
                <p class="fz-20 mb-0 fw-bold">¥30,020 <span class="fz-16 font-semi">/月</span></p>
            </div>
            <p class="mb-0 text-lg-end grey font-semi fz-12">※次回決済日までにキャンセルをすれば次回の料金は発生しません</p>
        </div>
      </div>
  </div>
    <div class="drug-contract__content">
    <div class="drug-contract__content--header">
        <div class="date-label d-flex align-items-center justify-content-between">
              <h3 class="mb-0 fz-12 sub font-semi date-contract">注文日：2022/2/1</h3>
              <p class="mb-0 fz-12 font-semi d-block d-lg-none">診療ID: <span class="primary">XXXXXXXXXX</span></p>
        </div>
        <div class="date-info">
            <div class="d-flex mb-lg-2 flex-column flex-lg-row">
                <p class="mb-2 mb-lg-0 fz-12  font-semi me-lg-3">次回配送予定日：2022/2/10</p>
                <p class="mb-0 fz-12  font-semi">次回決済日：2022/2/10</p>
            </div>
            <p class="mb-0 fz-12 font-semi d-none d-lg-block">診療ID: <span class="primary">XXXXXXXXXX</span></p>
        </div>
    </div>
    <div class="drug-contract__content--list bg-light border-ra-20">
        <div class="contract-list pb-3 mb-3">   
            <div class="row align-items-center">
              <div class="col-lg-2">
                  <div class="contract-list__id d-flex align-items-center justify-content-between">
                      <p class="mb-0">薬品1</p>
                      <span class="fz-12 font-semi badge sub light-sub d-inline-block d-lg-none">契約をキャンセル</span>
                  </div>
              </div>
              <div class="col-lg-7 mt-2 mt-lg-0 pt-1 pt-lg-0">
                      <div class="contract-list__product d-flex align-items-center justify-content-between">
                          <div class="d-flex align-items-center">
                              <img src="../assets/img/img-product.png" class="me-2" alt="">    
                              <div>
                                  <p class="font-semi fz-16 primary mb-1 mb-lg-2">ジャディアンス</p>
                                  <p class="mb-0 badge light-sub black small">10mg</p>
                              </div>
                          </div>
                          <div class="text-end">
                              <p class="fz-18 mb-1 mb-lg-2"><span class="font-semi">¥18,900</span> /月</p>
                              <p class="fz-14 mb-0">セット割引-¥1,890</p>
                          </div>
                      </div>
              </div>
              <div class="col-lg-3 text-end d-none d-lg-block">
                  <span class="fz-12 font-semi badge sub light-sub">契約をキャンセル</span>
              </div>
            </div>
        </div>
        <div class="contract-list pb-3 mb-3">   
          <div class="row align-items-center">
            <div class="col-lg-2">
                <div class="contract-list__id d-flex align-items-center justify-content-between">
                    <p class="mb-0">薬品1</p>
                    <span class="fz-12 font-semi badge sub light-sub d-inline-block d-lg-none">契約をキャンセル</span>
                </div>
            </div>
            <div class="col-lg-7 mt-2 mt-lg-0 pt-1 pt-lg-0">
                    <div class="contract-list__product d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                            <img src="../assets/img/img-product.png" class="me-2" alt="">    
                            <div>
                                <p class="font-semi fz-16 primary mb-1 mb-lg-2">ジャディアンス</p>
                                <p class="mb-0 badge light-sub black small">10mg</p>
                            </div>
                        </div>
                        <div class="text-end">
                            <p class="fz-18 mb-1 mb-lg-2"><span class="font-semi">¥18,900</span> /月</p>
                            <p class="fz-14 mb-0">セット割引-¥1,890</p>
                        </div>
                    </div>
            </div>
            <div class="col-lg-3 text-end d-none d-lg-block">
                <span class="fz-12 font-semi badge sub light-sub">契約をキャンセル</span>
            </div>
          </div>
      </div>
      <div class="contract-bill">
          <div class="d-flex align-items-center justify-content-between mb-2">
              <p class="fz-16 mb-0 font-semi">セット割引合計</p>
              <p class="fz-18 mb-0 fw-bold">-¥3,380</p>
          </div>
          <div class="d-flex align-items-center justify-content-between mb-2">
              <p class="fz-16 mb-0 font-semi">クーポン割引</p>
              <p class="fz-18 mb-0 fw-bold">-¥400</p>
          </div>
          <div class="contract-bill__total d-flex align-items-center justify-content-between mb-2 pt-2">
              <p class="fz-16 mb-0 font-semi">クーポン割引</p>
              <p class="fz-20 mb-0 fw-bold">¥30,020 <span class="fz-16 font-semi">/月</span></p>
          </div>
          <p class="mb-0 text-lg-end grey font-semi fz-12">※次回決済日までにキャンセルをすれば次回の料金は発生しません</p>
      </div>
    </div>
    </div>
    <div class="text-center">
        <button class="btn btn-outline-primary w-100 w-lg-auto mb-2 mb-lg-0 me-lg-3 boder-ra-5">薬品を選択せず相談する</button>
        <button class="btn btn-primary w-100 w-lg-auto boder-ra-5">薬品を追加する</button>
    </div>
</div>
<div class="modal fade profile-top" id="cancelContract" aria-hidden="true" aria-labelledby="cancelContractLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered justify-content-center flex-column">
      <div class="modal-content border-ra-20 ">
        <div class="modal-body text-center p-4 p-md-5">
            <h3 class="profile-top__title font-weight-bold mb-4">この薬品の契約を <br/>
                キャンセルしますか？</h3>
            <div class="profile-top__content text-start">
                <div class="contract-list__product d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                        <img src="../assets/img/img-product.png" class="me-2" alt="">    
                        <div>
                            <p class="font-semi fz-16 primary mb-1 mb-lg-2">ジャディアンス</p>
                            <p class="mb-0 badge light-sub black small">10mg</p>
                        </div>
                    </div>
                    <div class="text-end">
                        <p class="fz-18 mb-1 mb-lg-2"><span class="font-semi primary">¥18,900</span> /月</p>
                    </div>
                </div>
            </div>
            <p class="font-weight-bold obj-alert mb-4">こちらの診療予約をキャンセルしますか？</p>
            <div class="d-flex align-items-center justify-content-center">
              <button class="btn btn-danger boder-ra-5 me-lg-2 w-100 w-lg-auto" data-bs-target="#topDetail" data-bs-toggle="modal">キャンセル</button>
              <button class="btn btn-outline-primary boder-ra-5  w-100" data-bs-target="#topDetail" data-bs-toggle="modal">戻る</button>
            </div>
        </div>
      </div>
    </div>
  </div>