<div class="profile-top-table">
  <table class="table table-bordered profile-top-table mb-0">
    <thead>
      <tr>
        <th scope="col">診療ID</th>
        <th scope="col">ステータス</th>
        <th scope="col">予約日時</th>
        <th scope="col">選択薬品</th>
        <th scope="col">ZoomURL</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>IDXXXXXXXXXXX</td>
        <td class="text-md-center"><span class="badge light-sub sub">診療前</span></td>
        <td>2022/02/28（月）
          <br/>
          10:00~10:20</td>
        <td>リベルサス</td>
        <td>
          <div class="d-flex align-items-center justify-content-between">
            <p class="mb-0 primary link-access">zoomurlzoomurlzoomurlzoomurlzoomurlzoomurl</p>
            <img class="ms-2" src="../assets/img/icon-copy-active.png" alt="">
          </div>
        </td>
        <td class="primary text-md-center">詳細</td>
      </tr>
      <tr>
        <td>IDXXXXXXXXXXX</td>
        <td class="text-md-center"><span class="badge light-alert obj-alert">診療前</span></td>
        <td>2022/02/28（月）
          <br/>
          10:00~10:20</td>
        <td>リベルサス</td>
        <td>
          <div class="d-flex align-items-center justify-content-between">
            <p class="mb-0 primary link-access">zoomurlzoomurlzoomurlzoomurlzoomurlzoomurl</p>
            <img class="ms-2" src="../assets/img/icon-copy-active.png" alt="">
          </div>
        </td>
        <td class="primary text-md-center">詳細</td>
      </tr>
      <tr>
        <td>IDXXXXXXXXXXX</td>
        <td class="text-md-center"><span class="badge light-grey grey">診療後</span></td>
        <td>2022/02/28（月）
          <br/>
          10:00~10:20</td>
        <td>リベルサス</td>
        <td>
          <div class="d-flex align-items-center justify-content-between">
            <p class="mb-0 primary link-access">zoomurlzoomurlzoomurlzoomurlzoomurlzoomurl</p>
            <img class="ms-2" src="../assets/img/icon-copy.png" alt="">
          </div>
        </td>
        <td class="primary text-md-center">詳細</td>
      </tr>
    </tbody>
  </table>
</div>
