<div class="profile">
  <div class="container">
      <div class="profile__content">
        <div class="d-flex align-items-center justify-content-center mb-4 mb-md-5">
          <legend class="title mb-0"> 診療予約</legend>
          <button class="btn btn-primary appointment">診療予約</button>
        </div>
         
      </div>
  </div>
  <div class="container tab-panel">
    <div class="profile__content mt-0">
        <div class="profile__content--info">
          <ul class="nav nav-pills">
            <li class="nav-item" role="presentation">
              <button class="nav-link " id="home-tab" 
              data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" 
              aria-controls="home" aria-selected="true">診療一覧</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="profile-tab" data-bs-toggle="tab" 
              data-bs-target="#profile" type="button" role="tab" aria-controls="profile"
                aria-selected="false">契約中の薬品</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="messages-tab" 
              data-bs-toggle="tab" data-bs-target="#messages" type="button" role="tab"
              aria-controls="messages" aria-selected="false">会員情報</button>
            </li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane " id="home" role="tabpanel" aria-labelledby="home-tab">
              <div class="card card-body no-border p-4 p-lg-5 tab-pane__content" >
              <!-- @@include profile-top-table.html -->
              </div>
            </div>
            <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
              <div class="card card-body no-border p-4 p-lg-5 tab-pane__content" >
                <!-- @@include profile-drug-contract.html -->
              </div>
            </div>
            <div class="tab-pane active" id="messages" role="tabpanel" aria-labelledby="messages-tab">
              <div class="card card-body no-border p-4 p-lg-5 tab-pane__content" >
                <div class="member-detail no-form-edit">
                  <h3 class="fz-24 font-semi mb-3 mb-md-4">
                    個人情報の変更
                  </h3>
                  <div class="member-detail__content">
                    <div class="member-detail__content--info bg-light p-4 p-lg-5 mb-3 mb-lg-4">
                      <div class="question__content">
                        <h3 class="question__title">
                          <img src="../assets/img/icon-search.png" class="me-2" alt="">
                          問診票の質問テキストが入ります
                        </h3>
                        <div class="question__item">
                            <img class="question__item--img" src="../assets/img/icon-check-circle.png" clas alt="">
                            <img class="question__item--img active" src="../assets/img/icon-check-circle-active.png" alt="">
                            <p class="mb-0">選択回答テキストが入ります。選択回答テキストが入ります。</p>
                        </div>
                        <div class="question__item active">
                          <img class="question__item--img" src="../assets/img/icon-check-circle.png" clas alt="">
                          <img class="question__item--img active" src="../assets/img/icon-check-circle-active.png" alt="">
                          <p class="mb-0">選択回答テキストが入ります。選択回答テキストが入ります。</p>
                      </div>
                      <div class="question__item">
                        <img class="question__item--img" src="../assets/img/icon-check-circle.png" clas alt="">
                        <img class="question__item--img active" src="../assets/img/icon-check-circle-active.png" alt="">
                        <p class="mb-0">選択回答テキストが入ります。選択回答テキストが入ります。</p>
                      </div>
                      <div class="question__item">
                        <img class="question__item--img" src="../assets/img/icon-check-circle.png" clas alt="">
                        <img class="question__item--img active" src="../assets/img/icon-check-circle-active.png" alt="">
                        <p class="mb-0">選択回答テキストが入ります。選択回答テキストが入ります。</p>
                      </div>
                      </div>
                    </div>
                    <div class="member-detail__content--info bg-light p-4 p-lg-5 mb-3 mb-lg-4">
                      <div class="question__content">
                        <h3 class="question__title">
                          <img src="../assets/img/icon-search.png" class="me-2" alt="">
                          問診票の質問テキストが入ります
                        </h3>
                        <div class="question__item">
                            <img class="question__item--img" src="../assets/img/icon-check-circle.png" clas alt="">
                            <img class="question__item--img active" src="../assets/img/icon-check-circle-active.png" alt="">
                            <p class="mb-0">選択回答テキストが入ります。選択回答テキストが入ります。</p>
                        </div>
                        <div class="question__item active">
                          <img class="question__item--img" src="../assets/img/icon-check-circle.png" clas alt="">
                          <img class="question__item--img active" src="../assets/img/icon-check-circle-active.png" alt="">
                          <p class="mb-0">選択回答テキストが入ります。選択回答テキストが入ります。</p>
                      </div>
                      <div class="question__item">
                        <img class="question__item--img" src="../assets/img/icon-check-circle.png" clas alt="">
                        <img class="question__item--img active" src="../assets/img/icon-check-circle-active.png" alt="">
                        <p class="mb-0">選択回答テキストが入ります。選択回答テキストが入ります。</p>
                      </div>
                      <div class="question__item">
                        <img class="question__item--img" src="../assets/img/icon-check-circle.png" clas alt="">
                        <img class="question__item--img active" src="../assets/img/icon-check-circle-active.png" alt="">
                        <p class="mb-0">選択回答テキストが入ります。選択回答テキストが入ります。</p>
                      </div>
                      </div>
                    </div>
                    <div class="member-detail__content--info bg-light p-4 p-lg-5 mb-3 mb-lg-4">
                      <div class="question__content">
                        <h3 class="question__title">
                          <img src="../assets/img/icon-search.png" class="me-2" alt="">
                          問診票の質問テキストが入ります
                        </h3>
                        <div class="question__item">
                            <img class="question__item--img" src="../assets/img/icon-check-circle.png" clas alt="">
                            <img class="question__item--img active" src="../assets/img/icon-check-circle-active.png" alt="">
                            <p class="mb-0">選択回答テキストが入ります。選択回答テキストが入ります。</p>
                        </div>
                        <div class="question__item active">
                          <img class="question__item--img" src="../assets/img/icon-check-circle.png" clas alt="">
                          <img class="question__item--img active" src="../assets/img/icon-check-circle-active.png" alt="">
                          <p class="mb-0">選択回答テキストが入ります。選択回答テキストが入ります。</p>
                      </div>
                      <div class="question__item">
                        <img class="question__item--img" src="../assets/img/icon-check-circle.png" clas alt="">
                        <img class="question__item--img active" src="../assets/img/icon-check-circle-active.png" alt="">
                        <p class="mb-0">選択回答テキストが入ります。選択回答テキストが入ります。</p>
                      </div>
                      <div class="question__item">
                        <img class="question__item--img" src="../assets/img/icon-check-circle.png" clas alt="">
                        <img class="question__item--img active" src="../assets/img/icon-check-circle-active.png" alt="">
                        <p class="mb-0">選択回答テキストが入ります。選択回答テキストが入ります。</p>
                      </div>
                      </div>
                    </div>
                  </div>
                  <div class="text-center">
                    <button class="btn btn-outline-primary me-3 boder-ra-5">戻る</button>
                    <button class="btn btn-primary boder-ra-5">変更する</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>