<div class="modal fade profile-drug" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggle2Label" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered justify-content-center flex-column modal-lg">
    <div class="modal-content">
      <div class="modal-body chemical border-ra-20">
        <div class="row">
          <div class="col-lg-6 chemical-box d-flex flex-row flex-lg-column">
            <div class="chemical__header">
              <h3 class="mb fz-20 font-weight-bold white">お薬の種類</h3>
            </div> 
            <div class="chemical__content">
                <div class="d-flex align-items-center mb-2">
                    <img src="../assets/img/img-product.png" class="img-product  me-3" alt="">
                    <div class="chemical__content--info">
                      <div class="tag">リベルサス</div>
                      <p class="mb-0 fz-14">GLP-1内服薬</p>
                    </div>
                </div>
                  <div class="tab w-100 primary-dark-bg mb-2">1日1回内服</div>
                  <p class="description mb-0">
                    効果的に痩せたいが、自己注射に抵抗がある方向け
                  </p>
            </div>
          </div>
          <div class="col-lg-6 chemical-box d-flex flex-row flex-lg-column">
            <div class="chemical__header">
              <h3 class="mb fz-20 font-weight-bold white">料金</h3>
            </div> 
            <div class="chemical__content d-flex flex-column justify-content-center">
              <div class="d-flex align-items-center justify-content-between chemical__content--item">
                <p class="description mb-0 fz-14">
                  3mg(30錠)
                </p>
                <div class="chemical__price">
                  <span class="value">¥</span>
                    14,900
                  <span class="count">/月</span>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    
    </div>
      <div class="modal-footer">
        <button class="btn btn-primary boder-ra-5" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">戻る</button>
      </div>
  </div>
</div>