<div class="profile">
  <div class="container">
    <div class="profile__content mb-0">
        <legend class="title"> 診療予約</legend>
        <div class="profile__content--timeline">
          <ul class="progressbar icon">
            <li>
              <a href=""> <img src="../assets/img/icon-profile-1-active.png" alt=""></a>
            </li>
            <li class="">
              <a href=""><img src="../assets/img/icon-profile-2-active.png" alt=""></a>
            </li>
            <li class="">
              <a href=""><img src="../assets/img/icon-profile-3.png" alt=""></a>
            </li>
            <li>
              <a href=""><img src="../assets/img/icon-regis-3.png" alt=""></a>
            </li>
            <li>
              <a href=""><img src="../assets/img/icon-regis-4.png" alt=""></a>
            </li>
          </ul>
          <ul class="progressbar mb-0">
            <li class="complete">
              <a href="">薬品選択</a>
            </li>
            <li class="active">
              <a href="#"> 
                <span class="d-none d-lg-block">診療日/時間選択</span>
                <span class="d-block d-lg-none">診療日選択</span>
              </a>
            </li>
            <li class=""><a href="">問診票登録</a></li>
            <li><a href="#">予約内容確認</a></li>
            <li><a href="">予約完了</a></li>
          </ul>
        </div>
        <p class="mb-4 fz-20 font-semi">ご希望の診療日と時間を選択してください。</p>
    </div>
  </div>
  <div class="container treatment">
      <div class="profile__content mt-0">
        <div class="card card-body no-border p-4">
          <div class="treatment__time">
            <div class="row">
              <div class="col-lg-5">
                <div id="datepicker" class="calendar"></div>
              </div>
              <div class="col-lg-7">
                <div class="treatment__content-item">
                  <!-- @@include treatment-list.html -->
                </div>
              </div>
            </div>
          </div>
          <div class="treatment__cta text-center">
              <button class="btn btn-outline-primary me-3 boder-ra-5">戻る</button>
              <button class="btn btn-primary boder-ra-5">問診票の記入へ</button>
          </div>
        </div>
    </div>
  </div>
</div>