<div class="my-page">
  <form class="my-page__form reset-ok">
     <div class="my-page__form--timeline">
      <ul class="progressbar mb-5 icon">
        <li class="">
          <a href="#">
            <img src="../assets/img/icon-regis-1-active.png" alt="">
          </a>
        </li>
        <li class="">
          <a href="#"><img src="../assets/img/icon-regis-2-active.png" alt=""></a>
        </li>
        <li>
          <a href="#"><img src="../assets/img/icon-regis-3-active.png" alt=""></a>
        </li>
        <li>
          <a href="#"> <img src="../assets/img/icon-regis-4-active.png" alt=""></a>
        </li>
      </ul>
      <ul class="progressbar mb-0">
        <li class="complete">
          <a href="#"> <span class="d-none d-lg-block">個人情報登録</span>
          <span class="d-block d-lg-none">個人情報</span>
         </a>
        </li>
        <li class="complete">
          <a href="#"><span class="d-none d-lg-block">決済情報登録</span>
          <span class="d-block d-lg-none">決済情報</span></a>
        </li>
        <li class="complete">
          <a href="#">会員情報確認</a>
        </li>
        <li class="complete">
          <a href="#"><span class="d-none d-lg-block">会員情報登録完了</span></a>
          <a href="#"><span class="d-block d-lg-none">登録完了</span></a>
        </li>
      </ul>
    </div>
    <fieldset >
      <img src="/assets/img/icon-checked.png" alt="">
      <h3 class="my-page__title">会員情報登録完了</h3>
      <button class="btn btn-primary">マイページ</button>
    </fieldset>
  </form>
</div>