<div class="header register">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="/assets/img/logo.png" class="logo" alt="">
      </a>
    </div>
  </nav>
</div>  
<div class="my-page">
  <form class="my-page__form">
    <div class="my-page__form--timeline">
      <ul class="progressbar mb-5 icon">
        <li class="">
          <a href="#">
            <img src="../assets/img/icon-regis-1-active.png" alt="">
          </a>
        </li>
        <li class="">
          <a href="#"><img src="../assets/img/icon-regis-2-active.png" alt=""></a>
        </li>
        <li>
          <a href="#"><img src="../assets/img/icon-regis-3-active.png" alt=""></a>
        </li>
        <li>
          <a href="#"> <img src="../assets/img/icon-regis-4.png" alt=""></a>
        </li>
      </ul>
      <ul class="progressbar mb-0">
        <li class="complete">
          <a href="#"> <span class="d-none d-lg-block">個人情報登録</span>
          <span class="d-block d-lg-none">個人情報</span>
         </a>
        </li>
        <li class="complete">
          <a href="#"><span class="d-none d-lg-block">決済情報登録</span>
          <span class="d-block d-lg-none">決済情報</span></a>
        </li>
        <li class="active">
          <a href="#">会員情報確認</a>
        </li>
        <li>
          <a href="#"><span class="d-none d-lg-block">会員情報登録完了</span></a>
          <a href="#"><span class="d-block d-lg-none">登録完了</span></a>
        </li>
      </ul>
    </div>
    <fieldset >
      <legend class="my-page__title text-md-center"> 会員情報確認</legend>
      <!-- form 1 -->
      <div class="my-page__info-register">
        <div class="infomation">
          <div class="row">
            <div class="col-4">
              <p class="mb-2 grey mb-md-0 grey">パスワード</p>
            </div>
            <div class="col-8">
              <p class="mb-0">●●●●●●●</p>
            </div>
          </div>
        </div>
        <div class="infomation">
          <div class="row">
            <div class="col-4">
              <p class="mb-0 grey">姓名</p>
            </div>
            <div class="col-8">
              <p class="mb-0">山田 太郎</p>
            </div>
          </div>
        </div>
        <div class="infomation">
          <div class="row">
            <div class="col-4">
              <p class="mb-2 grey mb-md-0">セイメイ</p>
            </div>
            <div class="col-8">
              <p class="mb-0">山田 ヤマダ タロウ</p>
            </div>
          </div>
        </div>
        <div class="infomation">
          <div class="row">
            <div class="col-4">
              <p class="mb-2 grey mb-md-0">性別</p>
            </div>
            <div class="col-8">
              <p class="mb-0">男性</p>
            </div>
          </div>
        </div>
        <div class="infomation">
          <div class="row">
            <div class="col-4">
              <p class="mb-2 grey mb-md-0">生年月日</p>
            </div>
            <div class="col-8">
              <p class="mb-0">1990年1月1日</p>
            </div>
          </div>
        </div>
        <div class="infomation">
          <div class="row">
            <div class="col-4">
              <p class="mb-2 grey mb-md-0">電話番号</p>
            </div>
            <div class="col-8">
              <p class="mb-0">090-111-2222</p>
            </div>
          </div>
        </div>
        <div class="infomation">
          <div class="row">
            <div class="col-4">
              <p class="mb-2 grey mb-md-0">郵便番号</p>
            </div>
            <div class="col-8">
              <p class="mb-0">111-2222</p>
            </div>
          </div>
        </div>
        <div class="infomation">
          <div class="row">
            <div class="col-4">
              <p class="mb-2 grey mb-md-0">住所</p>
            </div>
            <div class="col-8">
              <p class="mb-0">111-東京都世田谷区XXXXXXXXXX</p>
            </div>
          </div>
        </div>
        <div class="infomation">
          <div class="row">
            <div class="col-4">
              <p class="mb-2 grey mb-md-0">身長</p>
            </div>
            <div class="col-8">
              <p class="mb-0">111-170cm</p>
            </div>
          </div>
        </div>
        <div class="infomation">
          <div class="row">
            <div class="col-4">
              <p class="mb-2 grey mb-md-0">体重</p>
            </div>
            <div class="col-md-6">
              <p class="mb-0">65kg</p>
            </div>
          </div>
        </div>
        <div class="infomation">
          <div class="row">
            <div class="col-4">
              <p class="mb-2 grey mb-md-0">BMI</p>
            </div>
            <div class="col-8">
              <p class="mb-0">20</p>
            </div>
          </div>
        </div>
        <div class="text-center d-block d-md-none">
            <button class="btn btn-primary-light-mb">内容を変更</button>
        </div>
      </div>
      <!-- form 2 -->
      <div class="my-page__info-register">
        <div class="infomation">
            <p class="mb-0">クレジットカード</p>
        </div>
        <div class="infomation no-border pb-0">
          <div class="row">
            <div class="col-4">
              <p class="mb-0 grey">カード番号</p>
            </div>
            <div class="col-8">
              <p class="mb-0">************5432</p>
            </div>
          </div>
        </div>
        <div class="infomation no-border pb-0">
          <div class="row">
            <div class="col-4">
              <p class="mb-0 grey">有効期限</p>
            </div>
            <div class="col-8">
              <p class="mb-0">2025/01</p>
            </div>
          </div>
        </div>
        <div class="infomation no-border pb-0">
          <div class="row">
            <div class="col-4">
              <p class="mb-0 grey">名義人</p>
            </div>
            <div class="col-8">
              <p class="mb-0">YAMADA TARO</p>
            </div>
          </div>
        </div>
        <div class="text-center d-block d-md-none">
          <button class="btn btn-primary-light-mb">内容を変更</button>
      </div>
      </div>
      <!-- checked -->
      <div class="form-check mb-4">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          <span class="primary">利用規約、プライバシーポリシー</span>への同意
        </label>
      </div>
      <!-- Call to action -->
      <div class="d-flex align-items-center justify-content-center">
        <button type="submit" class="btn btn-outline-primary me-2 boder-ra-5">戻る</button>
         <button type="submit" class="btn btn-primary disabled">会員登録を確定する</button>
       </div>
    </fieldset>
  </form>
</div>
<footer class="footer">
  <div class="container">
      <div class="footer__logo">
        <img src="/assets/img/logo-white.png" alt="">
      </div>
      <p class="footer__reserved">
        Copyright 2022 T-medical.clinic. All Rights Reserved.
      </p>
  </div>
</footer>