<div class="header register">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="/assets/img/logo.png" class="logo" alt="">
      </a>
    </div>
  </nav>
</div>  
<div class="my-page">
  <form class="my-page__form registration">
    <fieldset >
      <div class="text-center">
        <img src="../assets/img/icon-checked.png" alt="">
      </div>
      <legend class="my-page__title text-center mb-3"> 仮会員登録完了
        </legend>
        <p class="text-center my-page__form--sub">
          ご登録いただいたメールアドレスに本登録のURLをお送りいたしました 
        </p>
    </fieldset>
  </form>
</div> 
<footer class="footer">
  <div class="container">
      <div class="footer__logo">
        <img src="/assets/img/logo-white.png" alt="">
      </div>
      <p class="footer__reserved">
        Copyright 2022 T-medical.clinic. All Rights Reserved.
      </p>
  </div>
</footer>
