<div class="header register">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="/assets/img/logo.png" class="logo" alt="">
      </a>
    </div>
  </nav>
</div>  
<div class="my-page">
  <form class="my-page__form">
    <div class="my-page__form--timeline">
      <ul class="progressbar mb-5 icon">
        <li class="">
          <a href="#">
            <img src="../assets/img/icon-regis-1-active.png" alt="">
          </a>
        </li>
        <li class="">
          <a href="#"><img src="../assets/img/icon-regis-2-active.png" alt=""></a>
        </li>
        <li>
          <a href="#"><img src="../assets/img/icon-regis-3.png" alt=""></a>
        </li>
        <li>
          <a href="#"> <img src="../assets/img/icon-regis-4.png" alt=""></a>
        </li>
      </ul>
      <ul class="progressbar mb-0">
        <li class="complete">
          <a href="#"> <span class="d-none d-lg-block">個人情報登録</span>
          <span class="d-block d-lg-none">個人情報</span>
         </a>
        </li>
        <li class="active">
          <a href="#"><span class="d-none d-lg-block">決済情報登録</span>
          <span class="d-block d-lg-none">決済情報</span></a>
        </li>
        <li>
          <a href="#">会員情報確認</a>
        </li>
        <li>
          <a href="#"><span class="d-none d-lg-block">会員情報登録完了</span></a>
          <a href="#"><span class="d-block d-lg-none">登録完了</span></a>
        </li>
      </ul>
    </div>
    <fieldset >
      <legend class="my-page__title text-md-center mb-4"> 決済情報登録</legend>
      <p class="my-page__form--sub mb-3 text-md-center grey">
        頂いた内容をもとに医師が処方したのち、決済させていただきます。<br/>
        キャンセルは<span class="sub">いつでも無料</span>ですので、ご安心ください。
      </p>
      <!-- パスワード -->
      <div class="mb-4">
        <label for="" class="form-label">カード番号</label>
        <input type="text"  class="form-control" placeholder="">
      </div>
      <hr class="d-block d-lg-none">
      <!-- 有効期限 -->
      <div class="mb-4">
        <div class="row">
          <div class="col-6 col-lg-4">
            <label for="" class="form-label">有効期限</label>
            <div class="d-flex align-items-end">
              <select class="js-example-placeholder-single js-states form-control">
                <option>1</option>
                <option>1</option>
                <option>1</option>
                <option>1</option>
                <option>1</option>
              </select>
              <span class="ms-2">月</span>
            </div>
          </div>
          <div class="col-6 col-lg-4 d-flex align-items-end">
            <select class="js-example-placeholder-single js-states form-control">
              <option>1</option>
              <option>1</option>
              <option>1</option>
              <option>1</option>
              <option>1</option>
            </select>
            <span class="ms-2">年</span>
          </div>
          <!-- <input type="text"  class="form-control is-invalid" id="validationServerUsernameFeedback" placeholder="例）山田" required>
          <div id="validationServerUsernameFeedback" class="invalid-feedback">
            Please choose a username.
          </div> -->
           <hr class="d-block d-lg-none">
          <div class="col-12 col-lg-4 ">
              <label for="" class="form-label">CVC</label>
              <input type="text"  class="form-control is-invalid" id="validationServerUsernameFeedback" placeholder="">
              <div id="validationServerUsernameFeedback" class="invalid-feedback position-absolute">
                Please choose a username.
              </div>
          </div>
        </div>
      </div>
      <!-- <hr class="d-block d-lg-none">
      <div class="mb-4 d-block d-lg-none">
        <label for="" class="form-label">CVC</label>
        <input type="text"  class="form-control is-invalid" id="validationServerUsernameFeedback" placeholder="">
        <div id="validationServerUsernameFeedback" class="invalid-feedback ">
          Please choose a username.
        </div>
      </div> -->
      <hr class="d-block d-lg-none">
      <!-- 名義人 -->
      <div class="mb-4">
        <label for="" class="form-label">名義人</label>
        <input type="text"  class="form-control " placeholder="">
      </div>
      <div class="d-flex align-items-center justify-content-center px-mb-20">
        <button type="submit" class="btn btn-outline-primary me-2 boder-ra-5 text-nowrap">戻る</button>
         <button type="submit" class="btn btn-primary disabled text-nowrap">会員情報確認画面へ</button>
       </div>
    </fieldset>
  </form>
</div>
<footer class="footer">
  <div class="container">
      <div class="footer__logo">
        <img src="/assets/img/logo-white.png" alt="">
      </div>
      <p class="footer__reserved">
        Copyright 2022 T-medical.clinic. All Rights Reserved.
      </p>
  </div>
</footer>