<div class="header register">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="/assets/img/logo.png" class="logo" alt="">
      </a>
    </div>
  </nav>
</div>  
<div class="my-page">
  <form class="my-page__form registration">
    <fieldset >
      <legend class="my-page__description text-center mb-5 pb-md-5"> メールアドレスを登録して <br/>
        診療予約をしてください</legend>
      <div class="mb-5">
        <input type="password"  class="form-control " placeholder="メールアドレス ">
      </div>
       <div class="text-center">
         <button type="submit" class="btn btn-primary disabled">個人情報登録画面へ</button>
       </div>
    </fieldset>
  </form>
</div>
<footer class="footer">
  <div class="container">
      <div class="footer__logo">
        <img src="/assets/img/logo-white.png" alt="">
      </div>
      <p class="footer__reserved">
        Copyright 2022 T-medical.clinic. All Rights Reserved.
      </p>
  </div>
</footer>
<div class="bg-underground">
  <img src="../assets/img/bg_register.png" class="w-100 d-none d-lg-block" alt="">
  <img src="../assets/img/bg_register-mobile.png" class="w-100 d-block d-lg-none" alt="">
</div>