<div class="header register">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="/assets/img/logo.png" class="logo" alt="">
      </a>
    </div>
  </nav>
</div>  
<div class="my-page error-register">
  <form class="my-page__form registration">
    <fieldset >
      <div class="text-center mb-3">
        <img src="../assets/img/icon-error.png" alt="">
      </div>
        <p class="text-center my-page__form--sub mb-3  d-none d-md-block">
          エラーテキストエラーテキストエラーテキスト <br/>
          エラーテキストエラーテキスト
        </p>
        <p class="text-center my-page__form--sub mb-3 d-block d-md-none">
          エラーテキストエラーテキストエラーテキスト 
          エラーテキストエラーテキスト
        </p>
        <button class="btn btn-error">戻る</button>
    </fieldset>
  </form>
</div> 
<footer class="footer">
  <div class="container">
      <div class="footer__logo">
        <img src="/assets/img/logo-white.png" alt="">
      </div>
      <p class="footer__reserved">
        Copyright 2022 T-medical.clinic. All Rights Reserved.
      </p>
  </div>
</footer>
