<div class="header register">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="/assets/img/logo.png" class="logo" alt="">
      </a>
    </div>
  </nav>
</div>  
<div class="my-page">
  <form class="my-page__form">
    <div class="my-page__form--timeline">
      <ul class="progressbar mb-5 icon">
        <li class="">
          <a href="#">
            <img src="../assets/img/icon-regis-1-active.png" alt="">
          </a>
        </li>
        <li class="">
          <a href="#"><img src="../assets/img/icon-regis-2.png" alt=""></a>
        </li>
        <li>
          <a href="#"><img src="../assets/img/icon-regis-3.png" alt=""></a>
        </li>
        <li>
          <a href="#"> <img src="../assets/img/icon-regis-4.png" alt=""></a>
        </li>
      </ul>
      <ul class="progressbar mb-0">
        <li class="active">
          <a href="#"> <span class="d-none d-lg-block">個人情報登録</span>
          <span class="d-block d-lg-none">個人情報</span>
         </a>
        </li>
        <li class="">
          <a href="#"><span class="d-none d-lg-block">決済情報登録</span>
          <span class="d-block d-lg-none">決済情報</span></a>
        </li>
        <li>
          <a href="#">会員情報確認</a>
        </li>
        <li>
          <a href="#"><span class="d-none d-lg-block">会員情報登録完了</span></a>
          <a href="#"><span class="d-block d-lg-none">登録完了</span></a>
        </li>
      </ul>
    </div>
    <fieldset >
      <legend class="my-page__title text-md-center"> 個人情報登録</legend>
      <!-- パスワード -->
      <div class="mb-4 position-relative">
        <label for="" class="form-label">パスワード</label>
        <input type="text"  class="form-control" placeholder="パスワードを入力してください。">
      </div>
      <hr>
      <!-- パスワード（確認） -->
      <div class="mb-4 position-relative">
        <label for="" class="form-label">パスワード（確認）</label>
        <input type="text"  class="form-control " placeholder="パスワードを入力してください。">
      </div>
      <hr>
      <!-- 姓名（姓） -->
      <div class="row">
        <div class="col-6">
          <div class="pb-4 position-relative">
            <label for="" class="form-label">姓</label>
            <input type="text"  class="form-control is-invalid" id="validationServerUsernameFeedback" placeholder="例）山田" required>
            <div id="validationServerUsernameFeedback" class="invalid-feedback">
              Please choose a username.
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="pb-4 position-relative">
            <label for="" class="form-label">名</label>
            <input type="text"  class="form-control " placeholder="例）太郎">
          </div>
        </div>
      </div>
      <hr>
       <!-- 姓名（姓） -->
       <div class="row">
        <div class="col-6">
          <div class="pb-4 position-relative">
            <label for="" class="form-label">セイ</label>
            <input type="text"  class="form-control " placeholder="例）ヤマダ">
          </div>
        </div>
        <div class="col-6">
          <div class="pb-4 position-relative">
            <label for="" class="form-label">メイ</label>
            <input type="text"  class="form-control " placeholder="例）タロウ">
          </div>
        </div>
      </div>
      <hr>
      <!-- 性別 -->
      <div class="mb-4 position-relative">
        <label for="" class="form-label d-block">性別</label>
        <div class="d-flex align-items-center justify-content-between">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">男性</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">女性</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3" >
            <label class="form-check-label" for="inlineRadio3">回答しない</label>
          </div>
        </div>
      </div>
      <hr>
      <!-- 生年月日 -->
      <div class="">
        <label for="" class="form-label">生年月日</label>
        <div class="row">
          <div class="col-5 pb-4 position-relative d-flex align-items-end">
            <select class="js-example-placeholder-single js-states form-control">
              <option>1</option>
              <option>1</option>
              <option>1</option>
              <option>1</option>
              <option>1</option>
              <option>1</option>
              <option>1</option>
              <option>1</option>
              <option>1</option>
              <option>1</option>
              <option>1</option>
              <option>1</option>
              <option>1</option>
              <option>1</option>
              <option>1</option>
              <option>1</option>
              <option>1</option>
              <option>1</option>
              <option>1</option>
              <option>1</option>
            </select>
            <div id="invalidTest2" class="invalid-feedback">
              Please choose a username.
            </div>
            <span class="ms-2 grey fz-16">年</span>
          </div>
            <div class="col-7">
              <div class="row">
                <div class="col-6 pb-4 position-relative d-flex align-items-end">
                    <select class="js-example-placeholder-single js-states form-control">
                      <option>1</option>
                      <option>1</option>
                      <option>1</option>
                      <option>1</option>
                      <option>1</option>
                    </select>
                  <span class="ms-2 grey fz-16">年</span>
                </div>
                <div class="col-6 mb-4 position-relative d-flex align-items-end">
                  <select class="js-example-placeholder-single js-states form-control">
                    <option>1</option>
                    <option>1</option>
                    <option>1</option>
                    <option>1</option>
                    <option>1</option>
                  </select>
                  <span class="ms-2 grey fz-16">年</span>
                </div>
              </div>
            </div>
        </div>
      </div>
      <hr>
      <!-- 電話番号 -->
      <div class="mb-4 position-relative">
        <label for="" class="form-label">電話番号</label>
        <input type="text"  class="form-control " placeholder="例）090-111-2222">
      </div>
      <hr>
      <!-- 郵便番号 -->
      <div class="mb-4 position-relative">
        <div class="row">
          <div class="col-md-7">
            <label for="" class="form-label">郵便番号</label>
            <input type="text"  class="form-control " placeholder="">
          </div>
          <div class="col-md-5 mt-auto">
            <button class="btn btn-bg-primary">郵便番号から住所検索</button>
          </div>
        </div>
      </div>
      <hr>
       <!-- 郵便番号 -->
       <div class="mb-4 position-relative">
        <label for="" class="form-label">郵便番号</label>
        <input type="text"  class="form-control " placeholder="例）123-4567">
      </div>
      <hr>
      <!-- 住所 -->
      <div class="mb-4 position-relative">
       <label for="" class="form-label">住所</label>
       <input type="text"  class="form-control " placeholder="例）東京都中央区京橋3-1-1">
     </div>
      <hr>
        <!-- 身長 -->
        <div class="row">
          <div class="col-md-6 d-flex align-items-end mb-4 position-relative">
            <div class="w-100">
              <label for="" class="form-label">身長</label>
              <input type="number" min="100" max="200"  class="form-control w-100 is-invalid" id="invalidTest1" placeholder="">
            </div>
            <span class="ms-2 grey">cm</span>
          </div>
          <hr class="d-block d-md-none">
          <div class="col-md-6 d-flex align-items-end mb-4 position-relative">
            <div class="w-100">
              <label for="" class="form-label">体重</label>
              <input type="text"  class="form-control w-100" placeholder="">
            </div>
            <span class="ms-2 grey">kg</span>
          </div>
        </div>
        <hr>
          <!-- BMI -->
        <div class="mb-4 position-relative">
          <label for="" class="form-label d-block mb-2">BMI</label>
          <!-- <span class="d-block bmi-note mb-2">※身長と体重を入力後、自動計算で追加されます。</span> -->
          <div class="row">
            <div class="col-md-12">
              <input type="text"  class="form-control " placeholder="※身長と体重を入力後、自動計算で追加されます。" >
            </div>
          </div>
        </div>
      <div class="text-center pt-4">
         <button type="submit" class="btn btn-primary disabled">決済情報登録画面へ</button>
       </div>
    </fieldset>
  </form>
</div>
