<div class="my-page">
  <form class="my-page__form reset-ok registration">
    <fieldset >
      <img src="/assets/img/icon-mail-ok.png" class="mb-4" alt="">
      <h3 class="my-page__title fz-18 font-semi grey">パスワード再設定メールを <br/>
        ご設定いただいたメールアドレスに送信いたしました。</h3>
      <!-- <button class="btn btn-primary">マイページ</button> -->
    </fieldset>
  </form>
</div>