<div class="my-page mt-5">
  <form class="my-page__form reset-ok registration">
    <fieldset >
      <legend class="my-page__title text-start"> パスワード再設定</legend>
      <img src="/assets/img/icon-expiry.png" class="mb-4" alt="">
      <h3 class="my-page__title fz-18 font-semi grey">パスワード再設定メールの有効期限が切れています。 <br/>
        もう一度試してください。</h3>
    </fieldset>
  </form>
</div>