<div class="treatment__list">
  <a class="treatment__list--item d-inline-block" href="#">
    <div class="form-check">
      <label class="form-check-label" for="flexRadioDefault1">
        10:00~10:15
      </label>
      <input class="form-check-input  mt-0" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
    </div>
  </a>
  <a class="treatment__list--item d-inline-block empty" href="#">
    <div class="form-check opacity-0">
      <label class="form-check-label" for="flexRadioDefault1">
        10:00~10:15
      </label>
      <input class="form-check-input  mt-0" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
    </div>
  </a>
  <a class="treatment__list--item d-inline-block" href="#">
    <div class="form-check">
      <label class="form-check-label" for="flexRadioDefault1">
        10:00~10:15
      </label>
      <input class="form-check-input  mt-0" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
    </div>
  </a>
  <a class="treatment__list--item d-inline-block" href="#">
    <div class="form-check">
      <label class="form-check-label" for="flexRadioDefault1">
        10:00~10:15
      </label>
      <input class="form-check-input  mt-0" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
    </div>
  </a>
</div>
<div class="treatment__list">
  <a class="treatment__list--item d-inline-block active" href="#">
    <div class="form-check">
      <label class="form-check-label" for="flexRadioDefault1">
        10:00~10:15
      </label>
      <input class="form-check-input   mt-0" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
    </div>
  </a>
  <a class="treatment__list--item d-inline-block" href="#">
    <div class="form-check">
      <label class="form-check-label" for="flexRadioDefault1">
        10:00~10:15
      </label>
      <input class="form-check-input  mt-0" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
    </div>
  </a>
  <a class="treatment__list--item d-inline-block" href="#">
    <div class="form-check">
      <label class="form-check-label" for="flexRadioDefault1">
        10:00~10:15
      </label>
      <input class="form-check-input  mt-0" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
    </div>
  </a>
  <a class="treatment__list--item d-inline-block" href="#">
    <div class="form-check">
      <label class="form-check-label" for="flexRadioDefault1">
        10:00~10:15
      </label>
      <input class="form-check-input  mt-0" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
    </div>
  </a>
</div>
<div class="treatment__list">
  <a class="treatment__list--item d-inline-block" href="#">
    <div class="form-check">
      <label class="form-check-label" for="flexRadioDefault1">
        10:00~10:15
      </label>
      <input class="form-check-input  mt-0" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
    </div>
  </a>
  <a class="treatment__list--item d-inline-block" href="#">
    <div class="form-check">
      <label class="form-check-label" for="flexRadioDefault1">
        10:00~10:15
      </label>
      <input class="form-check-input  mt-0" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
    </div>
  </a>
  <a class="treatment__list--item d-inline-block" href="#">
    <div class="form-check">
      <label class="form-check-label" for="flexRadioDefault1">
        10:00~10:15
      </label>
      <input class="form-check-input  mt-0" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
    </div>
  </a>
  <a class="treatment__list--item d-inline-block" href="#">
    <div class="form-check">
      <label class="form-check-label" for="flexRadioDefault1">
        10:00~10:15
      </label>
      <input class="form-check-input  mt-0" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
    </div>
  </a>
</div>
<div class="treatment__list">
  <a class="treatment__list--item d-inline-block" href="#">
    <div class="form-check">
      <label class="form-check-label" for="flexRadioDefault1">
        10:00~10:15
      </label>
      <input class="form-check-input  mt-0" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
    </div>
  </a>
  <a class="treatment__list--item d-inline-block" href="#">
    <div class="form-check">
      <label class="form-check-label" for="flexRadioDefault1">
        10:00~10:15
      </label>
      <input class="form-check-input  mt-0" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
    </div>
  </a>
  <a class="treatment__list--item d-inline-block" href="#">
    <div class="form-check">
      <label class="form-check-label" for="flexRadioDefault1">
        10:00~10:15
      </label>
      <input class="form-check-input  mt-0" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
    </div>
  </a>
  <a class="treatment__list--item d-inline-block" href="#">
    <div class="form-check">
      <label class="form-check-label" for="flexRadioDefault1">
        10:00~10:15
      </label>
      <input class="form-check-input  mt-0" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
    </div>
  </a>
</div>
<div class="treatment__list">
  <a class="treatment__list--item d-inline-block" href="#">
    <div class="form-check">
      <label class="form-check-label" for="flexRadioDefault1">
        10:00~10:15
      </label>
      <input class="form-check-input  mt-0" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
    </div>
  </a>
  <a class="treatment__list--item d-inline-block" href="#">
    <div class="form-check">
      <label class="form-check-label" for="flexRadioDefault1">
        10:00~10:15
      </label>
      <input class="form-check-input  mt-0" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
    </div>
  </a>
  <a class="treatment__list--item d-inline-block" href="#">
    <div class="form-check">
      <label class="form-check-label" for="flexRadioDefault1">
        10:00~10:15
      </label>
      <input class="form-check-input  mt-0" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
    </div>
  </a>
  <a class="treatment__list--item d-inline-block" href="#">
    <div class="form-check">
      <label class="form-check-label" for="flexRadioDefault1">
        10:00~10:15
      </label>
      <input class="form-check-input  mt-0" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
    </div>
  </a>
</div>
<div class="treatment__list">
  <a class="treatment__list--item d-inline-block" href="#">
    <div class="form-check">
      <label class="form-check-label" for="flexRadioDefault1">
        10:00~10:15
      </label>
      <input class="form-check-input  mt-0" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
    </div>
  </a>
  <a class="treatment__list--item d-inline-block" href="#">
    <div class="form-check">
      <label class="form-check-label" for="flexRadioDefault1">
        10:00~10:15
      </label>
      <input class="form-check-input  mt-0" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
    </div>
  </a>
  <a class="treatment__list--item d-inline-block" href="#">
    <div class="form-check">
      <label class="form-check-label" for="flexRadioDefault1">
        10:00~10:15
      </label>
      <input class="form-check-input  mt-0" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
    </div>
  </a>
  <a class="treatment__list--item d-inline-block" href="#">
    <div class="form-check">
      <label class="form-check-label" for="flexRadioDefault1">
        10:00~10:15
      </label>
      <input class="form-check-input  mt-0" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
    </div>
  </a>
</div>
<div class="treatment__list">
  <a class="treatment__list--item d-inline-block" href="#">
    <div class="form-check">
      <label class="form-check-label" for="flexRadioDefault1">
        10:00~10:15
      </label>
      <input class="form-check-input  mt-0" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
    </div>
  </a>
  <a class="treatment__list--item d-inline-block" href="#">
    <div class="form-check">
      <label class="form-check-label" for="flexRadioDefault1">
        10:00~10:15
      </label>
      <input class="form-check-input  mt-0" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
    </div>
  </a>
  <a class="treatment__list--item d-inline-block" href="#">
    <div class="form-check">
      <label class="form-check-label" for="flexRadioDefault1">
        10:00~10:15
      </label>
      <input class="form-check-input  mt-0" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
    </div>
  </a>
  <a class="treatment__list--item d-inline-block" href="#">
    <div class="form-check">
      <label class="form-check-label" for="flexRadioDefault1">
        10:00~10:15
      </label>
      <input class="form-check-input  mt-0" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
    </div>
  </a>
</div>
<div class="treatment__list">
  <a class="treatment__list--item d-inline-block" href="#">
    <div class="form-check">
      <label class="form-check-label" for="flexRadioDefault1">
        10:00~10:15
      </label>
      <input class="form-check-input  mt-0" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
    </div>
  </a>
  <a class="treatment__list--item d-inline-block" href="#">
    <div class="form-check">
      <label class="form-check-label" for="flexRadioDefault1">
        10:00~10:15
      </label>
      <input class="form-check-input  mt-0" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
    </div>
  </a>
  <a class="treatment__list--item d-inline-block" href="#">
    <div class="form-check">
      <label class="form-check-label" for="flexRadioDefault1">
        10:00~10:15
      </label>
      <input class="form-check-input  mt-0" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
    </div>
  </a>
  <a class="treatment__list--item d-inline-block" href="#">
    <div class="form-check">
      <label class="form-check-label" for="flexRadioDefault1">
        10:00~10:15
      </label>
      <input class="form-check-input  mt-0" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
    </div>
  </a>
</div>
<div class="treatment__list">
  <a class="treatment__list--item d-inline-block" href="#">
    <div class="form-check">
      <label class="form-check-label" for="flexRadioDefault1">
        10:00~10:15
      </label>
      <input class="form-check-input  mt-0" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
    </div>
  </a>
  <a class="treatment__list--item d-inline-block" href="#">
    <div class="form-check">
      <label class="form-check-label" for="flexRadioDefault1">
        10:00~10:15
      </label>
      <input class="form-check-input  mt-0" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
    </div>
  </a>
  <a class="treatment__list--item d-inline-block" href="#">
    <div class="form-check">
      <label class="form-check-label" for="flexRadioDefault1">
        10:00~10:15
      </label>
      <input class="form-check-input  mt-0" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
    </div>
  </a>
  <a class="treatment__list--item d-inline-block" href="#">
    <div class="form-check">
      <label class="form-check-label" for="flexRadioDefault1">
        10:00~10:15
      </label>
      <input class="form-check-input  mt-0" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
    </div>
  </a>
</div>
<div class="treatment__list">
  <a class="treatment__list--item d-inline-block" href="#">
    <div class="form-check">
      <label class="form-check-label" for="flexRadioDefault1">
        10:00~10:15
      </label>
      <input class="form-check-input  mt-0" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
    </div>
  </a>
  <a class="treatment__list--item d-inline-block" href="#">
    <div class="form-check">
      <label class="form-check-label" for="flexRadioDefault1">
        10:00~10:15
      </label>
      <input class="form-check-input  mt-0" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
    </div>
  </a>
  <a class="treatment__list--item d-inline-block" href="#">
    <div class="form-check">
      <label class="form-check-label" for="flexRadioDefault1">
        10:00~10:15
      </label>
      <input class="form-check-input  mt-0" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
    </div>
  </a>
  <a class="treatment__list--item d-inline-block" href="#">
    <div class="form-check">
      <label class="form-check-label" for="flexRadioDefault1">
        10:00~10:15
      </label>
      <input class="form-check-input  mt-0" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
    </div>
  </a>
</div>